<router-outlet></router-outlet>

<ngx-spinner
*ngIf="isBrowser()" 
bdColor = '{{selectedIndicator().bg_color}}'
size = "large"
color = '{{selectedIndicator().color}}'
type = {{selectedIndicator().name}} 
[fullScreen] = "true"
style.color = "{{selectedIndicator()!.color}}"
>
<h3 class="text-center mt-5" [style.font-family]="storeInfo().fontName!">{{storeInfo()?.fullName}}
</h3>
</ngx-spinner>
  <!-- Header-->

  <header *ngIf="isBrowser()" class="bg-{{storeInfo().colorStyle!.back_code}} py-6" style="height: fit-content;">
    <img class="w-100 h-100" [src]='storeInfo()!.themeLink?.toString()'>
  </header>


  <section *ngIf="isBrowser() && hasCart();" class="py-5" style.background-color="{{selectedTheme()!.bg_color}}">
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- List of items-->
          <!-- <div class="d-flex justify-content-left align-items-center pb-4 pb-sm-5 mt-1 ms-2 ps-1">
            <a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
          </div> -->

          <section class="col-lg-8">
            

            <div class="bg-{{storeInfo().colorStyle!.back_code}} rounded-3 shadow-lg p-2 pb-1">
              <div class="py-0 px-xl-2">
                <div class="text-accent">
                  <h2 [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}" class="h6 mb-3 pb-1 ps-4 mt-2">1. Shipping Address</h2>
                  <h3 [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}" class="fw-normal ps-4" style="font-style: italic">{{getShippingAddressFirst()}}</h3>
                  <h3 [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}" class="fw-normal ps-4" style="font-style: italic">{{getShippingAddressSecond()}}</h3>
                  <h3 [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}" class="fw-normal ps-4" style="font-style: italic">{{getShippingAddressThird()}}</h3>
                  <!-- <p><a [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}" role="button" (click)="routeToShipping()" href="/{{storeInfo().username}}/shipping-address" class="text-primary text-decoration-none ps-4" style="font-weight: bold;">Change</a></p> -->
                </div>
              </div>
          </div>
<!-- 
            <div class="bg-white rounded-3 shadow-lg p-2 pt-3 pb-1 mt-3">
                <div class="py-0 px-xl-2">
                  <div [hidden]="stillLoadingProducts()" class="text-accent">
                    <h2 class="h6 mb-3 pb-1 ps-4 mt-2">2. Payment Method </h2>
                    <h3 class="fw-normal ps-4" style="font-style: italic">{{getBillingAddressFirst()}}</h3>
                    <p><a href="/{{storeInfo().username}}/billing-info" class="text-primary text-decoration-none ps-4" style="font-weight: bold;">Change</a></p>
                    </div>
                </div>
            </div> -->
            <!-- Item-->
            <div class="bg-{{storeInfo().colorStyle!.back_code}} rounded-3 shadow-lg p-4 pt-3 mt-4">
              <h2 class="h6 mb-1 pb-1 ps-1 mt-2"><a role="button" class="text-decoration-none" style.color="{{selectedTheme()!.color}}" [style.font-family]="storeInfo().fontName!" style="font-weight: bold;">Order #: {{selectedOrder()!.orderID}}</a></h2>
              <div class="py-2 px-xl-2 ">
                <div *ngFor="let product of selectedOrder()!.products" class="d-sm-flex justify-content-between align-items-center pb-3 pt-2">
                    <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" (click)='routeToProduct(product.product!.productID)'><img style="border-radius: 2.5%;" src="{{product.product!.url}}" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/clothingapp-ed125.appspot.com/o/Resources%2Flink_empty.jpeg?alt=media';" width="160" alt="Product"/></a>
                      <div class="pt-2">
                          <p [style.font-family]="storeInfo().fontName!"><a role="button" (click)='routeToProduct(product.product!.productID)' class="text-{{storeInfo().colorStyle!.text_code}} text-decoration-none" style="font-weight: bold;">{{product.product?.name ?? ""}}</a></p>                          
                        <div class="fs-sm" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}"><span [style.font-family]="storeInfo().fontName!" class="text-muted me-2">Size:</span>{{product.size ?? "M"}}</div>
                        <div class="fs-sm" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}"><span [style.font-family]="storeInfo().fontName!" class="text-muted me-2">Color:</span>{{getColor(product.product)}}</div>
                        <div class="fs-sm" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}"><span [style.font-family]="storeInfo().fontName!" class="text-muted me-2">Qty:</span>{{product.quantity ?? 1}}</div>
                        <div class="fs-lg text-accent pt-2" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}">{{formatPrice(product.product!.price / 100)}}</div>
                      </div>
                      <!-- (click)="trackingLink()" -->
                    </div>
                </div>
            </div>


              </div>

            
          </section>
          <!-- Sidebar-->
          <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div [hidden]="stillLoading()" class="bg-{{storeInfo().colorStyle!.back_code}} rounded-3 shadow-lg p-4 pb-0">
              <div class="py-2 px-xl-2">
                <!-- (click)="placeOrder()" -->
                <a *ngIf="selectedOrder()?.trackingNumber ?? false" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.bg_color}}" style.background-color="{{selectedTheme()!.color}}" class="btn d-block w-100 mb-4" type="button" (click)="trackingLink()"><i class="ci-card fs-lg me-2"></i>Track Order</a>

                <div style.color="{{selectedTheme()!.color}}" class="text-center mt-4 pt-3 border-top border-bottom">
                <div class="d-flex justify-content-between">
                    <h3 class="fw-bold" style="font-size: 9;">Items ({{itemCount()}}):</h3>
                    <h3 class="fw-normal" style="font-size: 9;">{{formatPrice(total())}}</h3>
                </div>
                <div class="d-flex justify-content-between">
                    <h3 class="fw-bold" style="font-size: 9;">Shipping & Handling:</h3>
                    <h3 class="fw-normal" style="font-size: 9;">{{shipping()}}</h3>
                </div>
                <div class="d-flex justify-content-between">
                    <h3 class="fw-bold" style="font-size: 9;">Sales Tax:</h3>
                    <h3 class="fw-normal" style="font-size: 9;">{{productTax()}}</h3>
                </div>
                </div>
                <div class="d-flex justify-content-between pt-2 mt-2">
                    <h3 class="fw-bold" style="font-size: 9;">Order Total:</h3>
                    <h3 class="fw-normal" style="font-size: 9;">{{orderTotal()}}</h3>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
  </section>
