<router-outlet></router-outlet>

<div
  *ngIf="isBrowser() && storeInfo"
  class="wrapper w-100 bg-light"
  style="min-height: 100vh"
>
  <div *ngIf="signedIn" id="content" class="tab w-100">
    <mat-tab-group
      mat-stretch-tabs
      #menu
      class="w-100"
      dynamicHeight
      animationDuration="0ms"
      style="overflow-y: hidden; background-color: white"
    >
      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon text-dark">public</mat-icon>
          <span class="ms-2 text-dark big-design-body fw-bold">
            Analytics
          </span>
        </ng-template>

        <div class="px-2 bg-light">
          <div class="w-100 pt-1 bg-light px-4">
            <div
              class="d-flex justify-content-between align-items-center py-3"
              style="width: 100%"
            >
              <p
                class="big-design-title"
                style="
                  font-weight: lighter;
                  font-size: 2rem;
                  font-weight: 300;
                  line-height: 2.5rem;
                "
              >
                Analytics
              </p>

              <mat-form-field
                class="big-design-title px-0 mat-form-field-no-padding"
                style="font-size: large"
                floatLabel="never"
                appearance="legacy"
              >
                <mat-date-range-input
                  [formGroup]="dateRange"
                  [rangePicker]="picker"
                  [comparisonStart]="dateRange.value.start"
                  role="button"
                  class="ms-1"
                  [comparisonEnd]="dateRange.value.end"
                  [max]="today"
                >
                  <input
                    matStartDate
                    readonly
                    (click)="picker.open()"
                    role="button"
                    placeholder="Start date"
                    formControlName="start"
                    #dateRangeStart
                    matTooltip="Start Date"
                  />
                  <input
                    matEndDate
                    readonly
                    (click)="picker.open()"
                    role="button"
                    placeholder="End date"
                    formControlName="end"
                    #dateRangeEnd
                    matTooltip="End Date"
                    (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
                  />
                </mat-date-range-input>

                <a
                  mat-icon-button
                  class="p-0 me-0 my-auto"
                  matPrefix
                  matTooltip="Edit Date Range"
                  (click)="picker.open()"
                >
                  <mat-icon class="m-0" style="font-size: x-large"
                    >event</mat-icon
                  >
                </a>

                <mat-date-range-picker touchUi #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div
              class="w-100 h-100 d-flex flex-column-reverse flex-md-row justify-content-between align-items-start pb-md-4"
            >
              <div
                class="w-100 w-md-50 h-md-100 d-flex justify-content-start align-items-top flex-column pe-md-2 pb-4"
              >
                <div class="my-2 mt-md-0" *ngIf="storeInfo.active">
                  <app-notification
                    [canClose]="false"
                    [title]="'Ready To Go!'"
                    [subtitle]="'Customers can view and buy NFTs'"
                    [icon]="'check_circle'"
                    [iconColor]="'success'"
                  >
                  </app-notification>
                </div>
                <div
                  class="my-2 mt-md-0"
                  *ngIf="storeInfo && !storeInfo.active"
                >
                  <app-notification
                    [canClose]="false"
                    [title]="'Action Required!'"
                    [subtitle]="
                      'Finish setting up your account in Account settings.'
                    "
                    [iconColor]="'danger'"
                    [icon]="'error'"
                  >
                  </app-notification>
                </div>
                <div class="big-design-card my-0 px-0">
                  <app-data-table
                    [analytics]="{
                      name: 'Activity',
                      locData: (views | location),
                      nftData: (views | location: undefined:1:collections)
                    }"
                    [collections]="collections"
                    (clicked)="
                      $event.mode == 0
                        ? scrollToLocation($event.data)
                        : createNewNFT($event.data)
                    "
                  ></app-data-table>
                </div>
              </div>

              <div
                class="w-100 w-md-50 pb-md-1 d-flex justify-content-between align-items-center flex-column earth-frame"
              >
                <div class="p-0 h-100 w-100">
                  <div class="h-100 w-100 big-design-card p-0 bg-black">
                    <div class="big-design-body position-relative h-100 w-100">
                      <iframe
                        style="border-radius: 0.25rem"
                        class="w-100 h-100 position-absolute"
                        id="earthFrame"
                        [srcdoc]="
                          str
                            | liveEarthViewPipe: views ?? []
                            | liveEarthPipe: []
                            | safeHtml
                        "
                      >
                      </iframe>

                      <div
                        class="d-inline-flex align-items-top justify-content-between"
                        style="top: 1.2rem; left: 1.5rem; position: absolute"
                      >
                        <div class="h-100">
                          <a
                            class="side d-flex align-items-center justify-content-start"
                            style="font-size: large"
                          >
                            <mat-icon
                              [inline]="true"
                              class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                              style="background-color: #ff003f; aspect-ratio: 1"
                            >
                            </mat-icon>
                            <p
                              class="my-0 big-design-body"
                              style="color: white; font-size: larger"
                            >
                              {{
                                (views | views)?.length ?? 0
                                  | i18nPlural: viewMapping
                              }}
                            </p>
                          </a>
                          <a
                            role="button"
                            class="side d-flex mt-2 align-items-center justify-content-start"
                            style="font-size: large"
                          >
                            <mat-icon
                              [inline]="true"
                              class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                              style="
                                background-color: rgb(0, 188, 75);
                                aspect-ratio: 1;
                              "
                            >
                            </mat-icon>
                            <p
                              class="my-0 big-design-body"
                              style="color: white; font-size: larger"
                            >
                              {{
                                (views | sales)?.length ?? 0
                                  | i18nPlural: saleMapping
                              }}
                            </p>
                          </a>
                        </div>
                      </div>

                      <div
                        *ngIf="selectedCoord"
                        class="position-absolute w-100 h-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
                        style="
                          border-radius: 0.25rem;
                          background-color: rgba(0, 0, 0, 0.406);
                        "
                        (click)="closeCard()"
                      ></div>
                      <div
                        class="big-design-card bg-white animate__animated animate__fadeInRight animate__faster animate__delay-0s"
                        *ngIf="selectedCoord"
                        style="
                          top: 10px;
                          right: 10px;
                          position: absolute;
                          width: 275px;
                        "
                      >
                        <app-view-coord
                          [coord]="selectedCoord"
                          (close)="closeCard()"
                          (open)="createNewNFT($event)"
                        ></app-view-coord>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon
            class="example-tab-icon text-{{
              (storeInfo?.colorStyle)!.text_code
            }}"
          >
            token</mat-icon
          >
          <span class="ms-2 text-dark big-design-body fw-bold">
            Collections
          </span>
        </ng-template>
        <div class="h-100 w-100 bg-light">
          <div
            *ngIf="collections && collections?.length != 0"
            class="px-2 mt-0 pt-0 w-100"
          >
            <div class="w-100 h-100 py-5 pt-3 px-4">
              <div
                class="d-flex justify-content-between align-items-center py-2"
                style="width: 100%"
              >
                <p
                  class="big-design-title"
                  style="
                    font-weight: lighter;
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                  "
                >
                  Collections
                </p>
                <p
                  (click)="createNewProduct()"
                  class="big-design-alt-button ps-2"
                  style="right: 0px; margin-right: 0px"
                  matTooltip="Create New Collection"
                >
                  <mat-icon class="h-100 me-1" style="aspect-ratio: 1">
                    add
                  </mat-icon>
                  Add new
                </p>
              </div>

              <div
                class="mb-4 mt-1 big-design-card px-0"
                *ngFor="
                  let collection of collections ?? []
                    | collectionFilter: 'timestamp-asc'
                "
              >
                <app-collection-table
                  [collection]="collection"
                  [count]="collection.collectionCount ?? 0"
                  [utility]="utilities ?? []"
                  (viewNFT)="createNewNFT($event)"
                >
                </app-collection-table>
              </div>
            </div>
          </div>

          <div
            *ngIf="collections && collections!.length == 0"
            class="px-2 mt-0 pt-0 w-100"
          >
            <div class="w-100 h-100 py-5 pt-3 px-4">
              <div
                class="d-flex justify-content-between align-items-center py-2"
                style="width: 100%"
              >
                <p
                  class="big-design-title"
                  style="
                    font-weight: lighter;
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                  "
                >
                  Collections
                </p>
                <p
                  (click)="createNewProduct()"
                  class="big-design-alt-button ps-2"
                  style="right: 0px; margin-right: 0px"
                  matTooltip="Create New Collection"
                >
                  <mat-icon class="h-100 me-1" style="aspect-ratio: 1">
                    add
                  </mat-icon>
                  Add new
                </p>
              </div>
              <div class="mb-4 mt-1 big-design-card px-0" style="height: 400px" role="button" (click)="createNewProduct()">
                <div
                  class="big-design-body px-4 pb-2 d-flex justify-content-center align-items-center h-100 w-100"
                >
                  <p
                    class="w-100 text-center big-design-title my-2"
                    style="font-size: large"
                  >
                    No Collections
                  </p>
                </div>
                <!-- <app-collection-table
                  [collection]="collection"
                  [count]="collection.collectionCount ?? 0"
                  [utility]="utilities ?? []"
                  (viewNFT)="createNewNFT($event)"
                >
                </app-collection-table> -->
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon"> web</mat-icon>
          <span class="ms-2 big-design-body fw-bold"> Pages </span>
        </ng-template>
        <div class="w-100 h-100 px-2 bg-light">
          <div class="w-100 pt-3 px-4">
            <div
              class="d-flex justify-content-between align-items-center py-2"
              style="width: 100%"
            >
              <p
                class="big-design-title"
                style="
                  font-weight: lighter;
                  font-size: 2rem;
                  font-weight: 300;
                  line-height: 2.5rem;
                "
              >
                Pages
              </p>
            </div>

            <div class="big-design-card px-0 mt-1">
              <app-page-table
                [data]="storeInfo?.pages ?? []"
                (viewPage)="showLayoutModal($event)"
              >
              </app-page-table>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="tab">
        <ng-template mat-tab-label>
          <mat-icon
            class="example-tab-icon text-{{
              storeInfo.active ? 'dark' : 'danger'
            }}"
          >
            account_circle</mat-icon
          >
          <span
            class="ms-2 text-{{
              storeInfo.active ? 'dark' : 'danger'
            }} big-design-body fw-bold"
          >
            Account
          </span>
        </ng-template>

        <div class="w-100 h-100 px-2 bg-light">
          <div class="w-100 pt-3 px-4">
            <div
              class="d-flex justify-content-between align-items-center py-2 mb-1"
              style="width: 100%"
            >
              <p
                class="big-design-title"
                style="
                  font-weight: lighter;
                  font-size: 2rem;
                  font-weight: 300;
                  line-height: 2.5rem;
                "
              >
                Account
              </p>
            </div>
            <div class="mx-0 mb-3" *ngIf="billingInfo == ''">
              <app-notification
                [actionBtn]="'Update'"
                [canClose]="false"
                [title]="'Action Required!'"
                [subtitle]="
                  'Update the payment method used for your Thred plan.'
                "
                (actionBtnPressed)="routeToBillingAdmin()"
                [iconColor]="'danger'"
                [icon]="'error'"
              >
              </app-notification>
            </div>
            <div class="mx-0 mb-3" *ngIf="subInfo == ''">
              <app-notification
                [actionBtn]="'Select Plan'"
                [canClose]="false"
                [title]="'Action Required!'"
                [subtitle]="
                  'Select a Thred plan to begin selling NFTs on your store.'
                "
                (actionBtnPressed)="editPlan()"
                [iconColor]="'danger'"
                [icon]="'error'"
              >
              </app-notification>
            </div>

            <div class="big-design-card mx-0" *ngIf="billingInfo != undefined">
              <div class="big-design-header">
                <p class="big-design-title">Billing</p>
                <a
                  class="big-design-button"
                  (click)="routeToBillingAdmin()"
                  matTooltip="View Details"
                >
                  {{ billingInfo == "" ? "Add" : "Edit" }}
                </a>
              </div>
              <div class="big-design-body" *ngIf="billingInfo">
                {{
                  (billingInfo?.brand | titlecase) +
                    " ending in " +
                    billingInfo?.number
                }}
                <br />
                {{ billingInfo.name }}
                <br />
                {{
                  billingInfo.street +
                    (billingInfo.unit == undefined
                      ? ""
                      : ". " + billingInfo.unit)
                }}
                <br />
                {{
                  billingInfo?.city +
                    ", " +
                    billingInfo?.admin_area +
                    ". " +
                    billingInfo?.postal
                }}
              </div>
              <div class="big-design-body" *ngIf="billingInfo == ''">
                This card will be used for your Thred Merchant Plan.
              </div>
            </div>

            <div class="big-design-card mt-3 mx-0" *ngIf="subInfo != undefined">
              <div class="big-design-header">
                <p class="big-design-title">Plan Type</p>
                <a
                  class="big-design-button"
                  (click)="editPlan()"
                  matTooltip="View Details"
                >
                  {{ "Edit" }}
                </a>
              </div>
              <div class="big-design-body" *ngIf="plans && subInfo">
                {{ plan(subInfo.plan.id)?.name }}

                <div
                  *ngIf="
                    subInfo != '' &&
                    subInfo.plan.id == plan(subInfo.plan.id)!.id &&
                    !subInfo!.cancel_at_period_end
                  "
                >
                  Renews: {{ planRenewalDate() }}
                </div>
                <div
                  *ngIf="
                    subInfo != '' &&
                    subInfo.plan.id == plan(subInfo.plan.id)!.id &&
                    subInfo!.cancel_at_period_end
                  "
                >
                  Cancels: {{ planEndDate() }}
                </div>

                {{
                  plan(subInfo.plan.id)?.price
                    | currency: "USD":"symbol-narrow"
                }}/month
                <br />
              </div>
              <div class="big-design-body" *ngIf="subInfo == ''">
                Select a Thred Merchant Plan to activate your store.
              </div>
            </div>

            <!-- <div class="big-design-card mx-0" *ngIf="billingInfo != undefined">
              <div class="big-design-header">
                <p class="big-design-title">Payment Methods</p>
                <a
                  class="big-design-button"
                  (click)="routeToBillingAdmin()"
                  matTooltip="View Details"
                >
                  {{ billingInfo == "" ? "Add" : "Edit" }}
                </a>
              </div>
              <div class="big-design-body" *ngIf="billingInfo">
                {{
                  (billingInfo?.brand | titlecase) +
                    " ending in " +
                    billingInfo?.number
                }}
                <br />
                {{ billingInfo.name }}
                <br />
                {{
                  billingInfo.street +
                    (billingInfo.unit == undefined
                      ? ""
                      : ". " + billingInfo.unit)
                }}
                <br />
                {{
                  billingInfo?.city +
                    ", " +
                    billingInfo?.admin_area +
                    ". " +
                    billingInfo?.postal
                }}
              </div>
              <div class="big-design-body" *ngIf="billingInfo == ''">
                This card will be used for your Thred Merchant Plan.
              </div>
            </div> -->


          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
