<!-- Navigation-->
<router-outlet></router-outlet>

<div
  *ngIf="isBrowser() && storeInfo"
  class="wrapper w-100 bg-light"
  style="min-height: 100vh"
>
  <!-- Page Content -->
  <div *ngIf="signedIn" id="content" class="tab w-100">
    <!-- <header *ngIf="isBrowser()" class="border-bottom">
      <div class="w-100 d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex justify-content-end w-100">
          <a
            class="btn rounded-pill mx-2 mb-0 card side bg-white text-{{
              (storeInfo?.colorStyle)!.text_code
            }}"
            role="button"
            (click)="toggleSidebar()"
            style="text-shadow: 2px 2px 4px #42424281"
          >
            <mat-icon>menu_open</mat-icon>
          </a>
          <div
            *ngIf="intValue != undefined"
            class="m-2 my-0 text-start w-75 ms-3 d-none d-md-flex justify-content-start align-items-center"
          >
            <div class="progress w-100 ms-0">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated bg-white"
                role="progressbar"
                aria-valuenow="intValue"
                aria-valuemin="0"
                aria-valuemax="100"
                [style.width.%]="intValue"
              ></div>
            </div>
            <p
              class="mb-0 fw-bolder ms-3"
              style="font-size: medium; white-space: nowrap"
            >
              Publishing Store...
            </p>
          </div>
        </div>
      </div>
    </header> -->

    <mat-tab-group
      mat-stretch-tabs
      #menu
      class="w-100"
      dynamicHeight
      animationDuration="0ms"
      style="overflow-y: hidden; background-color: white"
    >
      <mat-tab class="tab">
        <!-- #docregion label-directive -->
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon text-dark">public</mat-icon>
          <span class="ms-2 text-dark big-design-body fw-bold">
            Customer Activity
          </span>
        </ng-template>
        <div
          class="px-3 pt-2 bg-light"
          style="min-height: 100vh; overflow-y: scroll"
        >
          <div
            class="w-100 d-flex flex-column-reverse flex-md-row justify-content-between align-items-start h-100"
          >
            <div class="w-100 w-md-50 h-md-100">
              <div class="m-3" *ngIf="storeInfo.active">
                <app-notification
                  [canClose]="false"
                  [title]="'Ready To Go!'"
                  [subtitle]="'Customers can view and buy your NFTs.'"
                  [icon]="'check_circle'"
                  [iconColor]="'success'"
                >
                </app-notification>
              </div>
              <div class="m-3" *ngIf="billingInfo == ''">
                <app-notification
                  [actionBtn]="'Update'"
                  [canClose]="false"
                  [title]="'Action Required!'"
                  [subtitle]="
                    'Update the payment method used for your Thred plan.'
                  "
                  (actionBtnPressed)="routeToBillingAdmin()"
                  [iconColor]="'danger'"
                  [icon]="'error'"
                >
                </app-notification>
              </div>
              <div class="m-3" *ngIf="subInfo == ''">
                <app-notification
                  [actionBtn]="'Select Plan'"
                  [canClose]="false"
                  [title]="'Action Required!'"
                  [subtitle]="
                    'Select a Thred plan to begin selling NFTs on your store.'
                  "
                  (actionBtnPressed)="editPlan()"
                  [iconColor]="'danger'"
                  [icon]="'error'"
                >
                </app-notification>
              </div>
              <div class="big-design-card m-3">
                <div class="big-design-header">
                  <p class="big-design-title">Top Engagement</p>
                  <a
                    class="big-design-button"
                    (click)="scrollToLocation()"
                    [hidden]="!(views | location)[0]"
                  >
                    View Location
                  </a>
                </div>
                <div class="big-design-body">
                  <p class="mt-3">
                    {{ (views | location)[0]?.name }}
                  </p>
                  <div class="mt-3">
                    <div
                      class="d-flex align-items-center justify-content-start"
                      style="font-size: medium"
                    >
                      <mat-icon
                        [inline]="true"
                        class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                        style="
                          background-color: rgb(201, 33, 27);
                          aspect-ratio: 1;
                        "
                      >
                      </mat-icon>
                      <p class="my-0 big-design-body" style="font-size: medium">
                        {{
                          (views | location: undefined:"VIEW")?.length ?? 0
                            | i18nPlural: viewMapping
                        }}
                      </p>
                    </div>
                  </div>
                  <div class="mt-2">
                    <div
                      class="d-flex align-items-center justify-content-start"
                      style="font-size: medium"
                    >
                      <mat-icon
                        [inline]="true"
                        class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                        style="
                          background-color: rgb(0, 188, 75);
                          aspect-ratio: 1;
                        "
                      >
                      </mat-icon>
                      <p class="my-0 big-design-body" style="font-size: medium">
                        {{
                          (views | location: undefined:"SALE")?.length ?? 0
                            | i18nPlural: saleMapping
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="big-design-card m-3">
                <div class="big-design-header">
                  <p class="big-design-title">Top Views</p>
                  <a
                    class="big-design-button"
                    (click)="scrollToLocation('VIEW')"
                    [hidden]="!(views | location: 'VIEW')[0]"
                  >
                    View Location
                  </a>
                </div>
                <div class="big-design-body">
                  <p class="mt-3">
                    {{ (views | location: "VIEW")[0]?.name }}
                  </p>
                  <div class="mt-3">
                    <div
                      class="d-flex align-items-center justify-content-start"
                      style="font-size: medium"
                    >
                      <mat-icon
                        [inline]="true"
                        class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                        style="
                          background-color: rgb(201, 33, 27);
                          aspect-ratio: 1;
                        "
                      >
                      </mat-icon>
                      <p class="my-0 big-design-body" style="font-size: medium">
                        {{
                          (views | location: "VIEW":"VIEW")?.length ?? 0
                            | i18nPlural: viewMapping
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="big-design-card m-3">
                <div class="big-design-header">
                  <p class="big-design-title">Top Sales</p>
                  <a
                    class="big-design-button"
                    (click)="scrollToLocation('SALE')"
                    [hidden]="!(views | location: 'SALE')[0]"
                  >
                    View Location
                  </a>
                </div>
                <div class="big-design-body">
                  <p class="mt-3">
                    {{ (views | location: "SALE")[0]?.name }}
                  </p>
                  <div class="mt-2">
                    <div
                      class="d-flex align-items-center justify-content-start"
                      style="font-size: medium"
                    >
                      <mat-icon
                        [inline]="true"
                        class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                        style="
                          background-color: rgb(0, 188, 75);
                          aspect-ratio: 1;
                        "
                      >
                      </mat-icon>
                      <p class="my-0 big-design-body" style="font-size: medium">
                        {{
                          (views | location: "SALE":"SALE")?.length ?? 0
                            | i18nPlural: saleMapping
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-100 w-md-50 vh-60 vh-md-100 p-3 pb-0 pb-md-3">
              <div class="h-100 w-100 big-design-card p-0 bg-black">
                <div class="big-design-body position-relative h-100 w-100">
                  <iframe
                    style="border-radius: 0.25rem"
                    class="w-100 h-100 position-absolute"
                    id="earthFrame"
                    [srcdoc]="
                      str
                        | liveEarthViewPipe: views ?? []
                        | liveEarthPipe: []
                        | safeHtml
                    "
                  >
                  </iframe>

                  <div
                    class="d-inline-flex align-items-top justify-content-between"
                    style="top: 1.2rem; left: 1.5rem; position: absolute"
                  >
                    <div class="h-100">
                      <h1 class="big-design-title" style="color: white">
                        48 Hour Activity
                      </h1>
                      <a
                        class="side d-flex mt-2 align-items-center justify-content-start"
                        style="font-size: large"
                      >
                        <mat-icon
                          [inline]="true"
                          class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                          style="
                            background-color: rgb(201, 33, 27);
                            aspect-ratio: 1;
                          "
                        >
                          <!-- <span class="material-icons-outlined m-0 text-white">
                  person_outline
                </span> -->
                        </mat-icon>
                        <p
                          class="my-0 big-design-body"
                          style="color: white; font-size: larger"
                        >
                          {{
                            (views | views)?.length ?? 0
                              | i18nPlural: viewMapping
                          }}
                        </p>
                      </a>
                      <a
                        role="button"
                        class="side d-flex mt-2 align-items-center justify-content-start"
                        style="font-size: large"
                      >
                        <mat-icon
                          [inline]="true"
                          class="me-2 my-0 d-flex justify-content-center align-items-center px-1 rounded-circle"
                          style="
                            background-color: rgb(0, 188, 75);
                            aspect-ratio: 1;
                          "
                        >
                          <!-- <span class="material-icons-outlined m-0 text-white">
                  attach_money
                </span> -->
                        </mat-icon>
                        <p
                          class="my-0 big-design-body"
                          style="color: white; font-size: larger"
                        >
                          {{
                            (views | sales)?.length ?? 0
                              | i18nPlural: saleMapping
                          }}
                        </p>
                      </a>
                    </div>
                  </div>

                  <div
                    *ngIf="selectedCoord"
                    class="position-absolute w-100 h-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
                    style="
                      border-radius: 0.25rem;
                      background-color: rgba(0, 0, 0, 0.406);
                    "
                    (click)="closeCard()"
                  ></div>
                  <div
                    class="big-design-card bg-white animate__animated animate__fadeInRight animate__faster animate__delay-0s"
                    *ngIf="selectedCoord"
                    style="
                      top: 10px;
                      right: 10px;
                      position: absolute;
                      width: 275px;
                    "
                  >
                    <app-view-coord
                      [coord]="selectedCoord"
                      (close)="closeCard()"
                      (open)="createNewNFT($event)"
                    ></app-view-coord>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab">
        <!-- #docregion label-directive -->
        <ng-template mat-tab-label>
          <mat-icon
            class="example-tab-icon text-{{
              (storeInfo?.colorStyle)!.text_code
            }}"
          >
            rocket_launch</mat-icon
          >
          <span class="ms-2 text-dark big-design-body fw-bold">
            NFT Collections
          </span>
        </ng-template>
        <div class="h-100 w-100 bg-light">
          <div
            *ngIf="collections && collections?.length != 0"
            class="px-2 mt-0 pt-0 w-100"
          >
            <div class="w-100 h-100 py-5 pt-3 px-4">
              <div
                class="d-flex justify-content-between align-items-center py-2"
                style="width: 100%"
              >
                <p
                  class="big-design-title"
                  style="
                    font-weight: lighter;
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                  "
                >
                  Collections
                </p>
                <p
                  (click)="createNewProduct()"
                  class="big-design-alt-button ps-2"
                  style="right: 0px; margin-right: 0px"
                >
                  <mat-icon class="h-100 me-1" style="aspect-ratio: 1">
                    add
                  </mat-icon>
                  Add new
                </p>
              </div>

              <div
                class="mb-4 mt-1 big-design-card px-0"
                *ngFor="
                  let collection of collections ?? []
                    | collectionFilter: 'timestamp-asc'
                "
              >
                <app-collection-table
                  [collection]="collection"
                  [count]="collection.collectionCount ?? 0"
                  (viewNFT)="createNewNFT($event)"
                >
                </app-collection-table>
              </div>
            </div>
          </div>

          <div class="comp" *ngIf="collections && collections!.length == 0">
            <div class="big-design-card">
              <div class="big-design-header">
                <p class="big-design-title">No NFT Collections</p>
                <a class="big-design-button" (click)="createNewProduct()">
                  Create New
                </a>
              </div>
              <div class="big-design-body">
                <img
                  class="rounded w-100 mt-3"
                  style="object-fit: contain"
                  src="assets/car_preview.gif"
                />
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="tab">
        <!-- #docregion label-directive -->
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon"> web</mat-icon>
          <span class="ms-2 big-design-body fw-bold"> Pages </span>
        </ng-template>
        <div class="w-100 pt-3 bg-light">
          <div
            class="row row-cols-1 row-cols-md-2 justify-content-start ps-4 w-100 align-items-start h-100"
            style="overflow-x: hidden"
          >
            <div
              class="col p-1 py-md-2 px-md-3"
              *ngFor="let page of storeInfo?.pages ?? []"
            >
              <!-- (click)="showLayoutModal(page)" -->

              <div
                id="back"
                role="button"
                style="aspect-ratio: 2/1"
                class="big-design-card"
              >
                <div class="big-design-header">
                  <p class="big-design-title">
                    {{ page.title }}
                  </p>
                  <div
                    class="d-inline-flex justify-content-end align-items-center"
                  >
                    <a
                      role="button"
                      (click)="viewPage(page)"
                      class="big-design-alt-button me-2"
                    >
                      View
                    </a>
                    <a
                      role="button"
                      (click)="showLayoutModal(page)"
                      class="big-design-button"
                    >
                      Edit
                    </a>
                  </div>
                  <!-- <div
                    class="d-flex align-items-center justify-content-start justify-content-lg-between mt-2 mt-lg-0"
                  >
                    
                  

                    <a
                  role="button"
                  (click)="deletePage(page)"
                  class="ms-2 btn btn btn-{{
                    (storeInfo?.colorStyle)!.text_code
                  }} rounded-circle p-2 d-flex align-items-center justify-content-center"
                  style="aspect-ratio: 1"
                >
                  <mat-icon>delete</mat-icon>
                </a>
                  </div> -->
                </div>
                <div
                  class="big-design-body w-100 h-100 rounded border mt-3"
                  style="position: relative"
                  style.background-color="{{ selectedTheme()!.bg_color }}"
                >
                  <div
                    class="w-100 h-100 rounded"
                    style="overflow-y: hidden; position: absolute"
                  >
                    <img
                      class="w-100 h-auto"
                      style="object-fit: contain"
                      loading="lazy"
                      [useSrcset]="true"
                      [defaultImage]="'/assets/default.png'"
                      [lazyLoad]="page.img ?? '/assets/default.png'"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="tab">
        <!-- #docregion label-directive -->
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon text-dark">
            account_circle</mat-icon
          >
          <span class="ms-2 text-dark big-design-body fw-bold"> Account </span>
        </ng-template>
        <div class="comp p-4 bg-light">
          <div class="mx-2" *ngIf="billingInfo == ''">
            <app-notification
              [actionBtn]="'Update'"
              [canClose]="false"
              [title]="'Action Required!'"
              [subtitle]="'Update the payment method used for your Thred plan.'"
              (actionBtnPressed)="routeToBillingAdmin()"
              [iconColor]="'danger'"
              [icon]="'error'"
            >
            </app-notification>
          </div>
          <div class="mx-2" *ngIf="subInfo == ''">
            <app-notification
              [actionBtn]="'Select Plan'"
              [canClose]="false"
              [title]="'Action Required!'"
              [subtitle]="
                'Select a Thred plan to begin selling NFTs on your store.'
              "
              (actionBtnPressed)="editPlan()"
              [iconColor]="'danger'"
              [icon]="'error'"
            >
            </app-notification>
          </div>

          <div class="big-design-card mx-2" *ngIf="billingInfo != undefined">
            <div class="big-design-header">
              <p class="big-design-title">Payment Method</p>
              <a class="big-design-button" (click)="routeToBillingAdmin()">
                {{ billingInfo == "" ? "Add" : "Edit" }}
              </a>
            </div>
            <div class="big-design-body" *ngIf="billingInfo">
              {{
                (billingInfo?.brand | titlecase) +
                  " ending in " +
                  billingInfo?.number
              }}
              <br />
              {{ billingInfo.name }}
              <br />
              {{
                billingInfo.street +
                  (billingInfo.unit == undefined ? "" : ". " + billingInfo.unit)
              }}
              <br />
              {{
                billingInfo?.city +
                  ", " +
                  billingInfo?.admin_area +
                  ". " +
                  billingInfo?.postal
              }}
            </div>
            <div class="big-design-body" *ngIf="billingInfo == ''">
              This card will be used for your Thred Merchant Plan.
            </div>
          </div>

          <div class="big-design-card mt-3 mx-2" *ngIf="subInfo != undefined">
            <div class="big-design-header">
              <p class="big-design-title">Plan Type</p>
              <a class="big-design-button" (click)="editPlan()">
                {{ "Edit" }}
              </a>
            </div>
            <div class="big-design-body" *ngIf="plans && subInfo">
              {{ plan(subInfo.plan.id)?.name }}

              <div
                *ngIf="
                  subInfo != '' &&
                  subInfo.plan.id == plan(subInfo.plan.id)!.id &&
                  !subInfo!.cancel_at_period_end
                "
              >
                Renews: {{ planRenewalDate() }}
              </div>
              <div
                *ngIf="
                  subInfo != '' &&
                  subInfo.plan.id == plan(subInfo.plan.id)!.id &&
                  subInfo!.cancel_at_period_end
                "
              >
                Cancels: {{ planEndDate() }}
              </div>

              {{
                plan(subInfo.plan.id)?.price | currency: "USD":"symbol-narrow"
              }}/month
              <br />
            </div>
            <div class="big-design-body" *ngIf="subInfo == ''">
              Select a Thred Merchant Plan to activate your store.
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- <nav id="sidebar" [class.active]="classApplied" class="bg-light">
    <div style="position: fixed; width: 150px; height: 100vh" class="bg-light">
      <div class="my-2 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <img class="w-100 px-3" src="assets/thred_logo_wide.png" />
        </div>
      </div>
      <div class="w-100" style="overflow-y: auto">
        <div
          class="d-flex justify-content-center align-items-center my-3"
          [hidden]="shouldHideLiveBtn()"
          *ngIf="intValue == undefined"
        >
          <a
            *ngIf="storeLive()"
            role="button"
            class="side d-flex text-light bg-success rounded-pill mb-0 align-items-center justify-content-center fw-bold"
            style="font-size: 50px"
          >
            <mat-icon style="height: 50px; width: 50px; font-size: 50px">
              <span class="material-icons-outlined"> check_circle </span>
            </mat-icon>
          </a>
          <a
            *ngIf="!storeLive()"
            role="button"
            class="side d-flex text-light bg-danger rounded-pill align-items-center justify-content-center fw-bold"
            style="height: 50px; aspect-ratio: 1"
            [ngbTooltip]="etipContent"
          >
            <ng-template #etipContent>
              <div class="d-flex" *ngFor="let a of missingInfo()">
                <mat-icon class="ms-2 me-2 text-danger">
                  <span class="material-icons-outlined"> error_outline </span>
                </mat-icon>
                <p class="text-start">
                  {{ a }}
                </p>
              </div>
            </ng-template>
            <mat-icon style="height: 50px; width: 50px; font-size: 50px">
              <span class="material-icons-outlined"> error_outline </span>
            </mat-icon>
          </a>
        </div>
        <div class="w-100 mt-2" *ngFor="let panel of panels; index as s">
          <ul class="list-unstyled components">
            <li
              *ngFor="let option of panel.Options; index as i"
              [class.active]="getSelectedPanel()?.Title == option.Title"
            >
              <a
                role="button"
                (click)="selectSetting(i, s)"
                class="side d-flex flex-column text-{{
                  shouldRed(option)
                    ? 'danger'
                    : getSelectedPanel()?.Title == option.Title
                    ? 'white'
                    : (storeInfo?.colorStyle)!.text_code
                }} text-center align-items-center justify-content-center"
                style="font-size: 15px"
              >
                <div
                  class="mx-auto d-flex flex-column align-items-center justify-content-center"
                  style="aspect-ratio: 1; height: 100px"
                >
                  <mat-icon style="height: 50px; width: 50px; font-size: 50px">
                    {{ option.Icon }}
                  </mat-icon>
                  {{ option.Title | titlecase }}
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->
</div>
<!-- <img
  class="px-3"
  style="position: fixed; left: 0px; width: 200px; bottom: 15px; z-index: 100"
  src="assets/thred_logo_wide.png"
/> -->
