<div
  class="row mx-2 row-cols-1 row-cols-md-{{
    row?.grid_row ?? 1
  }} justify-content-start mt-3 gx-4 gy-4"
>
  <div class="col" *ngFor="let product of row?.products ?? []">
    <app-product-view
      *ngIf="items![product]"
      [product]="items![product].nft"
      [collection]="items![product].collection"
      [storeInfo]="storeInfo"
      [selectedTheme]="storeInfo | storeTheme"
      [hidePrice]="hidePrice"
      (nftPressed)="nftPressed.emit($event)"
      [lazy]="lazy"
    >
    </app-product-view>
  </div>
</div>