<div
  class="row mx-3 row-cols-1 row-cols-md-{{
    row?.grid_row ?? 1
  }} justify-content-start mt-0 gx-3 gy-3"
>
  <div class="col" *ngFor="let product of (row?.products ?? []).concat((row?.products ?? []))">
    <app-product-view
      *ngIf="items![product]"
      [product]="items![product].nft"
      [collection]="items![product].collection"
      [storeInfo]="storeInfo"
      [selectedTheme]="storeInfo | storeTheme"
      [hidePrice]="hidePrice"
      (nftPressed)="nftPressed.emit($event)"
      [lazy]="lazy"
      [canOpen]="canOpen"
    >
    </app-product-view>
  </div>
</div>