<div class="w-100">
    <mat-icon *ngIf="img != undefined && mode == 'icon'" class="w-100 text-center mt-3" 
        style="font-size: 80px; width: fit-content; height: fit-content;"
        style.color='{{iconColor}}'
        >
            <span class="w-100 h-100">
                {{iconName}}
            </span>
        </mat-icon>
    <h3 class="text-center fw-bolder m-2">{{title}}</h3>
    <p class="text-center fw-bolder mx-2 mt-2">{{message}}</p>
    <div class="px-2 w-100">
        <img *ngIf="img != undefined && mode == 'img'" src="{{img}}" class="rounded w-100 aspect-ratio" style="object-fit: contain;"> 
    </div>
    <div class="d-flex justify-content-center align-items-center m-2">
        <a role="button" (click)="dismiss(false)" class="btn flex-fill btn-danger me-1">{{noBtn}}</a>
        <a role="button" (click)="dismiss(true)" class="btn flex-fill btn-dark ms-1">{{yesBtn}}</a>
    </div>
</div>
