<div class="w-100 rounded" style="position: relative;" >
   
    <div class="card m-4" [class.border-secondary] = "storeInfo()!.colorStyle!.text_code == 'light'" style.background-color="{{selectedTheme()!.bg_color}}">
        <a class="mt-2 ms-2 text-danger" style="position: absolute;" (click)='cancelEdit()'  role="button"><mat-icon >cancel</mat-icon></a>
        <div class="card-body">
            <div class="row row-cols-1 px-2 row-cols-md-2 row-cols-xl-2 justify-content-center" >
                <div class="col-md-8 mx-auto d-block">
                    <div class="p-0 pt-0 w-100">
                        <div class="container-contact1 rounded w-100 h-100 p-2" >
                            <div *ngIf='images.length == 5'>
                                <span class="contact1-form-title fw-bolder mt-4" style="font-size: 20px;"  style.color="{{selectedTheme()!.color}}">
                                    PRODUCT IMAGES
                                </span>
                                <p class="text-center mb-4 fw-bold" style="font-size: smaller;" style.color="{{selectedTheme()!.color}}">
                                    Drag & Drop to rearrange order
                                </p>
                            </div>

                            <form class="mt-4 px-3 px-md-5 px-lg-5 w-100 contact1-form" [formGroup]="designForm" >
                                <div class="mb-5" *ngIf='images.length == 5'>
                                    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list rounded shadow bg-{{storeInfo()?.colorStyle!.back_code}}" [style.height.px]='height()' (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let image of images" cdkDrag [cdkDragDisabled]='!image.isActive' >
                                            <div class="h-100 w-100" [class.p-1]='image.isActive' style="aspect-ratio: 1/1; position: relative;">
                                                <a *ngIf='image.isActive' role="button"><img class="h-100 w-100 ani-style" style="object-fit: contain; aspect-ratio: 1/1;" src='{{image.img}}' alt='ok' /></a>
                                                <a *ngIf='image.isActive && canCancel()' class="ani-style" style="position: absolute;top:0; right:0;" (click)='removeImg(image)' role="button"><mat-icon >cancel</mat-icon></a>
                                                <div *ngIf='!image.isActive' class="cdk-drag-placeholder h-100 w-100">
                                                    <a class="h-100 w-100 d-flex ani-style justify-content-center align-items-center" (click)="fileInput.click()" style="text-decoration: none;" role="button">
                                                        <mat-icon >add_circle</mat-icon>
                                                        <input #fileInput type="file" (change)="fileChangeEvent($event, image)" style="display:none;" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="mx-auto d-flex justify-content-center align-items-center mt-3">
                                        <a *ngIf="has3D()" (click)="open()"  role="button"  class="d-inline-flex btn btn-outline-{{storeInfo()?.colorStyle!.text_code}} rounded-pill  align-items-center justify-content-center fw-bold px-3 py-1" style="font-size: 15px;">
                                            <mat-icon class="me-2" style.color="{{selectedTheme()!.color}}">
                                                <span class="material-icons-outlined" style="font-size: 25px;">
                                                    view_in_ar
                                                </span>
                                            </mat-icon>
                                            ADD 3D IMAGE
                                        </a>
                                    </div>
                                </div>

                                <span class="contact1-form-title mb-4 mt-4 fw-bolder" id='label' style="font-size: 20px;"   style.color="{{selectedTheme()!.color}}">
                                    PRODUCT DETAILS
                                </span>

                                <div *ngIf='mode == "create" && (matchingInv(false)?.length ?? 0) > 1' class="text-center">
                                    <div class="card-body p-0 pt-0">
                                        <div class="text-left">
                                            <h5 style.color="{{selectedTheme()!.color}}"  class="fw-bolder" style="font-size:17px" [innerHTML]="'Choose Type'"></h5>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf='mode == "create" && (matchingInv(false)?.length ?? 0) > 1' class="row gx-4 gx-lg-1 row-cols-4 w-100 row-cols-md-5 row-cols-xl-5 justify-content-center" style>
                                    <button   class="btn btn-outline-{{storeInfo()?.colorStyle!.text_code}}  active my-1 mx-1 py-2" (click)="selectSize(matchingInv(false)[0], $event)" style="font-weight:bold; font-size:12px;"  id="size">{{(matchingInv(false) ?? [])[0]}}</button>
                                    <button   class="btn btn-outline-{{storeInfo()?.colorStyle!.text_code}}  my-1 mx-1 py-2" *ngFor="let size of matchingInv(true) ?? []" (click)="selectSize(size, $event)" style="font-weight:bold; font-size:12px;"   id="size">{{size}}</button>
                                </div>
                                
                
                                <div class="wrap-input1 w-100 mb-3">
                                    <input type="text "  style.color="{{selectedTheme()!.color}}" class="shadow rounded input1 w-100 py-3 px-3 px-lg-4 px-md-4 fw-bold bg-{{storeInfo()?.colorStyle!.back_code}}" name="name" formControlName="name" placeholder="Name">
                                    <span class="rounded shadow-input1 py-3 px-2 px-lg-4 px-md-4"></span>
                                </div>


                                <div class="wrap-input1 w-100 mb-3" >
                                    <!-- <input class="input1" 
                                    
                                     formControlName="price" name="quantity" placeholder="Price"> -->
                                    <input  style.color="{{selectedTheme()!.color}}" currencyMask [options]="customCurrencyMaskConfig" class="shadow rounded input1 py-3 px-3 px-lg-4 px-md-4 fw-bold bg-{{storeInfo()?.colorStyle!.back_code}}" placeholder="Price" formControlName="price" />
                                    <span class="rounded shadow-input1 py-3 px-2 px-lg-4 px-md-4"></span>
                                    
                                </div>
                
                
                                <div class="wrap-input1 w-100 mb-3">
                                    <textarea style.color="{{selectedTheme()!.color}}" class="shadow rounded input1 p-3 p-lg-4 p-md-4 fw-bold bg-{{storeInfo()?.colorStyle!.back_code}}" name="message" placeholder="Description (Optional)" formControlName="description"></textarea>
                                    <span class="rounded shadow-input1 p-2 p-lg-4 p-md-4"></span>
                                </div>
                
                                <div class="container-contact1-form-btn mb-4 w-100">
                                    <button class="contact1-form-btn" (click)="createDesign()">
                                        <span *ngIf="mode == 'create'" class="my-auto p-3 px-4 fw-bolder">
                                            Create Product
                                        </span>
                                        <span *ngIf="mode == 'edit'" class="my-auto p-3 px-4 fw-bolder">
                                            Update Product
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <ngx-spinner
                        bdColor = '{{selectedIndicator().bg_color}}'
                        size = "medium"
                        color = '{{selectedIndicator().color}}'
                        type = {{selectedIndicator().name}} 
                        [fullScreen] = "true"
                        style.color = "{{selectedIndicator()!.color}}"
                        [name]="'productSpinner'"
                        [disableAnimation] = "true"
                        >
                        <h3 class="text-center mt-5" >UPLOADING PRODUCT...</h3>
                        </ngx-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>