<router-outlet></router-outlet>

<ngx-spinner
*ngIf="isBrowser()" 
bdColor = '{{selectedIndicator().bg_color}}'
size = "large"
color = '{{selectedIndicator().color}}'
type = {{selectedIndicator().name}} 
[fullScreen] = "true"
style.color = "{{selectedIndicator()!.color}}"
>
<h3 class="text-center mt-5" [style.font-family]="storeInfo().fontName!">{{storeInfo()?.fullName}}
</h3>
</ngx-spinner>
  <!-- Header-->
  <header *ngIf="isBrowser();" class="bg-{{storeInfo().colorStyle!.back_code}} py-6">
    <div class="cover" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/clothingapp-ed125.appspot.com/o/Resources%2FSample-Walls%2FHome%2F1.jpg?alt=media);" [style.background-image]='"url(" + storeInfo()!.themeLink!.toString() + ")"'>
      <div class="d-flex align-items-center justify-content-center" style="height: 100px; font-weight: bold;font-size:35px">
            <p class = "text-center" style = "line-height:1.2em;text-shadow: 2px 2px 4px #42424281;">
              MY ORDERS
             </p>
           </div>
      </div>
  </header>

  <section *ngIf="isBrowser();" class="py-5" style.background-color="{{selectedTheme()!.bg_color}}">
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- List of items-->
          <!-- <div class="d-flex justify-content-left align-items-center pb-4 pb-sm-5 mt-1 ms-2 ps-1">
            <a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
          </div> -->

          <section class="col-lg-0">
            <div *ngIf="hasCart() && loadedCart;">

              <div *ngFor="let order of orders" class="bg-{{storeInfo().colorStyle!.back_code}} rounded-3 shadow-lg p-4 pt-3 mt-4">
               <h2 class="h6 mb-0 pb-0 ps-2 mt-0"><a role="button" (click)='routeToOrder(order!.orderID)' class="text-decoration-none" style.color="{{selectedTheme()!.color}}" [style.font-family]="storeInfo().fontName!" style="font-weight: bold;">Order #: {{order!.orderID}}</a></h2>

               <div class = "d-flex justify-content-between align-items-top"> 
                <div class="py-2 px-xl-2 ">
                  <div *ngFor="let product of order!.products" class="d-sm-flex justify-content-between align-items-center pb-3 pt-2">
                      <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" (click)='routeToProduct(product.product!.productID)'><img style="border-radius: 2.5%;" src="{{product.product!.url}}" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/clothingapp-ed125.appspot.com/o/Resources%2Flink_empty.jpeg?alt=media';" width="160" alt="Product"/></a>
                        <div class="pt-2">
                            <p [style.font-family]="storeInfo().fontName!"><a role="button" (click)='routeToProduct(product.product!.productID)' class="text-{{storeInfo().colorStyle!.text_code}} text-decoration-none" style="font-weight: bold;">{{product.product?.name ?? ""}}</a></p>                          
                          <div class="fs-sm" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}"><span [style.font-family]="storeInfo().fontName!" class="text-muted me-2">Size:</span>{{product.size ?? "M"}}</div>
                          <div class="fs-sm" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}"><span [style.font-family]="storeInfo().fontName!" class="text-muted me-2">Color:</span>{{getColor(product.product)}}</div>
                          <div class="fs-sm" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}"><span [style.font-family]="storeInfo().fontName!" class="text-muted me-2">Qty:</span>{{product.quantity ?? 1}}</div>
                          <div class="fs-lg text-accent pt-2" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}">{{formatPrice(product.product!.price / 100, order)}}</div>
                        </div>
                        <!-- (click)="trackingLink()" -->
                      </div>
                  </div>
              </div>
              <div class = "pt-2">
                <a [style.font-family]="storeInfo().fontName!" class="btn d-block mb-1 pb-1 ps-1 mt-2" role="button" (click)='routeToOrder(order!.orderID)' style.color="{{selectedTheme()!.bg_color}}" style.background-color="{{selectedTheme()!.color}}" ><i class="ci-card fs-lg me-2"></i>View Order Details</a>
                <a [style.font-family]="storeInfo().fontName!" *ngIf="order.trackingNumber ?? false" class="btn d-block mb-1 pb-1 ps-1 mt-2" style.color="{{selectedTheme()!.bg_color}}" style.background-color="{{selectedTheme()!.color}}" role="button" (click)="trackingLink(order)" ><i class="ci-card fs-lg me-2"></i>Track Order</a>
                <a [style.font-family]="storeInfo().fontName!" *ngIf="!(order.trackingNumber ?? false)" [class.disabled]="true" class="btn d-block mb-1 pb-1 ps-1 mt-2" style.color="{{selectedTheme()!.bg_color}}" style.background-color="{{selectedTheme()!.color}}" role="button" ><i class="ci-card fs-lg me-2"></i>Tracking Unavailable</a>
              </div>
          </div>

               </div>
            </div>
            <div *ngIf="!(hasCart()) && loadedCart;" class="bg-{{storeInfo().colorStyle!.back_code}} rounded-3 shadow-lg p-4 pt-3 mt-0">
                <h2 [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}" class="h6 ps-3 mt-2 text-center" style="font-weight: bolder;">Your Order History is Empty</h2>
                <div class="py-2 px-xl-2">
                    <div class="d-block align-items-center pt-2">
                        <div class="d-block align-items-center text-center text-sm-start"><a role="button" (click)='routeToProducts()' class="mx-auto me-sm-4"><img style="border-radius: 2.5%;" src="{{storeInfo()!.actionLink!.toString()}}" style="max-width: 100%; height: auto;" alt="Product"/></a>
                          <div class="pt-2">
                              <h2 class="h6 ps-3 mt-2 text-center"><a [style.font-family]="storeInfo().fontName!" role="button" (click)='routeToProducts()' class="text-{{storeInfo().colorStyle!.text_code}} text-decoration-underline" style="font-weight: bold;">Shop More Products</a></h2>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <!-- Sidebar-->
          
        </div>
      </div>
  </section>
