
<div style="position: relative;">
    <input #fileInputB type="file" (change)="fileChangeBannerEvent($event)" style="display:none;" />

    <ngx-spinner
    bdColor = '{{selectedIndicator().bg_color}}'
    size = "large"
    color = '{{selectedIndicator().color}}'
    type = {{selectedIndicator().name}} 
    [fullScreen] = "false"
    style.color = "{{selectedIndicator()!.color}}"
    [name]="'loader'"
    >
    <h3 [style.font-family]="storeInfo().fontName!" class="text-center mt-5"  >{{title}}
    </h3>
    </ngx-spinner>
<div mat-dialog-title class="d-flex justify-content-between align-items-center" *ngIf='loaded'>
    <h2 class="me-2 text-center d-none d-md-block" >
        Drag & Drop to Rearrange
    </h2>
    <div class="d-flex justify-content-between align-items-center">
        <a role="button" (click)='fileInputB.click()' class="fw-bolder btn btn-dark rounded-pill px-3 d-none d-md-block">
            CHANGE BANNER IMAGE
        </a>
        <a role="button" (click)='close()' class="fw-bolder btn btn-dark rounded-pill px-3 ms-2">
            SAVE LAYOUT
        </a>
        <a role="button" (click)='dialogRef.close()' class="btn-danger p-2 rounded-circle ms-2 fw-bolder text-light d-inline-flex justify-content-center align-items-center" style="font-size: x-large; text-decoration: none;">
            <mat-icon>highlight_off</mat-icon>
        </a>
    </div>
</div>
<mat-dialog-content>
    <div class="w-100 h-100 d-block d-md-flex justify-content-between align-items-top" *ngIf='loaded'>
        <div class="d-none d-md-block w-100 w-md-25 h-100 parent">
            <div class="h-100 right">
                <div class="sticky h-100" style="overflow-y: scroll; " id='label'>
                    <div *ngIf='editingBlock == undefined' class="w-100 h-100">
                        <div class="w-100 pe-3" cdkDropList (cdkDropListDropped)="drop($event)">
                            <div *ngFor='let row of layoutForm.controls.rows.value ?? []; index as i' class="m-0 d-flex justify-content-between align-items-center bg-white" cdkDrag>
                                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                <div class="d-block justify-content-between align-items-center">
                                    <a role="button" (click)='edit(i)'>
                                        <mat-icon class="me-2">settings</mat-icon>
                                    </a>
                                    <a role="button" (click)='removeRows(i)'>
                                        <mat-icon class="me-2 text-danger" >delete</mat-icon>
                                    </a>
                                </div>
                                <div class="m-0 h-100 w-100">
                                    <div class="card bg-{{storeInfo().colorStyle!.back_code}} shadow mb-2 p-1" [class.border-secondary] = "storeInfo()!.colorStyle!.text_code == 'light'" style="position: relative;">
                                        <div *ngIf='(activeRow(i)?.text ?? row.text ?? "").trim() != ""' class="d-flex align-items-center justify-content-center mt-2 mb-1" style="max-height: 50px; font-weight: bold;font-size:4px; pointer-events: none;" style.color="{{selectedTheme()!.color}}">
                                            <p class = "text-center text-{{storeInfo().colorStyle!.text_code}}" style = "line-height:1.2em;" [style.font-family]="storeInfo().fontName!">
                                              {{activeRow(i)?.text ?? row.text}}
                                            </p>
                                        </div>
                                        <div class="row mx-0 gx-1 gx-lg-1 row-cols-1 row-cols-md-{{activeRow(i)?.grid_row ?? row.grid_row ?? 1}} justify-content-center" style="pointer-events: none;">
                                            <div class="col mb-2" *ngFor="let product of products(activeRow(i)?.smart_products ?? row.smart_products, activeRow(i)?.products ?? row.products)">
                                                <div class="card h-100 bg-{{storeInfo().colorStyle!.back_code}}"  [class.border-secondary] = "storeInfo()!.colorStyle!.text_code == 'light'">
                                                    <!-- Product image-->
                                                    <a role="button"><img class="card-img-top" src='{{(product.url?.toString() ?? "")}}' alt='ok'/></a>
                                                    <!-- Product details-->
                                                    <!-- Product actions-->
                                                    <div class="px-1 border-top-0 bg-transparent">
                                                        <div class="text-center d-flex justify-content-center align-items-center w-100" >
                                                            <a 
                                                            [style.font-family]="storeInfo().fontName!" 
                                                            class="btn w-100 text-center text-{{storeInfo().colorStyle!.text_code}}" 
                                                            style="font-weight:bold; max-width: 50vh; font-size: 4px;" 
                                                            role="button" 
                                                            >
                                                            {{formatPrice(mainPrice(product))}}
                                                            </a>
                                                        </div>                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gx-0 row-cols-1 row-cols-md-{{activeRow(i)?.grid_row ?? row.grid_row ?? 1}} justify-content-center w-100 mx-0" *ngIf='(activeRow(i)?.type ?? row.type) == 1' style="pointer-events: none;">
                                            <div class="col" *ngFor="let img of activeRow(i)?.imgs ?? row.imgs ?? []" style="margin-bottom: 1.0px; padding-left: 0.5px; padding-right: 0.5px;">
                                                <div class="d-block align-items-center text-center text-sm-start w-100">
                                                    <a class="ms-0 me-0" role="button"><img style="border-radius: 2.5%;" src="{{img}}" style="width: 100%; height: auto;" alt="Product"/></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 h-100" style="position: absolute; pointer-events: all; cursor:crosshair;">
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <div class="d-block justify-content-between align-items-center">
                                <a role="button">
                                    <mat-icon class="me-2"></mat-icon>
                                </a>
                                <a role="button">
                                    <mat-icon class="me-2"></mat-icon>
                                </a>
                            </div>
                            <div class="card container-fluid d-flex justify-content-center align-items-center example-custom-placeholder m-3 ms-1 mt-1">
                                <a (click)='addBlock()' class="fw-bolder text-secondary d-flex align-items-center justify-content-center" role="button" style="font-size: large; text-decoration: none;">
                                    ADD BLOCK <mat-icon class="ms-1" style='font-weight: bolder' [inline]='true'>add</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf='editingBlock != undefined' class="w-100 h-100 pe-3">
                        <form [formGroup]="rowForm" novalidate>
                            <mat-form-field class="w-100 h-100">
                                <mat-placeholder class="placeholder">Header Text</mat-placeholder>
                                <input type="text"
                                       matInput
                                       formControlName="title"
                                       class="text-dark"
                                >
                            </mat-form-field>

                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Block Type</mat-label>
                                <mat-select formControlName='type' (selectionChange)="changed($event)">
                                <mat-select-trigger class="d-flex align-items-center" *ngIf='matchingType(rowForm.controls.type.value)'>
                                    {{matchingType(rowForm.controls.type.value)!.name}}
                                </mat-select-trigger>
                                  <mat-option *ngFor="let type of types" [value]="type.code">
                                    <!-- <mat-icon >{{type.icon}}</mat-icon> -->
                                    {{type.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Grid Size</mat-label>
                                <mat-select formControlName='grid' (selectionChange)="changed($event)">
                                <mat-select-trigger class="d-flex align-items-center" *ngIf='rowForm.controls.grid.value'>
                                    {{rowForm.controls.grid.value}}
                                </mat-select-trigger>
                                  <mat-option *ngFor="let g of grid" [value]="g.name">
                                    <!-- <mat-icon >{{type.icon}}</mat-icon> -->
                                    {{g.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div cdkDropList class="rounded shadow bg-light w-100 h-100 mb-2" (cdkDropListDropped)="drop($event, true)" style="overflow-y: scroll;">
                                <div class="example-box" *ngFor="let image of images" cdkDrag [cdkDragDisabled]='!image.isActive' >
                                    <div class="h-100 w-100" [class.p-1]='image.isActive' style="position: relative;">
                                        <a *ngIf='image.isActive' role="button" (click)="fileInput.click()"><img class="h-100 w-100 ani-style" style="object-fit: contain;" src='{{image.img}}' alt='ok' /></a>
                                        <a *ngIf='image.isActive && canCancel()' class="ani-style" style="position: absolute;top:0; right:0;" (click)='removeImg(image)' role="button"><mat-icon >cancel</mat-icon></a>
                                        <div *ngIf='!image.isActive' class="cdk-drag-placeholder w-100" style="height: 100px;">
                                            <a class="h-100 w-100 d-flex ani-style justify-content-center align-items-center" (click)="fileInput.click()" style="text-decoration: none;" role="button">
                                                <mat-icon >add_circle</mat-icon>
                                            </a>
                                        </div>
                                        <input #fileInput type="file" (change)="fileChangeEvent($event, image)" style="display:none;" />
                                    </div>
                                </div>
                            </div>


                            <mat-form-field *ngIf='rowForm.controls.type.value == 0' class="w-100" appearance="outline">
                                <mat-label>Products</mat-label>
                                <mat-chip-list #chipList aria-label="Product selection">
                                    <mat-chip
                                      *ngFor="let product of prods ?? []"
                                      [selectable]="selectable"
                                      [removable]="removable"
                                      (removed)="remove(product)"
                                      class="category-chip"
                                      >
                                      <div class="category-chip__text"> {{productName(product)}} </div>
                                      <button matChipRemove class="d-flex justify-content-center align-items-center btn me-1" style="width: fit-content; aspect-ratio: 1/1;" *ngIf="removable">
                                        <mat-icon >cancel</mat-icon>
                                      </button>
                                    </mat-chip>
                                    <!-- *ngIf='!allSelected()' -->
                                    <input
                                    *ngIf='!allSelected()'
                                      placeholder="Add product..."
                                      #productInput
                                      [formControl]="productCtrl"
                                      [matAutocomplete]="auto"
                                      [matChipInputFor]="chipList"
                                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                      (matChipInputTokenEnd)="add($event)">
                                  </mat-chip-list>
                                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                  <mat-option class="fw-bolder" [value]="'0'">
                                      <img class="rounded p-1 py-2" style="width: 50px; height: 50px; object-fit: contain;" src='{{(newArrivalProducts() ?? [])[0]?.url ?? ""}}'/>
                                          NEWEST PRODUCTS
                                  </mat-option>
                                  <mat-option class="fw-bolder border-bottom" [value]="'1'">
                                    <img class="rounded p-1 py-2" style="width: 50px; height: 50px; object-fit: contain;" src='{{(featuredProducts() ?? [])[0]?.url ?? ""}}'/>
                                        FEATURED PRODUCTS
                                    </mat-option>


                                    <mat-option *ngFor="let product of filteredProducts | async" [value]="product.productID">
                                      <img class="rounded p-1 py-2" style="width: 50px; height: 50px; object-fit: contain;" src='{{product.url}}'/>
                                      {{product.name}}
                                    </mat-option>
                                  </mat-autocomplete>
                            </mat-form-field>
                        </form>
                        <a role="button" (click)='finishedEditing()' class="btn btn-dark rounded-pill px-3">
                            APPLY CHANGES
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-md-4 w-100 w-md-75 h-100 card p-1">
            
            <div *ngIf='storeInfo().banners && (storeInfo().banners?.length ?? 0) > 0' class="w-100 rounded" style="height: 35px;">
                <div *ngIf='storeInfo().bannerStyle == 1' class="w-100 h-100" id="outer">
                    <div class="w-100 h-100">
                        <div class="w-100 h-100 loop">
                            <div class="d-flex w-100 h-100 align-items-center" id="content">
                                <div class="d-flex h-100 align-items-center" *ngFor='let _ of arrLength()'>
                                    <h2 *ngFor="let banner of storeInfo().banners" style.color="{{bannerTheme(banner)!.color}}" style.background-color="{{bannerTheme(banner)!.bg_color}}" class="h-100 px-5 d-flex justify-content-center align-items-center my-auto" style="font-size: calc(14px + (16 - 14) * (100vh - 400px) / (800 - 400));">
                                        <div *ngIf='banner.text != ""'>
                                            {{(banner.text ?? '')}}
                                        </div>
                                        <mat-icon class="mt-2" *ngIf='banner.icon != ""' style="font-size: inherit">
                                            <span class="ms-1 material-icons-outlined">
                                                {{banner.icon}}
                                            </span>
                                        </mat-icon>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            
                <div *ngIf='storeInfo().bannerStyle == 0' class="w-100 h-100" style.background-color="{{bannerTheme()!.bg_color}}">
                    <div class="h-100 w-100 d-flex justify-content-between align-items-center" style="position: relative;">
                        <div class="w-100 h-100 d-flex">
                            <drag-scroll #carousel class="w-100 h-100" [scrollbar-hidden]="true" [indexChanged]="didMove()">
                                <div drag-scroll-item class="w-100 h-100 d-inline-flex justify-content-start align-items-center" *ngFor="let banner of storeInfo().banners">
                                    <h2 style.color="{{bannerTheme(banner)!.color}}" class="w-100 mx-3 mx-md-0 d-inline-flex justify-content-start justify-content-md-center align-items-center" [class.my-auto]='(storeInfo().banners?.length ?? 0) == 1' style="font-size: calc(14px + (16 - 14) * (100vw - 400px) / (800 - 400));">
                                        <div *ngIf='banner.text != ""' class="mb-1">
                                            {{(banner.text ?? 'fs')}}
                                        </div>
                                        <mat-icon *ngIf='banner.icon != ""' style="font-size: inherit">
                                            <span class="ms-1 material-icons-outlined">
                                                {{banner.icon}}
                                            </span>
                                        </mat-icon>
                                    </h2>
                                </div>
                            </drag-scroll>
                        </div>
                        <div class="w-100  d-flex justify-content-between align-items-center" style="position: absolute;">
                            <a *ngIf='(storeInfo().banners?.length ?? 0) > 1' class="d-none d-md-block" role="button" (click)='moveLeft()'>
                                <mat-icon class="ms-3 ms-md-5 mt-1" style.color="{{bannerTheme()!.color}}">
                                    <span class="material-icons-outlined" style="font-size: 30px;">
                                        chevron_left
                                    </span>
                                </mat-icon>
                            </a>
                             <a *ngIf='(storeInfo().banners?.length ?? 0) > 1' class="d-none d-md-block" role="button" (click)='moveRight()'>
                            <mat-icon class="me-3 me-md-5 mt-1" style.color="{{bannerTheme()!.color}}">
                                <span class="material-icons-outlined" style="font-size: 30px;">
                                    chevron_right
                                </span>
                            </mat-icon>
                            </a>
                        </div>
                    </div>
                  </div>
              </div>
            <header class="bg-{{storeInfo().colorStyle!.back_code}} py-6 w-100" role="button" (click)='fileInputB.click()' style="height: fit-content;">
                <img class="w-100 h-100" [src]='layoutForm.controls.header.value?.toString() ?? storeInfo()!.themeLink?.toString()'>
            </header>
            <section class="py-5 w-100" style.background-color="{{selectedTheme()!.bg_color}}">
                <!-- (cdkDropListDropped)="drop($event)" -->
                <div cdkDropList class="ms-0 h-100" (cdkDropListDropped)="drop($event)">
                    <div class="mb-5 w-100" *ngFor='let row of layoutForm.controls.rows.value ?? []; index as i' cdkDrag>
                          <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                        <div *ngIf='(activeRow(i)?.text ?? row.text ?? "").trim() != ""' class="d-flex align-items-center justify-content-center pb-1 mb-5" style="height: 50px; font-weight: bold;font-size:30px;" style.color="{{selectedTheme()!.color}}">
                            <p class = "text-center text-{{storeInfo().colorStyle!.text_code}}" style = "line-height:1.2em;" [style.font-family]="storeInfo().fontName!">
                              {{activeRow(i)?.text ?? row.text}}
                            </p>
                        </div>
                        <div class="row mx-2 gx-3 gx-lg-3 row-cols-1 row-cols-md-{{row.grid_row ?? 1}} justify-content-center">
                            <div class="col" *ngFor="let product of products(activeRow(i)?.smart_products ?? row.smart_products, activeRow(i)?.products ?? row.products)">
                                <div class="card h-100 bg-{{storeInfo().colorStyle!.back_code}}"  [class.border-secondary] = "storeInfo()!.colorStyle!.text_code == 'light'">
                                    <!-- Product image-->
                                    <a role="button"><img class="card-img-top" src='{{(product.url?.toString() ?? "")}}' alt='ok'/></a>
                                    <!-- Product details-->
                                    <div class="card-body p-2 pb-0">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h4 class="fw-bolder" style="font-size: small;" [style.font-family]="storeInfo().fontName!" [style.font-size.px]="titleFontSize(row)" [class.my-5]='titleFontSize(activeRow(i) ?? row) != "inherit" && (activeRow(i)?.grid_row ?? row.grid_row ?? 1) <= 2'><a style="text-decoration: none;" style.color="{{selectedTheme()!.color}}"  role="button">{{product.name}}</a></h4>
                                            <!-- Product price-->
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 pt-0 pb-4 border-top-0 bg-transparent">
                                        <p *ngIf='autoCoupon(product)' class="text-center fw-bolder d-flex justify-content-center align-items-center" style="font-size:15px" [style.font-family]="storeInfo().fontName!">
                                            <!-- <mat-icon
                                             class="mt-2" 
                                             style="font-size:15px" 
                                             [class.low]='(autoCoupon(product)?.amt ?? 0) <= 0.2'
                                             [class.mid]='(autoCoupon(product)?.amt ?? 0) > 0.2 && (autoCoupon(product)?.amt ?? 0) <= 0.5'
                                             [class.high]='(autoCoupon(product)?.amt ?? 0) > 0.5'
                                            >
                                                loyalty
                                            </mat-icon> -->
                                            <b class="old-price">
                                                {{formatPrice((product.price ?? 0) / 100)}}
                                            </b>
                                        </p>
                                        <div class="text-center d-flex justify-content-center align-items-center w-100" >
                                            <a 
                                            [style.font-family]="storeInfo().fontName!" 
                                            [style.font-size.px]="fontSize(row)" 
                                            class="btn btn-outline-{{storeInfo().colorStyle!.text_code}} bad w-100 mt-auto text-center" 
                                            style="font-weight:bold; max-width: 50vh;" 
                                            role="button" 
                                            >
                                            {{formatPrice(mainPrice(product))}}
                                            </a>
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-0 row-cols-1 row-cols-md-{{activeRow(i)?.grid_row ?? row.grid_row ?? 1}} justify-content-center w-100 mx-0" *ngIf='(activeRow(i)?.type ?? row.type) == 1' style="pointer-events: none;">
                            <div class="col" style="margin-bottom: 2px;" *ngFor="let img of activeRow(i)?.imgs ?? row.imgs ?? []">
                                <div class="d-block align-items-center text-center text-sm-start w-100">
                                    <a class="ms-0 me-0" role="button"><img style="border-radius: 2.5%;" src="{{img}}" style="width: 100%; height: auto;" alt="Product"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div *ngIf='!loaded' style="height: 100vh;"></div>
</mat-dialog-content>


</div>
<!-- <div class="w-100" mat-dialog-actions>

    <div class="w-100">
        <h2 class="w-100 fw-bolder text-start">Tools</h2>
        <div class="d-block align-items-center w-100">
            <div class="card h-100">
                <div class="card-body p-2 pb-0">
                    
                </div>
                <div class="card-footer p-4 pt-0 pt-0 pb-4 border-top-0 bg-transparent">
                                      
                </div>
            </div>
        </div>
    </div>
</div> -->