

<div class="card-body p-0 pb-0 bg-{{storeInfo().colorStyle!.back_code}}">
    <button [style.font-family]="storeInfo().fontName!" class="btn text-{{storeInfo().colorStyle!.text_code}}" 
    (click) = 'openBtn()' 
    type="submit"
    style='
    width: 100%;
    height:10%;
    display: block;
    border:none;
    font-weight: bold;
    cursor:pointer;
    '>
        CLOSE
    </button>
    <div class="w-100" id="capture">
        <iframe style="z-index: 1; position: absolute; border: 0; width:100%; height: 600px; overflow: auto;" [srcdoc]="myHtmlTemplate">
        </iframe>
        <div *ngIf="!isMobile()" style="z-index: 2; position: absolute; " >
            
            <a role="button" [style.font-family]="storeInfo().fontName!" class="d-inline-flex btn btn-{{storeInfo().colorStyle!.text_code}} rounded-pill  align-items-center justify-content-center fw-bold m-2" style="font-size: 15px;"[ngbTooltip]="etipContent">
                <ng-template #etipContent>
                    
                    <div *ngIf='!showScInfo' class="d-flex">
                        <p class="m-2 text-start" style="font-size: smaller;">
                            3D Model rendering is <b>not</b> 100% accurate. Any <b>clipping</b> or <b>distortion</b> will not be on the actual product.
                        </p>
                    </div>
                    <div *ngIf='showScInfo'>
                        <p class="m-2 text-start fw-bold" style="font-size: small;">
                            Taking Screenshot for Product Images:
                        </p>
                        <p class="m-2 text-start" style="font-size: smaller;">
                            Windows: <b>Windows+SHIFT+S<br>Drag Cursor</b>
                        </p>
                        <p class="m-2 text-start" style="font-size: smaller;">
                            Mac: <b>Command+SHIFT+4<br>Drag Cursor</b>
                            
                        </p>                            
                    </div>
                    
                </ng-template>

                <mat-icon class="me-2" style.color="{{selectedTheme()!.color}}">
                    <span class="material-icons-outlined text-{{storeInfo().colorStyle!.back_code}}" style="font-size: 25px;">
                        help_outline
                    </span>
                </mat-icon>
                {{titleBtn}}
            </a>
        </div>
    </div>
    <div *ngIf="isSpinning" style="z-index: 3; position: absolute; border: 0; width:100%; height: 600px; overflow: auto;">
        <ngx-spinner
bdColor = '{{selectedIndicator().bg_color}}'
size = "medium"
color = '{{selectedIndicator().color}}'
type = {{selectedIndicator().name}} 
[fullScreen] = "false"
style.color = "{{selectedIndicator()!.color}}"
[disableAnimation] = "true"
[name]="'modelSpinner'"
>
<h3 class="text-center mt-5" [style.font-family]="storeInfo().fontName!">Launching Model Viewer...
</h3>
</ngx-spinner>
    </div>
</div>

