<div
  class="d-flex justify-content-center align-items-center w-100 px-2 px-md-0"
  style="height: 100vh; overflow: hidden"
>
  <div class="text-center w-100 h-100">
    <ng-template [ngIf]="loading || loadingInfo">
      <div
        class="w-100 h-100 d-flex justify-content-center align-items-center my-4 flex-column"
      >
        <div class="big-design-spinner" style="z-index: 100">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <!-- <div class="d-flex justify-content-center align-items-center my-3 w-100">
          <p
            *ngIf="!loading"
            class="text-center text-secondary my-auto"
            style="font-size: 17.5px; font-weight: lighter"
          >
            Loading Details
            <br />
          </p>
        </div> -->
      </div>
    </ng-template>

    <ng-template [ngIf]="!loading && !loadingInfo && success == true">
      <div
        class="px-md-2 d-flex flex-column justify-content-center align-items-center h-100 w-100"
      >
        <img
          loading="lazy"
          [useSrcset]="true"
          [defaultImage]="'/assets/default.png'"
          [lazyLoad]="'assets/order_success.png'"
          style="aspect-ratio: 1; object-fit: contain; height: 75px"
        />

        <h1
          class="w-100 text-center fw-bolder mt-3"
          style="color: #34cc73; font-size: xx-large"
        >
          Success
        </h1>
        <p
          class="w-100 text-center mt-2 text-secondary"
          *ngIf="mode == 0"
          style="font-size: small; font-weight: lighter; line-height: 1.5em"
        >
          Your wallet
          <span class="text-dark"> {{ address | address }}</span>
          was authenticated
          <br />
        </p>
        <p
          class="w-100 text-center mt-2 text-secondary"
          *ngIf="mode == 1"
          style="font-size: small; font-weight: lighter; line-height: 1.5em"
        >
          Your code has been authenticated
          <br />
        </p>
      </div>
    </ng-template>

    <ng-template [ngIf]="!loading && !loadingInfo && success == false">
      <div
        class="px-md-2 d-flex flex-column justify-content-center align-items-center h-100 w-100"
      >
        <img
          loading="lazy"
          [useSrcset]="true"
          [defaultImage]="'/assets/default.png'"
          [lazyLoad]="'assets/order_error.png'"
          style="aspect-ratio: 1; object-fit: contain; height: 75px"
        />

        <h1
          class="w-100 text-center fw-bolder mt-3"
          style="color: #cc3452; font-size: xx-large"
        >
          Denied
        </h1>
        <p
          class="w-100 text-center mt-2 text-secondary"
          style="font-size: small; font-weight: lighter; line-height: 1.5em"
          *ngIf="mode == 0"
        >
          Your wallet
          <span class="text-dark"> {{ address | address }}</span>
          was not authenticated
          <br />
        </p>
        <p
          class="w-100 text-center mt-2 text-secondary"
          style="font-size: small; font-weight: lighter; line-height: 1.5em"
          *ngIf="mode == 1"
        >
          Your code has not been authenticated
          <br />
        </p>
      </div>
    </ng-template>

    <ng-template [ngIf]="!loading && !loadingInfo && success == undefined">
      <div
        class="w-100 h-100 d-flex flex-column justify-content-{{
          ids.length > 6 ? 'between' : 'end'
        }} align-items-center"
      >
        <div
          class="w-100 rounded-bottom section-box px-2"
          style="overflow-y: scroll; max-height: 80vh"
        >
          <div
            class="w-100 row row-cols-{{
              ids.length > 2 ? (ids.length > 6 ? 3 : 2) : 1
            }} row-cols-md-{{
              ids.length > 6 ? 3 : 3
            }} justify-content-start mt-2 mx-auto"
          >
            <div class="col p-2" *ngFor="let id of ids ?? []">
              <div
                class="rounded m-auto box"
                style="aspect-ratio: 1; overflow: hidden"
              >
                <img
                  class="w-100 h-100"
                  style="object-fit: cover"
                  *ngIf="items && items[id]?.nft != undefined"
                  [src]="items[id]!.nft.img"
                  matTooltip="{{ items[id].nft.name }}, {{
                    items[id].collection.name
                  }}"
                  role="button"
                  (click)="connectWallet()"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="py-4 px-2 px-md-0 w-100 w-md-50">
          <div class="w-100" *ngIf="mode == 0; else authCode">
            <p
              class="w-100 text-center my-4"
              style="
                font-size: 17.5px;
                line-height: 1.2em;
                font-weight: lighter;
              "
            >
              To continue, connect your <b>Ethereum wallet</b> or use your
              <b>Authentication Code</b>.
            </p>

            <a
              class="btn btn-dark w-100 px-3 text-center mt-2 mb-2"
              style="font-size: 25px; font-weight: lighter"
              (click)="connectWallet()"
            >
              {{ "Connect with Wallet" }}
            </a>
            <a
              class="btn btn-dark w-100 px-3 text-center mt-0 mb-3"
              style="font-size: 25px; font-weight: lighter"
              (click)="useAuthCode()"
            >
              {{ "Use Authentication Code" }}
            </a>
          </div>
          <ng-template #authCode>
            <div class="w-100">
              <p
                class="w-100 text-center my-4"
                style="
                  font-size: 17.5px;
                  line-height: 1.2em;
                  font-weight: lighter;
                "
              >
                Enter your <b>Authentication Code</b>.
              </p>
              <form [formGroup]="codeForm" class="w-100">
                <mat-form-field
                  class="w-100 mt-2"
                  style="font-size: small"
                  appearance="outline"
                  floatLabel="never"
                >
                  <input
                    type="text"
                    matInput
                    formControlName="code"
                    placeholder="Auth Code"
                    class="text-dark big-design-input-text"
                  />
                </mat-form-field>
              </form>
              <a
                class="btn btn-dark w-100 px-3 text-center mt-0 mb-3"
                style="font-size: 25px; font-weight: lighter"
                (click)="submitAuthCode()"
              >
                {{ "Continue" }}
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</div>
