<div class="w-100 h-100 position-relative">
  <form [formGroup]="billingForm" novalidate>
    <div class="big-design-header" mat-dialog-title>
      <p class="big-design-title">Billing Method</p>

      <div class="text-end">
        <a class="big-design-alt-button me-1" (click)="addCard()" matTooltip="Save Payment Method">
          {{ saving ? "Saving" : "Save Billing Info" }}
          <div class="big-design-alt-button-spinner" [hidden]="!saving">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </a>
        <a role="button" (click)="closeDialog()" class="ms-1 big-design-button">
          Close
        </a>
      </div>
    </div>
    <mat-dialog-content>
      <div *ngIf="isBrowser() && storeInfo()?.username != undefined">
        <div class="container pb-0 mb-2 mb-md-4">
          <div class="mt-3">
            <!-- List of items-->
            <!-- <div class="d-flex justify-content-left align-items-center pb-4 pb-sm-5 mt-1 ms-2 ps-1">
                <a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
              </div> -->

            <section class="w-100">
              <!-- Item-->
              <mat-card class="shipping-card bg-white mt-0">
                <mat-card-header> </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <input
                          class="text-dark"
                          matInput
                          formControlName="cardholder"
                        />
                        <mat-placeholder>Cardholder Name</mat-placeholder>
                        <mat-error
                          *ngIf="
                            billingForm.controls['cardholder'].hasError(
                              'required'
                            )
                          "
                        >
                          Cardholder name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div
                    class="row gx-10 row-cols-1 row-cols-md-3 row-cols-xl-3 mb-4 mt-4 justify-content-between"
                  >
                    <div class="col d-block">
                      <ngx-stripe-card
                        [options]="cardOptions"
                        [elementsOptions]="elementsOptions"
                      >
                      </ngx-stripe-card>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <input
                          class="text-dark"
                          matInput
                          formControlName="company"
                        />
                        <mat-placeholder>Company (Optional)</mat-placeholder>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>
                <!-- <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                      </mat-card-actions> -->
              </mat-card>
            </section>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <div class="big-design-header" mat-dialog-title>
      <p class="big-design-title">Billing Address</p>
    </div>
    <mat-dialog-content>
      <div *ngIf="isBrowser() && storeInfo()?.username != undefined">
        <div class="container pb-0 mb-0">
          <div class="mt-3">
            <!-- List of items-->
            <!-- <div class="d-flex justify-content-left align-items-center pb-4 pb-sm-5 mt-1 ms-2 ps-1">
                <a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
              </div> -->

            <section class="w-100">
              <!-- Item-->
              <mat-card class="shipping-card bg-white mt-0">
                <mat-card-header> </mat-card-header>
                <mat-card-content>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        class="text-dark"
                        matInput
                        formControlName="address"
                      />
                      <mat-placeholder>Address</mat-placeholder>
                      <mat-error
                        *ngIf="
                          billingForm.controls['address'].hasError('required')
                        "
                      >
                        Address is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row" *ngIf="!hasUnitNumber">
                    <div class="col">
                      <button
                        class="text-dark"
                        mat-button
                        (click)="hasUnitNumber = !hasUnitNumber"
                      >
                        + Add C/O, Apt, Suite, Unit
                      </button>
                    </div>
                  </div>
                  <div class="row" *ngIf="hasUnitNumber">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <textarea
                          class="text-dark"
                          matInput
                          formControlName="address2"
                        ></textarea>
                        <mat-placeholder>Address 2</mat-placeholder>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="full-width text-dark">
                        <mat-select formControlName="country">
                          <mat-select-trigger class="text-dark">
                            {{ billingForm.controls["country"].value }}
                          </mat-select-trigger>
                          <mat-option
                            class="not-empty-select text-dark bg-white"
                            *ngFor="let country of countries()"
                            [value]="country.name"
                          >
                            {{ country.name }}
                          </mat-option>
                        </mat-select>
                        <mat-placeholder>Country</mat-placeholder>
                        <mat-error
                          *ngIf="
                            billingForm.controls['country'].hasError('required')
                          "
                        >
                          Country is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="full-width">
                        <input
                          class="text-dark"
                          matInput
                          formControlName="city"
                        />
                        <mat-placeholder>City</mat-placeholder>
                        <mat-error
                          *ngIf="
                            billingForm.controls['city'].hasError('required')
                          "
                        >
                          City is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="full-width">
                        <input
                          class="text-dark"
                          matInput
                          formControlName="state"
                        />
                        <mat-placeholder>Province/State</mat-placeholder>
                        <mat-error
                          *ngIf="
                            billingForm.controls['state'].hasError('required')
                          "
                        >
                          State is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <input
                          class="text-dark"
                          matInput
                          #postalCode
                          maxlength="10"
                          formControlName="postalCode"
                        />
                        <mat-placeholder>{{
                          getZipFieldName(billingForm.controls["country"].value)
                        }}</mat-placeholder>
                        <!-- <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>
                <!-- <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                      </mat-card-actions> -->
              </mat-card>
            </section>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </form>
</div>
