<div class="w-100">
    <h1 class="text-center fw-bolder m-2 mt-4">Welcome to Thred</h1>
    <p class="text-center fw-bolder mx-2 mt-2">A few things before you get started...</p>
    <div class="d-flex justify-content-center mt-5">
        <div class="mt-2">
            <div class="d-flex">
                <mat-icon class="ms-2 me-2">
                    <span class="material-icons-outlined">
                        work
                    </span>
                </mat-icon>
                <p class="text-start">
                    Set up your <b>billing</b> & <b>merchant plan</b> to get started
                </p>
            </div>
            <div class="d-flex">
                <mat-icon class="ms-2 me-2">
                    <span class="material-icons-outlined">
                        monetization_on
                    </span>
                </mat-icon>
                <p class="text-start">
                    Link your <b>direct-deposit account</b> to get paid from your store
                </p>
            </div>
            <div class="d-flex">
                <mat-icon class="ms-2 me-2">
                    <span class="material-icons-outlined">
                        brush
                    </span>
                </mat-icon>
                <p class="text-start">
                    Upload your first <b>product!</b>
                </p>
            </div>
        </div>
    </div>
    
    <div class="p-2 w-100 mt-5">
        <img src="/assets/design_image_2.png" class="rounded w-100 aspect-ratio" style="object-fit: contain;"> 
    </div>
    <div class="d-flex justify-content-center align-items-center m-2">
        <a role="button" (click)="getStarted()" class="side d-flex text-light btn btn-success rounded-pill mb-2 align-items-center justify-content-center fw-bold">
            GET STARTED
            <mat-icon class="ms-2">
                <span class="material-icons-outlined" style="font-size: 25px;">
                    check_circle
                </span>
            </mat-icon>
        </a>
    </div>
</div>
