.set-img {
    max-width:30px;
    height:auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.smallTitle{
font-size: 4vw;
}

.bigTitle{
font-size: 1.25vw;
}

.footer-link{
  line-height:1.2em; 
  color: #808385;
  text-decoration: none;
}

.footer-link :hover{
  color: #a2a4a5;
}

@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-108rem, 0, 0);
  }
}

.ticker {
  animation: ticker-kf 18s linear infinite;
}