<div
  *ngIf="
    !isAdmin() &&
    !isLanding() &&
    storeInfo().uid != undefined &&
    storeInfo().uid != '' &&
    storeInfo().uid == signedInUid
  "
  class="navbar navbar-expand-lg navbar-light bg-secondary w-100"
>
  <div
    class="container-fluid d-flex justify-content-end px-2 w-100 text-start"
    style="min-height: 50px"
    [class.my-2]="isAdmin()"
    [class.px-md-3]="isAdmin()"
    [class.px-md-5]="!isAdmin()"
  >
    <a role="button" class="btn btn-dark" (click)="accountPressed()">
      EDIT STORE INFO
    </a>
  </div>
</div>

<nav
  *ngIf="isBrowser() && !isAdmin() && !isLanding()"
  [hidden]="storeInfo().username == undefined || storeInfo().username == ''"
  class="navbar navbar-expand-lg navbar-{{
    storeInfo().colorStyle!.nav_code
  }} bg-{{ storeInfo().colorStyle!.back_code }} w-100"
>
  <div
    class="container-fluid d-flex justify-content-between px-2 w-100 text-start"
    style="min-height: 50px"
    [class.my-2]="isAdmin()"
    [class.px-md-3]="isAdmin()"
    [class.px-md-5]="!isAdmin()"
  >
    <div class="d-flex justify-content-start">
      <img class="set-img" [src]="storeInfo().profileLink" />
      <a
        class="navbar-brand px-2 text-{{ storeInfo().colorStyle!.text_code }}"
        role="button"
        (click)="routeToHome()"
        [class.smallTitle]="isMobile()"
        [class.bigTitle]="!isMobile()"
        [style.font-family]="storeInfo().fontName!"
        >{{ storeInfo().fullName }}</a
      >
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 no-bar"
        style="overflow-x: scroll"
      >
        <li *ngFor="let l of storeInfo().header ?? []" class="nav-item">
          <a
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            class="nav-link"
            aria-current="page"
            role="button"
            (click)="routeToLink(l); false"
            href='{{l | storeChecker : true}}'
            [style.font-family]="storeInfo().fontName!"
            >{{ headerName(l) }}</a
          >
        </li>
        <!-- <li class="nav-item"><a class="nav-link" href="/{{storeInfo().username}}/blogs">Blogs</a></li> -->

        <!-- <li *ngIf="isShopComponent(); else elseBlock" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" [style.font-family]="storeInfo().fontName!">SHOP</a>
                    <ul class="dropdown-menu"  aria-labelledby="navbarDropdown" style.background-color="{{selectedTheme()!.bg_color}}">
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" role=button (click)="applyProductFilter()" style.color="{{selectedTheme()!.color}}" [style.font-family]="storeInfo().fontName!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li *ngFor="let type of availableTemplates()"><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" role=button (click)="applyProductFilter(type)" [style.font-family]="storeInfo().fontName!" style.color="{{selectedTheme()!.color}}">{{titleCase(type.templateDisplayName)}}</a></li>
                    </ul>
                </li> -->
        <li
          [hidden]="selectedCurrency() == undefined || !shouldShowCurrency()"
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >{{selectedCurrency()?.flag ?? ""}}</a
          >
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
            style.background-color="{{ selectedTheme()!.bg_color }}"
          >
            <li *ngFor="let currency of availableCurrencies()">
              <a
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                class="dropdown-item"
                style.color="{{ selectedTheme()!.color }}"
                role="button"
                (click)="updateCurrency(currency)"
                [style.font-family]="storeInfo().fontName!"
                >{{ currency.name }} {{ currency.flag }}</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <ul
        *ngIf="!isAdmin()"
        class="navbar-nav me-0 mb-2 ms-auto mb-lg-0 ms-lg-0 p-0"
      >
        <!-- <li *ngIf="!hideCart()" class="d-flex">
          <div class="nav-item dropdown">
            <button
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="btn me-2"
            >
              <img
                class="rounded-circle set-img"
                src="/assets/account_{{
                  storeInfo().colorStyle!.text_code
                }}.png"
              />
            </button>
            <ul
              class="dropdown-menu mb-2"
              aria-labelledby="navbarDropdown"
              style.background-color="{{ selectedTheme()!.bg_color }}"
            >
              <li *ngIf="storeInfo().uid == userInfo()?.uid">
                <a
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  class="dropdown-item"
                  role="button"
                  (click)="accountPressed()"
                  style.color="{{ selectedTheme()!.color }}"
                  [style.font-family]="storeInfo().fontName!"
                  >{{ settings(false)[0]?.Title }}</a
                >
              </li>
              <li *ngFor="let option of settings(true)">
                <a
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  class="dropdown-item"
                  role="button"
                  (click)="routeToOrders()"
                  style.color="{{ selectedTheme()!.color }}"
                  [style.font-family]="storeInfo().fontName!"
                  >{{ option.Title }}</a
                >
              </li>
              <li>
                <a
                  *ngIf="!signedIn"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  class="dropdown-item fw-bold text-success"
                  style="font-size: smaller"
                  role="button"
                  (click)="signInPressed()"
                  style.color="{{ selectedTheme()!.color }}"
                  [style.font-family]="storeInfo().fontName!"
                  >{{ settings(false)[profileSettings.length - 1]?.Title }}</a
                >
              </li>
              <li>
                <a
                  *ngIf="signedIn"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  class="dropdown-item fw-bold text-danger"
                  style="font-size: smaller"
                  role="button"
                  (click)="signOutPressed()"
                  style.color="{{ selectedTheme()!.color }}"
                  [style.font-family]="storeInfo().fontName!"
                  >{{ settings(false)[profileSettings.length - 1]?.Title }}</a
                >
              </li>
            </ul>
          </div>
        </li> -->
        <li
          class="d-flex mt-1 mb-1"
          style="flex-shrink: 0"
        >
          <a
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            class="btn btn-outline-{{ storeInfo().colorStyle!.text_code }} d-flex align-items-center justify-content-center"
            role="button"
            (click)="openWallet()"
            [style.font-family]="storeInfo().fontName!"
          >
            {{providerName()}}
            <mat-icon class="ms-2">
              account_balance_wallet
            </mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  *ngIf="storeInfo().banners && (storeInfo().banners?.length ?? 0) > 0 && !isAdmin() && !isLanding()"
  class="w-100"
  style="height: 45px"
>
  <div *ngIf="storeInfo().bannerStyle == 1" class="w-100 h-100" id="outer">
    <div class="w-100 h-100">
      <div class="w-100 h-100 loop">
        <div class="d-flex w-100 h-100 align-items-center" id="content">
          <div
            class="d-flex h-100 align-items-center"
            *ngFor="let _ of arrLength()"
          >
            <h2
              *ngFor="let banner of storeInfo().banners"
              style.color="{{ bannerTheme(banner)!.color }}"
              style.background-color="{{ bannerTheme(banner)!.bg_color }}"
              class="h-100 px-5 d-flex justify-content-center align-items-center my-auto"
              style="
                font-size: calc(
                  14px + (16 - 14) * (100vw - 400px) / (800 - 400)
                );
              "
            >
              <div *ngIf="banner.text != ''">
                {{(banner.text ?? '')}}
              </div>
              <mat-icon
                class="mt-1"
                *ngIf="banner.icon != ''"
                style="font-size: inherit"
              >
                <span class="ms-1 material-icons-outlined">
                  {{ banner.icon }}
                </span>
              </mat-icon>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="storeInfo().bannerStyle == 0"
    class="w-100 h-100"
    style.background-color="{{ bannerTheme()!.bg_color }}"
  >
    <div
      class="h-100 w-100 d-flex justify-content-between align-items-center"
      style="position: relative"
    >
      <div class="w-100 h-100 d-flex">
        <drag-scroll
          #carousel
          class="w-100 h-100"
          [scrollbar-hidden]="true"
          [indexChanged]="didMove()"
        >
          <div
            drag-scroll-item
            class="w-100 h-100 d-inline-flex justify-content-start align-items-center"
            *ngFor="let banner of storeInfo().banners"
          >
            <h2
              style.color="{{ bannerTheme(banner)!.color }}"
              class="w-100 mx-3 mx-md-0 d-inline-flex justify-content-start justify-content-md-center align-items-center"
              [class.my-auto]="(storeInfo().banners?.length ?? 0) == 1"
              style="
                font-size: calc(
                  14px + (16 - 14) * (100vw - 400px) / (800 - 400)
                );
              "
            >
              <div *ngIf="banner.text != ''" class="mb-1">
                {{(banner.text ?? 'fs')}}
              </div>
              <mat-icon *ngIf="banner.icon != ''" style="font-size: inherit">
                <span class="ms-1 material-icons-outlined">
                  {{ banner.icon }}
                </span>
              </mat-icon>
            </h2>
          </div>
        </drag-scroll>
      </div>
      <div
        class="w-100 d-flex justify-content-between align-items-center"
        style="position: absolute"
      >
        <a
          *ngIf="(storeInfo().banners?.length ?? 0) > 1"
          class="d-none d-md-block"
          role="button"
          (click)="moveLeft()"
        >
          <mat-icon
            class="ms-3 ms-md-5 mt-1"
            style.color="{{ bannerTheme()!.color }}"
          >
            <span class="material-icons-outlined" style="font-size: 30px">
              chevron_left
            </span>
          </mat-icon>
        </a>
        <a
          *ngIf="(storeInfo().banners?.length ?? 0) > 1"
          class="d-none d-md-block"
          role="button"
          (click)="moveRight()"
        >
          <mat-icon
            class="me-3 me-md-5 mt-1"
            style.color="{{ bannerTheme()!.color }}"
          >
            <span class="material-icons-outlined" style="font-size: 30px">
              chevron_right
            </span>
          </mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet (activate)="activateComponent($event)"></router-outlet>

<footer
  *ngIf="
    isBrowser() &&
    (storeInfo()?.username ?? '') != '' &&
    !isAdmin() &&
    !isLanding()
  "
  class="py-5 bg-{{ storeInfo().colorStyle!.back_code }}"
>
  <div class="container-fluid px-3 w-100 d-block justify-content-center">
    <div class="d-block d-md-flex justify-content-between">
      <div
        class="w-100 row row-cols-1 row-cols-md-7 row-cols-xl-7 justify-content-center justify-content-md-start mb-5"
      >
        <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              [style.width.px]="50"
              alt="ok"
              src="assets/polygon_logo.svg"
            />
          </a>
        </div>
        <!-- <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              style="object-fit: contain; height: 25px"
              [style.width.px]="50"
              alt="ok"
              src="assets/mastercard.png"
            />
          </a>
        </div>
        <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              style="object-fit: contain; height: 25px"
              [style.width.px]="50"
              alt="ok"
              src="assets/amexcard.png"
            />
          </a>
        </div>
        <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              style="object-fit: contain; height: 25px"
              [style.width.px]="50"
              alt="ok"
              src="assets/thredcard.png"
            />
          </a>
        </div>
        <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              style="object-fit: contain; height: 25px"
              [style.width.px]="50"
              alt="ok"
              src="assets/applecard.png"
            />
          </a>
        </div>
        <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              style="object-fit: contain; height: 25px"
              [style.width.px]="50"
              alt="ok"
              src="assets/googlecard.png"
            />
          </a>
        </div>
        <div class="col mb-2 mx-2" [style.width.px]="50">
          <a role="button">
            <img
              style="object-fit: contain; height: 25px"
              [style.width.px]="50"
              alt="ok"
              src="assets/microsoftcard.png"
            />
          </a>
        </div> -->
      </div>

      <div
        class="row w-100 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center"
      >
        <div
          class="col mb-4 mx-3"
          *ngFor="let social of storeInfo().socials"
          [style.width.px]="45"
        >
          <a role="button" (click)="openSocial(social.link)">
            <img
              class="rounded-circle"
              style="object-fit: contain"
              [style.width.px]="45"
              alt="ok"
              [src]="getLinkImg(social.name)"
            />
          </a>
        </div>
      </div>
      <div class="w-100 d-none d-md-block">
        <div>
          <div class="w-100 row row-cols-3 justify-content-end">
            <div
              class="col m-0 mx-2"
              style="width: fit-content"
              *ngFor="let col of storeInfo().footer ?? []"
            >
              <a
                class="footer-link"
                role="button"
                *ngFor="let link of col.link; index as j"
                (click)='routeToLink(link); false'
                href='{{link | storeChecker : true}}'
              >
                <p [style.font-family]="storeInfo().fontName!">
                  {{ headerName(link) }}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="w-100 row row-cols-4 row-cols-md-7 row-cols-xl-7 justify-content-end">
            <div class="col mb-4 mx-2" [style.width.px]="50">
                
            </div>
            <div class="col mb-4 mx-2" [style.width.px]="50">
                
            </div>
            <div class="col mb-4 mx-2" [style.width.px]="50">
                
            </div>
            <div class="col mb-4 mx-2" [style.width.px]="50">
                
            </div>
            <div class="col mb-4 mx-2" [style.width.px]="50">
                
            </div>
        </div> -->
  </div>
  <div class="container">
    <p
      class="m-0 text-center text-{{ storeInfo().colorStyle!.text_code }}"
      [style.font-family]="storeInfo().fontName!"
    >
      &copy; {{ storeInfo().fullName }} 2022
    </p>
  </div>
  <div class="container">
    <p
      class="m-0 text-center text-{{ storeInfo().colorStyle!.text_code }}"
      [style.font-family]="storeInfo().fontName!"
    >
      Powered by Thred
    </p>
  </div>
</footer>
