<!-- <mat-sidenav-container
  class="example-container bg-transparent"
  style="min-height: 100vh"
>
  <mat-sidenav
    class="w-100 w-md-25 p-3 bg-{{
      (storeInfo?.colorStyle)?.back_code ?? 'light'
    }} h-100 text-{{ (storeInfo?.colorStyle)?.text_code ?? 'dark' }}"
    [position]="'end'"
    #drawer
    
  >
    <div class="m-2 mb-4 d-flex justify-content-between align-items-center">
      <mat-icon
        class="p-0 text-{{ (storeInfo?.colorStyle)?.text_code ?? 'dark' }} fw-bolder"
        style="overflow: hidden"
        role="button"
        (click)="drawer.toggle()"
      >
        close
      </mat-icon>
      <a
        role="button"
        (click)="openWallet()"
        class="btn fw-bold btn-outline-{{
          (storeInfo?.colorStyle)?.text_code ?? 'dark'
        }} rounded-pill"
        [style.font-family]="storeInfo?.fontName ?? 'roboto'"
        *ngIf="
          storeInfo?.uid != undefined && storeInfo?.uid != '' && provider
        "
      >
        DISCONNECT
      </a>
    </div>

    <div
      class="w-100 text-center"
      *ngIf="
        storeInfo?.uid != undefined && storeInfo?.uid != '' && !provider
      "
    >
      <h2
        class="text-center w-100"
        [style.font-family]="storeInfo?.fontName!"
      >
        NO WALLET
      </h2>
      <p
        class="text-center w-100 text-secondary"
        [style.font-family]="storeInfo?.fontName!"
      >
        Connect your wallet to view/purchase NFTs on <br />
        {{ storeInfo?.fullName }}
      </p>
      <a
        role="button"
        (click)="openWallet()"
        class="btn mt-2 fw-bold btn-outline-{{
          (storeInfo?.colorStyle)!.text_code
        }} rounded-pill"
        [style.font-family]="storeInfo?.fontName!"
      >
        CONNECT WALLET
      </a>
    </div>
    <div
      class="w-100 h-100 text-center"
      *ngIf="
        storeInfo?.uid != undefined && storeInfo?.uid != '' && provider
      "
    >
      <h2
        class="text-center w-100 mb-0"
        [style.font-family]="storeInfo?.fontName!"
      >
        MY ACCOUNT
      </h2>
      <p
        class="text-center text-secondary w-100 mt-0 mb-3"
        style="font-size: smaller"
        [style.font-family]="storeInfo?.fontName!"
      >
        {{ provider | providerAddress | async | address: false }}
      </p>

      <mat-tab-group mat-stretch-tabs>
        <mat-tab class="h-100">
          <ng-template mat-tab-label>
            <mat-icon
              class="example-tab-icon text-{{
                (storeInfo?.colorStyle)!.text_code
              }}"
            >
              token</mat-icon
            >
            <span class="ms-2 text-{{ (storeInfo?.colorStyle)!.text_code }}">
              TOKENS
            </span>
          </ng-template>

          <div style="min-height: 70vh">
            <div
              class="w-100 text-center mt-2 mb-3"
              *ngFor="let token of storeInfo?.allTokens ?? []"
            >
              <a
                role="button"
                style="text-decoration: none"
                class="card bg-{{
                  (storeInfo?.colorStyle)!.back_code
                }} px-4 py-2 shadow rounded-pill d-flex justify-content-start align-items-center text-{{
                  (storeInfo?.colorStyle)!.text_code
                }} border-secondary"
                *ngIf="isBrowser()"
              >
                <mat-icon
                  class="mb-2 mt-2 p-0"
                  style="overflow: hidden"
                  svgIcon="{{ token.contract | currencyIcon }}"
                  [ngbTooltip]="qtipContent"
                  role="button"
                >
                  <ng-template #qtipContent>
                    {{ token.name }}
                  </ng-template>
                </mat-icon>
                <h2
                  class="text-center my-auto mb-2"
                  *ngIf="(provider | networkCheck | async)?.chainId == 137"
                  style="font-size: xx-large"
                >
                  {{
                    provider
                      | providerAddress
                      | async
                      | walletBalance: provider:token.contract
                      | async
                      | big2Num
                  }}
                </h2>
              </a>
            </div>
            <p
              [style.font-family]="storeInfo?.fontName!"
              class="text-center text-secondary mt-2"
              style="font-size: small"
            >
              These tokens are used to buy/sell on <br />{{
                storeInfo?.fullName
              }}
            </p>
          </div>
        </mat-tab>
        <mat-tab class="h-100">
          <ng-template mat-tab-label>
            <mat-icon
              class="example-tab-icon text-{{
                (storeInfo?.colorStyle)!.text_code
              }}"
              >category</mat-icon
            >
            <span class="ms-2 text-{{ (storeInfo?.colorStyle)!.text_code }}">
              NFTs
            </span>
          </ng-template>

          <div
            class="w-100 h-100 justify-content-center pt-3 pb-1"
            *ngIf="
              (ownedCollections(provider | providerAddress | async)?.length ??
                0) >
                0;
              else empty_collections
            "
          >
            <div
              class="w-100"
              *ngFor="
                let collection of ownedCollections(
                  provider | providerAddress | async
                ) | collectionFilter: 'timestamp-asc'
              "
            >
              <div
                class="w-100 h-100 d-flex justify-content-between align-items-center"
              >
                <div class="w-100 h-100">
                  <div
                    class="d-flex align-items-center text-center justify-content-center w-100"
                  >
                    <a
                      role="button"
                      class="bg-{{
                        (storeInfo?.colorStyle)!.back_code
                      }} side text-secondary d-inline-flex mx-auto mx-md-3 me-md-1 p-2 px-3 mt-0 mb-3 align-items-center justify-content-start"
                      style="font-size: 18px; text-decoration: none"
                      [style.font-family]="storeInfo?.fontName!"
                    >
                      <b
                        class="text-{{ (storeInfo?.colorStyle)!.text_code }}"
                        style="font-size: 18px"
                      >
                        {{ collection.name }}
                      </b>
                    </a>
                  </div>


                  <div
                    class="row gx-0 row-cols-2 justify-content-center w-100"
                  >
                    <div
                      class="h-100 w-50 col px-2"
                      *ngFor="
                        let product of ownedProducts(
                          provider | providerAddress | async,
                          collection
                        ) ?? [] | sortCol: 'tokenId-asc'
                      "
                    >
                      <div class="h-100 w-100">
                        <div
                          class="bg-{{
                            (storeInfo?.colorStyle)!.back_code
                          }} shadow rounded border border-secondary mb-3"
                          [class.border-secondary]="
                            storeInfo!.colorStyle!.text_code == 'light'
                          "
                          style="overflow: hidden"
                        >
                          <div class="pb-0 w-100">
                            <a
                              role="button"
                              class="w-100"
                              role="button"
                              (click)="
                                routeToProduct(product.docID!); drawer.toggle()
                              "
                            >
                              <img
                                id="image"
                                class="h-100 w-100 {{
                                  (storeInfo?.colorStyle)!.back_code
                                }}"
                                loading="lazy"
                                [useSrcset]="true"
                                [defaultImage]="'/assets/default.png'"
                                [lazyLoad]="
                                  product?.img ?? '/assets/default.png'
                                "
                                alt="ok"
                                style="
                                  object-fit: cover;
                                  aspect-ratio: 1;
                                  margin-bottom: 0.35em;
                                "
                              />
                            </a>
                          </div>
                          <div
                            class="card-footer w-100 p-4 pt-0 pt-2 pb-1 border-top-0 bg-transparent d-none d-md-block"
                          >
                            <div class="text-center w-100">
                              <p
                                class="fw-bolder w-100"
                                style="
                                  text-decoration: none;
                                  text-overflow: ellipsis;
                                  word-wrap: break-word;
                                  word-break: break-all;
                                  overflow-x: hidden;
                                "
                                style.color="{{ selectedTheme()!.color }}"
                                [style.font-family]="storeInfo?.fontName!"
                                role="button"
                                (click)="
                                  routeToProduct(product.docID!);
                                  drawer.toggle()
                                "
                              >
                                {{ product.name }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <ng-template #empty_collections class="w-100">
            <p
              [style.font-family]="storeInfo?.fontName!"
              class="text-center text-secondary my-2 w-100"
              style="font-size: medium; height: 80vh"
            >
              No NFTs owned
            </p>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="h-100 bg-transparent" *ngIf="isBrowser()">
    <div
      *ngIf="
        !isAdmin() &&
        !isLanding() &&
        storeInfo?.uid != undefined &&
        storeInfo?.uid != '' &&
        storeInfo?.uid == signedInUid &&
        provider &&
        (provider | networkCheck | async)?.chainId == 137
      "
      class="navbar navbar-expand-lg navbar-light bg-black w-100"
    >
      <div
        class="container-fluid d-flex justify-content-end px-2 w-100 text-start px-md-5"
        style="min-height: 50px"
      >
      <a
              *ngIf="storeInfo?.active ?? false"
              role="button"
              class="side d-flex text-light btn btn-success rounded-pill mb-0 align-items-center justify-content-center fw-bold"
              style="font-size: 15px"
            >
              LIVE
              <mat-icon class="ms-2">
                <span class="material-icons-outlined" style="font-size: 25px">
                  check_circle
                </span>
              </mat-icon>
            </a>
            <a
              *ngIf="!(storeInfo?.active ?? false)"
              role="button"
              class="side d-flex text-light btn btn-danger rounded-pill mb-0 align-items-center justify-content-center fw-bold"
              style="font-size: 15px"
              [ngbTooltip]="etipContent"
            >
              <ng-template #etipContent>
                <div class="d-flex">
                  <mat-icon class="ms-2 me-2 text-danger">
                    <span class="material-icons-outlined"> error_outline </span>
                  </mat-icon>
                  <p class="text-start">
                    Your store is not visible to customers.
                  </p>
                </div>
              </ng-template>
              INACTIVE
              <mat-icon class="ms-2">
                <span class="material-icons-outlined" style="font-size: 25px">
                  error_outline
                </span>
              </mat-icon>
            </a>
      
        <a role="button" class="btn btn-dark ms-2" (click)="accountPressed()">
          EDIT STORE INFO
        </a>
      </div>
    </div>
    <div
      *ngIf="
        !isLanding() &&
        storeInfo?.uid != undefined &&
        storeInfo?.uid != '' &&
        ((provider | networkCheck | async)?.chainId ?? 137) != 137 &&
        provider &&
        !closeBanner
      "
      class="mt-0 w-100"
      style="position: fixed; z-index: 1000"
      style.background-color="{{ selectedTheme(0.85)!.color }}"
    >
      <div
        class="d-flex justify-content-between align-items-center px-2 w-100 h-100 text-start"
        style="padding-top: 0.8em; padding-bottom: 0.8em"
      >
        <mat-icon
          class="me-2 text-{{ (storeInfo?.colorStyle)!.back_code }} h-100"
          style="aspect-ratio: 1"
        ></mat-icon>

        <div class="d-flex justify-content-center align-items-center">
          <p
            class="text-center fw-bolder my-auto text-{{
              (storeInfo?.colorStyle)!.back_code
            }}"
            style="font-size: small"
          >
            TO USE {{ storeInfo?.fullName }}, PLEASE SWITCH YOUR NETWORK TO
            POLYGON MAINNET
          </p>
          <mat-icon svgIcon="polygon_icon" class="ms-2"></mat-icon>
        </div>

        <mat-icon
          class="ms-2 text-{{ (storeInfo?.colorStyle)!.back_code }} h-100"
          role="button"
          (click)="closeBanner = true"
          style="aspect-ratio: 1"
          >close</mat-icon
        >
      </div>
    </div>

   


  </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet (activate)="activateComponent($event)"></router-outlet>
