.set-img {
    max-width:30px;
    height:auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.smallTitle{
font-size: 4vw;
}

.bigTitle{
font-size: 1.25vw;
}

.footer-link{
  line-height:1.2em; 
  color: #808385;
  text-decoration: none;
}

.footer-link :hover{
  color: #a2a4a5;
}