.set-img {
    max-width:30px;
    height:auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.smallTitle{
font-size: 4vw;
}

.adminTitle{
  font-size: 12px;
  }

.bigTitle{
font-size: 1.25vw;
}

.footer-link{
  line-height:1.2em; 
  color: #808385;
  text-decoration: none;
}

.footer-link :hover{
  color: #a2a4a5;
}


#outer {
  overflow: hidden;
}

#outer div {
  display: inline-block;
}

.loop {
  white-space: nowrap;
  animation: loop-anim 30s linear infinite;
}

@keyframes loop-anim {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-158%) /* This works because of the div between "outer" and "loop" */
  }
}