<div class="wrapper w-100" style="height: 100vh">
  <div class="w-100 bg-transparent h-100" id="formContent" *ngIf="productToBuy">
    <div
      class="d-flex justify-content-center align-items-center w-100 px-2 px-md-0"
      style="height: 100%"
      *ngIf="!claimed; else claimedDisplay"
    >
      <div class="text-center big-design-card w-100" style="max-width: 600px">
        <div class="w-100 rounded">
          <div *ngIf="!loading && !loadingInfo; else loadingMethods">
            <img
              *ngIf="!provider; else form"
              loading="lazy"
              class="w-100 rounded"
              style="aspect-ratio: 1; object-fit: cover"
              [useSrcset]="true"
              [defaultImage]="'/assets/default.png'"
              [lazyLoad]="productToBuy.img"
            />
            <ng-template #form>
              <form class="w-100" [formGroup]="authForm">
                <div class="w-100">
                  <h2
                    class="my-0 big-design-input-title"
                    style="font-weight: lighter"
                  >
                    Code
                  </h2>
                  <h5
                    class="mt-0 big-design-input-subtitle"
                    style="font-weight: lighter"
                  >
                    7-Digit Authentication Code found in your Order Email
                  </h5>
                  <mat-form-field
                    class="w-100 fw-bolder text-center"
                    appearance="outline"
                    floatLabel="never"
                    style="font-size: small"
                  >
                    <input
                      matInput
                      class="bg-transparent big-design-input-text"
                      type="text"
                      name="name"
                      formControlName="code"
                      placeholder="Authentication Code"
                    />
                  </mat-form-field>
                </div>
              </form>
            </ng-template>
          </div>
          <ng-template #loadingMethods>
            <div
              class="w-100 d-flex justify-content-center align-items-center my-4"
            >
              <div class="big-design-spinner" style="z-index: 100">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </ng-template>
        </div>

        <p
          class="w-100 text-center my-4"
          style="font-size: 17.5px; line-height: 1.2em; font-weight: lighter"
          *ngIf="!provider && !loadingInfo; else hasProvider"
        >
          Connect your Metamask Wallet to claim your
          <b>{{ productToBuy.name }}</b> NFT.
        </p>
        <ng-template #hasProvider>
          <div
            class="d-flex justify-content-center align-items-center my-2 mb-3"
            *ngIf="!loadingInfo; else loadingInfoText"
          >
            <p
              *ngIf="!loading; else loadingText"
              class="text-center text-secondary my-auto"
              style="font-size: 17.5px; font-weight: lighter"
            >
              Wallet ID: <span class="text-dark">{{ address | address }}</span>
              <br />
            </p>
            <ng-template #loadingText>
              <p
                class="text-center text-secondary my-auto"
                style="font-size: 17.5px; font-weight: lighter"
              >
                Transferring NFT to
                <span class="text-dark">{{ address | address }}</span>
                <br />
              </p>
            </ng-template>

            <mat-icon
              [hidden]="loading"
              role="button"
              class="ms-1 text-white fw-bolder rounded-circle bg-danger p-1 mt-0"
              style="font-size: medium; aspect-ratio: 1"
              (click)="disconnectWallet()"
            >
              close
            </mat-icon>
          </div>
          <ng-template #loadingInfoText>
            <div
              class="d-flex justify-content-center align-items-center my-2 mb-3"
            >
              <p
                *ngIf="!loading"
                class="text-center text-secondary my-auto"
                style="font-size: 17.5px; font-weight: lighter"
              >
                Loading Item Details
                <br />
              </p>
            </div>
          </ng-template>
        </ng-template>
        <a
          class="btn btn-dark w-100 px-3 text-center mt-2 mb-3"
          [hidden]="loading || loadingInfo"
          style="font-size: 25px; font-weight: lighter"
          (click)="connectWallet()"
        >
          {{
            provider
              ? authForm.controls.code.value
                ? "Verify"
                : "Continue"
              : "Connect"
          }}
        </a>
      </div>
    </div>
    <ng-template #claimedDisplay>
      <div
        class="d-flex justify-content-center align-items-center w-100 px-2 px-md-0"
        style="height: 100%"
      >
        <div class="text-center big-design-card w-100" style="max-width: 600px">
          <div class="w-100 rounded">
            <div
              class="m-0 m-md-5 px-md-2 d-flex flex-column justify-content-center align-items-center"
            >
              <img
                loading="lazy"
                [useSrcset]="true"
                [defaultImage]="'/assets/default.png'"
                [lazyLoad]="'assets/order_success.png'"
                style="aspect-ratio: 1; object-fit: contain; height: 75px"
              />

              <h1
                class="w-100 text-center fw-bolder mt-3"
                style="color: #34cc73; font-size: xx-large"
              >
                Success
              </h1>
              <p
                class="w-100 text-center mt-2 text-secondary"
                style="
                  font-size: small;
                  font-weight: lighter;
                  line-height: 1.5em;
                "
              >
                Your NFT was sent to wallet:
                <span class="text-dark">{{ address | address }}</span>
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
