<ngx-spinner
    bdColor = '{{selectedIndicator().bg_color}}'
    size = "medium"
    color = '{{selectedIndicator().color}}'
    type = {{selectedIndicator().name}} 
    [fullScreen] = "false"
    style.color = "{{selectedIndicator()!.color}}"
    [name]="'subSpinner'"
    [disableAnimation] = "true"
    >
    <!-- <h3 class="text-center mt-5" [style.font-family]="storeInfo().fontName!" class="mt-5">UPLOADING PRODUCT...</h3> -->
    </ngx-spinner>
<div class=" w-100 h-100 m-0" style.background-color="{{selectedTheme()!.bg_color!}}">
    <div class="row gx-0 gx-md-4 gx-lg-4 row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center mx-2 mt-2 mx-md-3 mt-md-3 mx-lg-3 mt-lg-3" >
                    
        <div class="col h-100">
            <h2 class="text-center fw-bolder m-2" style="font-size: x-large;" style.color="{{selectedTheme()!.color}}" [style.font-family]="storeInfo().fontName!">Merchant Plan</h2>
            <div *ngIf="mode == 'edit' && subInfo!.cancel_at_period_end" class="d-flex align-items-center justify-content-center mt-3 mb-2" style="font-size: 15px;">
                <p class="text-center fw-bolder m-2 text-danger" style="font-size:initial;" [style.font-family]="storeInfo().fontName!">Renew your plan to keep your store!</p>
            </div>
                <div class="card-body mt-2" *ngIf="mode == 'edit'">
                    <div class="rounded mx-auto" style="width: 35%; aspect-ratio: 1 / 1" >
                        <a role="button" style="text-shadow: 2px 2px 4px #42424281;">
                            <img src='assets/thred_basic.png' class="rounded img-responsive h-100 w-100 p-1" style="object-fit:contain;">
                        </a>
                    </div>
                    <div class="d-block align-items-center justify-content-center mt-3 mb-3" style="font-size: 19px;">
                        <label [style.font-family]="storeInfo().fontName!" class="mx-auto w-100 d-flex align-items-center justify-content-center" ><a class="fw-bold text-center mx-auto" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{planStatus()}} <b *ngIf="subInfo.status == 'trialing'" style="color: #6c757d;">(Trial)</b></a></label>
                    </div>
                    <div class="card bg-{{storeInfo().colorStyle!.back_code}} p-3 shadow" [class.border-secondary] = "storeInfo()!.colorStyle!.text_code == 'light'">
                        <div class="d-block align-items-center justify-content-start my-2" style="font-size: 15px;">
                            <label style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Price: </label>
                            <mat-hint *ngIf="subInfo.status != 'trialing'" [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{formatPrice((subInfo?.plan.amount ?? 0) / 100)}}/{{subInfo?.plan.interval ?? 'month'}}</a></mat-hint>
                            <mat-hint *ngIf="subInfo.status == 'trialing'" [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">FREE <b style="color: #6c757d;">({{formatPrice((subInfo?.plan.amount ?? 0) / 100)}}/{{subInfo?.plan.interval ?? 'month'}} after trial)</b></a></mat-hint>
                        </div>
                        <div *ngIf="!subInfo!.cancel_at_period_end" class="d-block align-items-center justify-content-start my-2 mb-5" style="font-size: 15px;">
                            <label *ngIf="subInfo.status != 'trialing'" style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Renews: </label>
                            <label *ngIf="subInfo.status == 'trialing'" style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Trial End: </label>
                            <mat-hint [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{planRenewalDate()}}</a></mat-hint>
                        </div>
                        <div *ngIf="subInfo!.cancel_at_period_end" class="d-block align-items-center justify-content-start my-2 mb-5" style="font-size: 15px;">
                            <label style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Plan Ends: </label>
                            <mat-hint [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{planEndDate()}}</a></mat-hint>
                        </div>
                    </div>
                    <div *ngIf="!subInfo!.cancel_at_period_end" class="d-flex align-items-center justify-content-center mt-3 mb-2" style="font-size: 15px;">
                        <button [style.font-family]="storeInfo().fontName!" (click)="cancelSubscription()" class="btn d-flex" style.background-color="{{selectedTheme()!.color}}" style.color="{{selectedTheme()!.bg_color}}">Cancel Subscription <mat-icon class="ms-1">back_hand</mat-icon></button>
                    </div>
                    <div *ngIf="subInfo!.cancel_at_period_end" class="d-flex align-items-center justify-content-center mt-3 mb-2" style="font-size: 15px;">
                        <button [style.font-family]="storeInfo().fontName!" (click)="reactivateSubscription()" class="btn d-flex" style.background-color="{{selectedTheme()!.color}}" style.color="{{selectedTheme()!.bg_color}}">Reactivate Subscription <mat-icon class="ms-1">check_circle</mat-icon></button>
                    </div>
                </div>
                <div class="card-body mt-2" *ngIf="mode == 'new'">
                    <div class="rounded mx-auto" style="width: 35%; aspect-ratio: 1 / 1" >
                        <a role="button" style="text-shadow: 2px 2px 4px #42424281;">
                            <img src='assets/thred_basic.png' class="rounded img-responsive h-100 w-100 p-1" style="object-fit:contain;">
                        </a>
                    </div>
                    <div class="d-block align-items-center justify-content-center mt-3 mb-3" style="font-size: 19px;">
                        <label [style.font-family]="storeInfo().fontName!" class="mx-auto w-100 d-flex align-items-center justify-content-center" ><a class="fw-bold text-center mx-auto" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">Thred Core Plan</a></label>
                    </div>
                    <div class="card bg-{{storeInfo().colorStyle!.back_code}} p-3 shadow" [class.border-secondary] = "storeInfo()!.colorStyle!.text_code == 'light'">
                        <div class="d-block align-items-center justify-content-start my-2" style="font-size: 15px;">
                            <label style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Price: </label>
                            <mat-hint *ngIf="canTrial!" [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{formatPrice(35.00)}}/month after trial</a></mat-hint>
                            <mat-hint *ngIf="!canTrial!" [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{formatPrice(35.00)}}/month</a></mat-hint>
                        </div>
                    </div>
                    
                    <!-- <div *ngIf="!subInfo!.cancel_at_period_end" class="d-block align-items-center justify-content-start my-2 mb-5" style="font-size: 15px;">
                        <label *ngIf="subInfo.status != 'trialing'" style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Renews: </label>
                        <label *ngIf="subInfo.status == 'trialing'" style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Trial End: </label>
                        <mat-hint [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{planRenewalDate()}}</a></mat-hint>
                    </div>
                    <div *ngIf="subInfo!.cancel_at_period_end" class="d-block align-items-center justify-content-start my-2 mb-5" style="font-size: 15px;">
                        <label style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = " mb-1 me-1">Plan Ends: </label>
                        <mat-hint [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bold" role="button" style="text-decoration: none;" style.color="{{selectedTheme()!.color}}">{{planEndDate()}}</a></mat-hint>
                    </div> -->
                    <div class="d-flex align-items-center justify-content-center mt-3 mb-2" style="font-size: 15px;">
                        <button *ngIf="canTrial!" [style.font-family]="storeInfo().fontName!" (click)="startSubscription()" class="btn d-flex" style.background-color="{{selectedTheme()!.color}}" style.color="{{selectedTheme()!.bg_color}}">Start Free Trial</button>
                        <button *ngIf="!canTrial!" [style.font-family]="storeInfo().fontName!" (click)="startSubscription()" class="btn d-flex" style.background-color="{{selectedTheme()!.color}}" style.color="{{selectedTheme()!.bg_color}}">Start Subscription</button>
                    </div>
                </div>
        </div>
    </div>
</div>