<div mat-dialog-title class="d-flex justify-content-between align-items-center">
  <div class="big-design-header">
    <h2 class="big-design-title">Plan Type</h2>
    <div class="text-end">
      <a role="button" (click)="closeDialog()" class="big-design-button">
        Close
      </a>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="w-100 h-100 position-relative">
    <div
      class="row gx-0 row-cols-1 row-cols-md-2 justify-content-center px-0 w-100 h-100"
      *ngIf="plans"
    >
      <div
        class="col w-100 w-md-{{
          (i + 1) % 2 > 0 && i == plans.length - 1 ? '100' : '50'
        }} p-2 pe-md-{{
          (i + 1) % 2 == 0 || (i == plans.length - 1 && plans.length % 2 > 0)
            ? '0'
            : '2'
        }} ps-md-{{
          (i + 1) % 2 > 0 || (i == plans.length - 1 && plans.length % 2 > 0)
            ? '0'
            : '2'
        }}"
        *ngFor="let plan of plans; index as i"
      >
        <div class="big-design-card p-0 {{ plan.css }} w-100 h-100">
          <div class="w-100 h-100">
            <p
              class="px-2 py-3 fw-bolder text-center text-light big-design-title"
              style="font-size: large"
            >
              {{ plan.name }}
            </p>
            <p
              class="px-2 mt-0 mb-2 text-center fw-bolder text-white big-design-title"
              style="font-size: 45px; line-height: 0.75em"
            >
              {{ plan.price | currency: "USD" }}
              <br />
              <i style="font-size: 15px"> Billed Monthly </i>
            </p>
            <div class="card-body mt-3 big-design-body">
              <h3 role="button" class="text-white text-center big-design-title" matTooltip="View on 'thredapps.com'">
                View Details
              </h3>
              <div
                class="d-flex align-items-center justify-content-center mt-3 mb-0"
                style="font-size: 15px"
              >
                <button
                  (click)="startSubscription(plan)"
                  *ngIf="subInfo == '' && plan.available"
                  class="big-design-button light-btn"
                  matTooltip="Activate this plan."
                >
                  {{ saveId == plan.id ? "Activating" : "Select Plan" }}
                  <div
                    class="big-design-button-spinner"
                    [hidden]="saveId != plan.id"
                  >
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
                <button
                  *ngIf="subInfo == '' && !plan.available"
                  class="big-design-button light-btn"
                  matTooltip="This plan is unavailable."
                >
                  UNAVAILABLE
                </button>

                <button
                  (click)="cancelSubscription(plan)"
                  *ngIf="
                    subInfo != '' &&
                    !subInfo!.cancel_at_period_end &&
                    subInfo.plan.id == plan.id
                  "
                  class="big-design-button light-btn"
                  matTooltip="Cancel this plan."
                >
                  {{ saveId == plan.id ? "Cancelling" : "Cancel Plan" }}
                  <div
                    class="big-design-button-spinner"
                    [hidden]="saveId != plan.id"
                  >
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
                <button
                  (click)="renewSubscription(plan)"
                  *ngIf="
                    subInfo != '' &&
                    subInfo!.cancel_at_period_end &&
                    subInfo.plan.id == plan.id
                  "
                  class="big-design-button light-btn"
                  matTooltip="Re-activate this plan."
                >
                  {{ saveId == plan.id ? "Renewing" : "Renew Plan" }}
                  <div
                    class="big-design-button-spinner"
                    [hidden]="saveId != plan.id"
                  >
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
                <button
                  (click)="switchToSubscription(plan)"
                  *ngIf="subInfo != '' && subInfo.plan.id != plan.id"
                  class="big-design-button light-btn"
                  matTooltip="Switch current plan to this plan."
                >
                  {{ saveId == plan.id ? "Switching" : "Switch to Plan" }}
                  <div
                    class="big-design-button-spinner"
                    [hidden]="saveId != plan.id"
                  >
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
