
<div #cropContainer class="rounded" [ngStyle]="{'display': 'block'}">
    <a role="button" class="rounded-top bg-dark mt-auto d-flex justify-content-center align-items-center text-center text-light fw-bold" style="height: 45px; text-decoration: none;"  (click)="useImage()">
        USE PHOTO
    </a>
    <!-- <a role="button"><img class="card-img-top" style="object-fit: contain; " [style.width.px]="myInnerHeight()" [style.height.px]="myInnerHeight()" [src]='getColorSide(undefined, color)' alt='ok' onerror="this.src='https://firebasestorage.googleapis.com/v0/b/clothingapp-ed125.appspot.com/o/Resources%2Flink_empty.jpeg?alt=media';"/></a> -->

    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="ratio != undefined"
        [containWithinAspectRatio]="true"
        [aspectRatio]="ratio ?? 1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
</div>