<div class="big-design-header px-4 pb-2 align-items-center">
  <p class="big-design-title single-line d-block pb-2">
    {{ col?.name }}
  </p>
  <p
    class="big-design-button"
    style="width: fit-content"
    (click)="createNewNFT(col)"
    matTooltip="Add New Item to Collection"
  >
    Create NFT
  </p>
</div>
<div
  class="big-design-body position-relative"
  style="overflow-x: scroll; height: 475px"
>
  <table
    #table
    mat-table
    [dataSource]="dataSource ?? []"
    class="shadow-none w-md-100 position-absolute"
    style="width: 650px"
  >
    <ng-container matColumnDef="edition">
      <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
        Edition
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="big-design-body text-truncate"
      >
        {{ element.tokenId }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
        Price
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="big-design-body text-truncate"
      >
        {{ element.price | currency: col!.currency:"symbol":"1.0-0" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="utility">
      <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
        Utilities
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="big-design-body"
      >
      <p class="text-truncate nft-name my-auto" matTooltip="{{ element.info.utility ?? [] | utilityInfo }}">
        {{ element.info.utility ?? [] | utilityInfo: true }}
      </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
        Status
      </th>
      <td mat-cell *matCellDef="let element" class="big-design-body">
        <app-status [status]="element.status"> </app-status>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="big-design-body fw-bold"
      ></th>
      <td mat-cell *matCellDef="let element" class="text-end">
        <a
          class="big-design-button border-0 text-secondary fw-bold me-0"
          role="button"
          matTooltip="View Details"
        >
          <mat-icon> more_horiz </mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="big-design-body fw-bold">
        Name
      </th>
      <td mat-cell *matCellDef="let element" class="big-design-body" style="width: 400px;">
        <div class="d-flex justify-content-start align-items-center my-auto">
          <img
            class="nft-img rounded"
            loading="lazy"
            id="image"
            [useSrcset]="true"
            [defaultImage]="'/assets/default.png'"
            [lazyLoad]="element?.img ?? '/assets/default.png'"
          />
          <p class="ms-3 my-auto big-design-link-text text-truncate nft-max">
            {{ element.name }}
          </p>
        </div>
      </td>
    </ng-container>

    <tr
      class="border-top"
      style="height: 50px; background-color: rgb(246, 247, 252)"
      mat-header-row
      *matHeaderRowDef="displayedColumns2; sticky: true"
    ></tr>
    <tr
      mat-row
      style="height: 70px"
      *matRowDef="let row; columns: displayedColumns2"
      (click)="createNewNFT(col, row)"
    ></tr>

    <tr *matNoDataRow>
      <td
        class="mat-cell border-0"
        style="height: 250px"
        [attr.colspan]="displayedColumns2.length"
      >
        <p
          class="w-100 text-center big-design-title my-2"
          style="font-size: large"
          (click)="createNewNFT(col)"
        >
          No NFTs in this collection.
        </p>
      </td>
    </tr>
  </table>
  <div class="w-100 position-absolute px-3" style="bottom: 0; margin-bottom: 0">
    <mat-paginator
      class="mat-elevation-z0 big-design-body"
      #paginator
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
      showFirstLastButtons
      aria-label="Select page of tokens"
    >
    </mat-paginator>
  </div>
</div>
