
<div mat-dialog-title class="bg-transparent rounded-top d-flex justify-content-between align-items-center m-3" style="height: 30px;">
    <h2 class="mt-1">
        ALL ORDERS
    </h2>
    <a role="button" (click)='close()' style="text-shadow: 2px 2px 4px #42424281;">
        <mat-icon >highlight_off</mat-icon>
    </a>
</div>
<mat-dialog-content>
    <table *ngIf='orderLoaded() && orders && (orders?.length ?? 0) > 0' #orderTable mat-table [dataSource]="orders" class="w-100 h-100 m-3">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-dark px-1 py-1"> Name </th>
            <td mat-cell *matCellDef="let element" style="border-bottom-style: none;"  class="px-1 py-1"> {{(element.address?.name ?? '')?.trim() == '' ? 'Not Provided' : element.address?.name}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef class="text-dark px-1 py-1"> Value </th>
            <td mat-cell *matCellDef="let element" style="border-bottom-style: none;"  class="px-1 py-1"> {{orderTotal(element)}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-dark px-1 py-1"> Status </th>
            <td mat-cell *matCellDef="let element" style="border-bottom-style: none;" class="py-1">
                <button (click)='viewOrder(element)' class="btn rounded-pill d-flex mx-1 my-2 btn-{{matchingElem(element).color}} text-light fw-bolder" style="font-size: small;">
                    {{matchingElem(element).text}}
                    <mat-icon class="ms-2" [inline]=true>
                        <span class="material-icons-outlined">
                            {{matchingElem(element).icon}}
                        </span>
                    </mat-icon>
                </button>
            </td>
            <!-- <td mat-cell *matCellDef="let element" *ngIf='element.status == "shipped"'><mat-icon class="text-success">local_shipping</mat-icon></td> -->
          </ng-container>
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef class="text-dark px-1 py-1"> Date </th>
            <td mat-cell *matCellDef="let element" style="border-bottom-style: none;"  class="px-1 py-1"> {{element.timestamp.toDateString()}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-dark py-1"> </th>
            <td mat-cell *matCellDef="let element" class="d-flex h-100 justify-content-end align-items-center py-1" style="border-bottom-style: none;">
                <mat-icon role="button" (click)='viewOrder(element)' class="ms-2 h-100 d-flex h-100 justify-content-end align-items-center">
                    <span class="material-icons-outlined">
                        chevron_right
                    </span>
                </mat-icon>
            </td>

            <!-- <td mat-cell *matCellDef="let element" *ngIf='element.status == "shipped"'><mat-icon class="text-success">local_shipping</mat-icon></td> -->
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-dialog-content>