<div
  mat-dialog-title
  class="d-flex justify-content-between align-items-center"
>
  <!-- <h2 class="me-2 text-center d-none d-md-block">
    {{
      mode == 0
        ? editingBlock == undefined
          ? "Drag/Drop to Rearrange"
          : "Edit Block"
        : "Edit Page"
    }}
  </h2> -->

  <div
    class="d-flex justify-content-end align-items-center w-100"
  >
    <!-- <a
      role="button"
      (click)="close()"
      class="fw-bolder btn btn-dark rounded-pill px-3 ms-2"
    >
      SAVE LAYOUT
    </a> -->
    <a
      role="button"
      (click)="closeDialog()"
      class="btn-danger p-2 rounded-circle ms-2 fw-bolder text-light d-inline-flex justify-content-center align-items-center"
      style="font-size: x-large; text-decoration: none"
    >
      <mat-icon>highlight_off</mat-icon>
    </a>
  </div>
</div>
<mat-dialog-content
  class="w-100 h-100 d-block d-md-flex pb-4"
>
  <div
    class="w-100 h-100 w-md-50 card shadow positon-relative bg-light"
    style="overflow-y: scroll"
  >
    <ngx-spinner
      bdColor="{{ selectedIndicator().bg_color }}"
      size="medium"
      color="{{ selectedIndicator().color }}"
      type="{{ selectedIndicator().name }}"
      [fullScreen]="false"
      style.color="{{ selectedIndicator()!.color }}"
      [name]="'loader'"
    >
      <h3 [style.font-family]="storeInfo?.fontName!" class="text-center mt-5">
        Updating NFT
      </h3>
    </ngx-spinner>
    <form
      class="mt-4 px-3 px-md-5 px-lg-5 w-100 contact1-form position-absolute"
      [formGroup]="nftForm"
    >
      <h3 class="h2 my-0 text-secondary">Name</h3>
      <!-- <h5 class="mt-0">
            Your NFT's Name, Description, and Price
          </h5> -->
      <div class="wrap-input1 w-100">
        <h2 class="w-100">
          {{ nft!.name }}
        </h2>
      </div>
      <h3 class="h2 my-0 text-secondary">Description</h3>

      <div class="wrap-input1 w-100 mt-0">
        <h2 class="w-100">
          {{ nft!.description }}
        </h2>
      </div>

      <h3 class="h2 my-0 text-secondary">Traits</h3>

      <div class="wrap-input1 w-100 mt-0">
        <div
          class="row gx-4 row-cols-3 align-items-center justify-content-start"
        >
          <!-- <div class="col p-2" *ngFor="let p of nft?.traits ?? []">
            <div
              class="card border border-dark text-center rounded-panel-2 p-1"
            >
              <p class="fw-bolder">
                {{ p.trait_type.toUpperCase() }}
              </p>
              <p style="font-size: medium">
                {{ p.value }}
              </p>
            </div>
          </div>
          <div class="w-100" *ngIf="(nft?.traits ?? []).length == 0">
            <div class="wrap-input1 w-100 mt-0">
              <h2 class="w-100">
                No Traits
              </h2>
            </div>
          </div> -->
        </div>
      </div>

      <h3 class="h2 my-0 text-secondary">Price</h3>
      <div class="wrap-input1 w-100">
        <mat-form-field
          class="w-100"
          appearance="outline"
        >
          <mat-label
            >Price</mat-label
          >
          <input
            matInput
            currencyMask
            [options]="customCurrencyMaskConfig"
            class="bg-transparent"
            type="text"
            formControlName="price"
            placeholder="Price ({{ collection?.currency ?? 'MATIC' }})"
          />
          <mat-hint style="font-size: 12px;" align='start'>
            {{
              nftForm.controls.price.value
                | ratePipe: (collection | productCurrency)
            }}
          </mat-hint>
        </mat-form-field>
        <!-- <h3
        class="d-none d-md-block"
          role="button"
          style="font-size: 15px; width: fit-content"
          style.color="{{ selectedTheme()!.color }}"
          [style.font-family]="storeInfo!.fontName!"
          [ngbTooltip]="priceConvertTooltip2"
        >
          <ng-template #priceConvertTooltip2>
            {{ "Asset price in USD" }}
          </ng-template>
          {{
            nft?.price
              | price
              | ratePipe: (collection | productCurrency)
          }}
        </h3> -->
      </div>
      <!-- <div class="col mt-4" [hidden]='nft!.lazyHash'>
        <h2 class="h2 my-0">
          Listing
        </h2>
        <h5 class="mt-0">
          Update the listing status of your NFT.
        </h5>
        <mat-radio-group
          formControlName="isListed"
        >
          <div>
            <mat-radio-button [value]="true" (change)="radioChange($event)"
              >For Sale</mat-radio-button
            >
          </div>
          <div class="mt-2">
            <mat-radio-button [value]="false" (change)="radioChange($event)"
              >Not For Sale</mat-radio-button
            >
          </div>
        </mat-radio-group>
      </div> -->
    </form>

    <div
      class="position-absolute"
      style="z-index: 5; bottom: 10px; right: 10px"
    >
      <p *ngIf="err != ''" class="text-danger text-center fw-bold">
        {{ err }}
      </p>
      <br />
      <a
        role="button"
        class="btn mt-2 btn-dark rounded"
        (click)="save()"
        >Save Changes</a
      >
    </div>
  </div>
  <div
    class="w-100 h-100 w-md-50"
  >
    <div class="w-100 h-100 px-5 mt-0 justify-content-center align-items-top">
      <!-- <a
          role="button"
          class="btn mt-2 btn-dark rounded-pill"
          
          (click)="openFileSelector()"
          >Browse Files</a
        > -->
      <div class="w-100 mt-3 text-center">
        <span class="w-100 text-center fw-bolder" style="font-size: 15px">
          {{ fileName }}
        </span>
       
      </div>

      <!-- <div class="col w-100 card shadow p-3 mt-3">
            <h2 class="h1 mb-4 fw-bold">Search Engine Listing Preview</h2>
            <p
              class="mb-0"
              style="color: #2417af; font-family: Arial; font-size: large"
            >
              {{this.layoutForm.controls.seoTitle.value ?? ""}}
            </p>
            <p
              class="my-0"
              style="color: #006521; font-family: Arial; font-size: small"
            >
              {{urlText(true) ?? ""}}
            </p>
            <p
              class="my-0"
              style="color: #6e6e6e; font-family: Arial; font-size: small"
            >
              {{this.layoutForm.controls.seoDesc.value ?? ""}}
            </p>
          </div>
          <div class="col w-100 card shadow p-3 d-flex mt-3">
            <h2 class="h1 mb-4 fw-bold">Social Link Preview</h2>
  
            <div class="w-100 my-0 d-flex align-items-center justify-content-start" style="height: 150px;">
              <img
              class="h-100"
              style="object-fit: contain; aspect-ratio: 1;"
              src="{{this.layoutForm.controls.metaPic.value ?? storeInfo?.profileLink}}"
            />
              <p
              class="ms-3 my-auto"
              style="color: #6e6e6e; font-family: Arial; font-size: small; text-overflow: ellipsis; overflow-y: hidden; height: 120px;"
            >
            <b class="text-dark" style="font-size: medium;">
              {{this.layoutForm.controls.metaTitle.value ?? ""}}
            </b>
            <br>
  
              {{this.layoutForm.controls.metaDesc.value ?? ""}}
            </p>
            </div>
          </div> -->
    </div>
  </div>
</mat-dialog-content>

<!-- (load)='passVars(iframe2)' -->
