<div mat-dialog-title class="d-flex justify-content-between align-items-center">
  <h2 class="me-2 text-center d-none d-md-block">
    {{ data.asset ? "View Token" : "New Token" }}
  </h2>

  <div class="d-flex justify-content-end align-items-center">
    <a
      role="button"
      (click)="save()"
      class="big-design-alt-button me-1"
      *ngIf="!data.asset"
    >
      {{ saving ? "Saving" : "Save" }}
      <div class="big-design-alt-button-spinner" [hidden]="!saving">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
    <a role="button" (click)="closeDialog()" class="big-design-button ms-1">
      Close
    </a>
  </div>
</div>
<mat-dialog-content class="h-100 d-block d-md-flex pb-4" style="overflow-y: hidden">
  <div class="w-100 h-100 w-md-50 big-design-card my-2">
    <div class="h-100 w-100 big-design-body" style="overflow-y: scroll">
      <form class="mt-3 mt-md-0 w-100" [formGroup]="nftForm">
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Name</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Unique name for this token.
          </h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              class="bg-transparent big-design-input-text"
              type="text"
              name="name"
              formControlName="title"
              placeholder="Token Name"
            />
            <!-- <span class="shadow-input1 py-3 px-2 px-lg-4 px-md-4"></span> -->
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Collection</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Collection the token will belong to.
          </h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              class="bg-transparent big-design-input-text"
              type="text"
              name="name"
              [ngModel]="nftContract.name"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="true"
              placeholder="Collection"
            />
            <!-- <span class="shadow-input1 py-3 px-2 px-lg-4 px-md-4"></span> -->
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Description</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Description for this token. (Optional)
          </h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <textarea
              matInput
              class="bg-transparent big-design-input-text"
              formControlName="description"
              placeholder="Token Description"
              style="min-height: 60px"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Price</h2>
          <h5 class="mt-0 big-design-input-subtitle">Price for this token.</h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              currencyMask
              [options]="customCurrencyMaskConfig"
              class="bg-transparent big-design-input-text"
              type="text"
              formControlName="price"
              placeholder="Price"
            />
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Royalties</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Royalty percentage of this token for secondary sales fees.
          </h5>
          <mat-form-field
            class="w-100 mb-2"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              currencyMask
              [options]="customCurrencyMaskConfig2"
              class="bg-transparent big-design-input-text"
              type="text"
              formControlName="royalty"
              placeholder="{{ royaltyPlaceholder }}"
            />
            <h4
              matSuffix
              *ngIf="
                nftForm.controls.royalty.value && nftForm.controls.price.value
              "
              class="text-secondary big-design-input-text d-none d-md-block"
            >
              {{
                (nftForm.controls.royalty.value / 100) *
                  nftForm.controls.price.value
                  | currency: nftContract.currency:"symbol":"1.0-0"
              }}
            </h4>
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Utilities</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            The utilities the token will grant to the holder.
          </h5>

          <div class="w-100" *ngFor="let util of utility ?? []">
            <mat-checkbox
              [color]="'primary'"
              [(ngModel)]="util.active"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="data.asset"
              >{{ util.name }}</mat-checkbox
            >

            <div
              *ngIf="util.active && util.code == 'ar' && !data.asset"
              class="w-100 py-2"
            >
              <h2 class="big-design-input-title my-0">IOS AR File (.usdz)</h2>
              <h5 class="big-design-input-subtitle mt-0">
                Used as a fallback when the auto .usdz conversion fails on older
                devices.
              </h5>
              <a
                class="mt-0 big-design-{{
                  nftForm.controls.ios_model.value ? 'alt-' : ''
                }}button"
                (click)="iosfileInput.click()"
              >
                {{
                  nftForm.controls.ios_model.value
                    ? "Replace File"
                    : "Browse Files"
                }}
              </a>
            </div>

            <div
              *ngIf="util.active && util.code == 'gate'"
              class="w-100 py-2"
            >
              <h2 class="big-design-input-title my-0">Linked Page</h2>
              <h5 class="big-design-input-subtitle mt-0">
                The URL of the page this token is linked to.
              </h5>
              <mat-form-field
                class="w-100"
                appearance="outline"
                floatLabel="never"
                style="font-size: small"
                [disabled]="data.asset"
              >
                <input
                  matInput
                  class="bg-transparent big-design-input-text"
                  type="text"
                  name="url"
                  placeholder="URL"
                  formControlName="tokenURL"
                />
                <!-- <span class="shadow-input1 py-3 px-2 px-lg-4 px-md-4"></span> -->
              </mat-form-field>
            </div>
            <!-- <div *ngIf="util.active && util.code == 'ar'" class="w-100 py-3">
                <div class="big-design-input-title">
                  IOS AR File (.usdz)
                </div>
                  <a class="mt-2 big-design-{{nftForm.controls.ios_model.value ? 'alt-' : ''}}button" (click)="iosfileInput.click()">
                    {{nftForm.controls.ios_model.value ? 'Replace File' : 'Browse Files'}}
                  </a>
              </div> -->
          </div>
        </div>

        <!-- <h2 class="h2 my-0">NFT Traits</h2>
        <h5 class="mt-0">Add Traits to your NFT</h5>
        <a role="button" class="big-design-button mb-2" (click)="addTrait()">
          Add Trait
        </a>
        <div
          class="wrap-input1 w-100 rounded"
          style="overflow-y: scroll; max-height: 250px"
        >
          <div
            *ngFor="let trait of traits ?? []; index as i"
            class="shadow bg-white mx-3 px-1"
          >
            <div
              class="d-md-flex align-items-center justify-content-between h-100 text-center py-0 bg-warning"
            >
              <div
                class="d-flex align-items-center justify-content-start h-100 py-0 bg-danger"
              >
                <mat-form-field appearance="outline" class="my-0">
                  <input
                    matInput
                    class="text-center fw-bolder bg-success"
                    type="text"
                    [(ngModel)]="trait.trait_type"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder="Name"
                  />
                </mat-form-field>

                <mat-form-field
                  class="ms-md-1"
                  appearance="outline"
                >
                  <input
                    matInput
                    class="bg-transparent text-center text-secondary"
                    type="text"
                    [(ngModel)]="trait.value"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder="Value"
                  />
                </mat-form-field>
              </div>
              <a
                class="big-design-alt-button"
                role="button"
                (click)="removeTrait(i)"
              >
                Remove
              </a>
            </div>
          </div>
        </div> -->

        <!-- <div class="col mt-4">
          <h2 class="h2 my-0">Lazy Minting</h2>
          <h5 class="mt-0">
            Lazy minting allows you to mint your NFT at the time of purchase,
            allowing you to avoid upfront Gas Fees.
          </h5>
          <mat-radio-group formControlName="lazyMint">
            <div>
              <mat-radio-button [value]="true" (change)="radioChange($event)"
                >Lazy Mint</mat-radio-button
              >
            </div>
            <div class="mt-2">
              <mat-radio-button [value]="false" (change)="radioChange($event)"
                >Don't Lazy Mint</mat-radio-button
              >
            </div>
          </mat-radio-group>
        </div> -->

        <!-- utilityData -->
      </form>
    </div>
    <div
      class="position-md-absolute d-flex justify-content-center my-2 my-md-0 justify-content-md-end"
      style="z-index: 5; bottom: 10px; right: 10px"
    >
      <p *ngIf="err != ''" class="text-danger text-center fw-bold">
        {{ err }}
      </p>
    </div>
  </div>
  <div class="w-100 h-100 w-md-50 mt-3 mt-md-0 px-1 px-md-5">
    <div
      class="w-100 h-100 my-2 big-design-card"
      style="display: flex; flex-direction: column"
    >
      <div
        class="big-design-header justify-content-{{
          data.asset ? 'between' : 'between'
        }}"
      >
        <p class="big-design-title">
          {{
            data.asset ? "Edition " + data.asset.tokenId + "" : "Model Preview"
          }}
          <br />
          <a *ngIf="data.asset" class="big-design-body mt-4">
            <app-status [status]="data.asset.status"> </app-status>
          </a>
        </p>
        <input
          #fileInput
          type="file"
          (change)="fileChangeEvent($event, 'skybox')"
          style="display: none"
        />
        <input
          #iosfileInput
          type="file"
          (change)="fileChangeEvent($event, 'ios_model')"
          style="display: none"
        />

        <div
          class="d-inline-flex justify-content-center align-items-center"
          *ngIf="!data.asset; else assetStatus"
        >
          <a
            class="big-design-button"
            [hidden]="!nftForm.controls.file.value"
            (click)="drop?.showFileSelector()"
          >
            Replace
          </a>
        </div>
        <ng-template #assetStatus>
          <a *ngIf="data.asset.status == 0" class="big-design-button"> Remove from Sale </a>
        </ng-template>
      </div>
      <div class="big-design-body w-100 h-100 mt-0 rounded" style="flex: 1">
        <ngx-dropzone
          class="w-100 h-100"
          style="border-color: #2852ea"
          (change)="dropped($event)"
          *ngIf="
            !nftForm.controls.file.value && nftForm.controls.file.value != '0'
          "
          [multiple]="false"
        >
          <ngx-dropzone-label class="big-design-title text-dark">
            Drop 3D Model Here
            <br />
            <p style="font-size: small">
              Accepted formats: {{ acceptedModels }}
            </p>
            <a role="button" class="mt-0 big-design-alt-button">Browse Files</a>
          </ngx-dropzone-label>
          <!-- <ngx-dropzone-preview
          class="w-100 h-100"
          *ngIf="nftForm.controls.file.value"
        >
          <ngx-dropzone-label
            >{{ "Model: " }} ({{ fileName }})</ngx-dropzone-label
            <div class="w-100 h-100">
          >
            
          </div>
        </ngx-dropzone-preview> -->
        </ngx-dropzone>
        <div
          class="w-100 h-100 position-relative"
          style="z-index: 1000"
          *ngIf="
            nftForm.controls.file.value && nftForm.controls.file.value != '0'
          "
        >
          <div class="position-absolute w-100 h-100">
            <!-- <p class="big-design-title w-100 text-center mb-2">
            {{ fileName }}
          </p> -->
            <app-model-viewer
              [camera]="true"
              [model]="fileDisplay"
              [animate]="true"
              [skybox]="
                'https://storage.googleapis.com/clothingapp-ed125.appspot.com/Resources/site-demo/street.hdr'
              "
              [poster]="nftForm.controls.cover.value ?? '/assets/default.png'"
              [id]="'viewer'"
              [ar]="false"
            >
            </app-model-viewer>
          </div>
          <ngx-dropzone
            class="w-100 h-100 position-absolute bg-transparent border-0"
            style="z-index: 1000; pointer-events: none"
            (change)="dropped($event)"
            [multiple]="false"
            [disableClick]="true"
            #drop
          >
          </ngx-dropzone>
          <div
            [hidden]="!nftForm.controls.file.value"
            class="position-absolute d-flex justify-content-start align-items-center flex-column"
            style="right: 10px; top: 10px; bottom: 10px; z-index: 1001"
          >
            <a
              class="big-design-alt-button p-1"
              matTooltip="Change Skybox"
              [matTooltipPosition]="'left'"
              (click)="fileInput.click()"
            >
              <mat-icon> wallpaper </mat-icon>
            </a>
          </div>
          <!-- <div style="bottom: 10px; right: 10px">
          <a role="button" class="big-design-alt-button">Replace</a>
        </div> -->
        </div>
      </div>

      <!--     
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event, 'model')"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        accept="{{ acceptedModels }}"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <div
            class="w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <div class="text-center">
              <div
                class="d-flex justify-content-center align-items-center fw-bolder"
                style="font-size: medium"
              >
                Drop 3D Model Here
              </div>
              <a
                role="button"
                class="btn mt-2 btn-dark rounded-pill"
                (click)="openFileSelector()"
                >Browse Files</a
              >
            </div>
          </div>
        </ng-template>
      </ngx-file-drop> -->

      <!-- <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event, 'skybox')"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        accept="{{ acceptedSkybox }}"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <div
            class="w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <div class="text-center">
              <div
                class="d-flex justify-content-center align-items-center fw-bolder"
                style="font-size: medium"
              >
                Drop SkyBox File Here (.hdr)
              </div>
              <a
                role="button"
                class="btn mt-2 btn-dark rounded-pill"
                (click)="openFileSelector()"
                >Browse Files</a
              >
            </div>
          </div>
        </ng-template>
      </ngx-file-drop> -->

      <!-- <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event, 'cover')"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        accept="{{ acceptedCovers }}"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <div
            class="w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <div class="text-center">
              <div
                class="d-flex justify-content-center align-items-center fw-bolder"
                style="font-size: medium"
              >
                Drop Cover Image Here
              </div>
              <a
                role="button"
                class="btn mt-2 btn-dark rounded-pill"
                (click)="openFileSelector()"
                >Browse Files</a
              >
            </div>
          </div>
        </ng-template>
      </ngx-file-drop> -->

      <!-- <a
            role="button"
            class="btn mt-2 btn-dark rounded-pill"
            
            (click)="openFileSelector()"
            >Browse Files</a
          > -->
    </div>
  </div>
</mat-dialog-content>

<!-- (load)='passVars(iframe2)' -->
