<div mat-dialog-title class="d-flex justify-content-between align-items-center">
  <h2 class="me-2 text-center d-none d-md-block">
    {{ data.asset ? "View Token" : "New Token" }}
  </h2>

  <div class="d-flex justify-content-end align-items-center">
    <a
      role="button"
      (click)="save()"
      class="big-design-alt-button me-1"
      *ngIf="!data.asset"
    >
      {{ saving ? "Saving" : "Save" }}
      <div class="big-design-alt-button-spinner" [hidden]="!saving">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
    <a role="button" (click)="closeDialog()" class="big-design-button ms-1">
      Close
    </a>
  </div>
</div>
<mat-dialog-content
  class="h-100 d-block d-md-flex pb-4"
  style="overflow-y: hidden"
>
  <div class="w-100 h-100 w-md-50 big-design-card my-2">
    <div class="h-100 w-100 big-design-body" style="overflow-y: scroll">
      <form class="mt-3 mt-md-0 w-100" [formGroup]="nftForm">
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Name</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Unique name for this token.
          </h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              class="bg-transparent big-design-input-text"
              type="text"
              name="name"
              formControlName="title"
              placeholder="Token Name"
            />
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Collection</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Collection the token will belong to.
          </h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              class="bg-transparent big-design-input-text"
              type="text"
              name="name"
              [ngModel]="nftContract.name"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="true"
              placeholder="Collection"
            />
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Description</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Description for this token. (Optional)
          </h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <textarea
              matInput
              class="bg-transparent big-design-input-text"
              formControlName="description"
              placeholder="Token Description"
              style="min-height: 60px"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Price</h2>
          <h5 class="mt-0 big-design-input-subtitle">Price for this token.</h5>
          <mat-form-field
            class="w-100"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              currencyMask
              [options]="customCurrencyMaskConfig"
              class="bg-transparent big-design-input-text"
              type="text"
              formControlName="price"
              placeholder="Price"
            />
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Royalties</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            Royalty percentage of this token for secondary sales fees.
          </h5>
          <mat-form-field
            class="w-100 mb-2"
            appearance="outline"
            floatLabel="never"
            style="font-size: small"
          >
            <input
              matInput
              currencyMask
              [options]="customCurrencyMaskConfig2"
              class="bg-transparent big-design-input-text"
              type="text"
              formControlName="royalty"
              placeholder="{{ royaltyPlaceholder }}"
            />
            <h4
              matSuffix
              *ngIf="
                nftForm.controls.royalty.value && nftForm.controls.price.value
              "
              class="text-secondary big-design-input-text d-none d-md-block"
            >
              {{
                (nftForm.controls.royalty.value / 100) *
                  nftForm.controls.price.value
                  | currency: nftContract.currency:"symbol":"1.0-0"
              }}
            </h4>
          </mat-form-field>
        </div>
        <div class="w-100">
          <h2 class="my-0 big-design-input-title">Utilities</h2>
          <h5 class="mt-0 big-design-input-subtitle">
            The utilities the token will grant to the holder.
          </h5>

          <div class="w-100" *ngFor="let util of utility ?? []">
            <mat-checkbox
              [color]="'primary'"
              [(ngModel)]="util.active"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="data.asset"
              >{{ util.name }}</mat-checkbox
            >

            <div
              *ngIf="util.active && util.code == 'ar' && !data.asset"
              class="w-100 py-2"
            >
              <h2 class="big-design-input-title my-0">IOS AR File (.usdz)</h2>
              <h5 class="big-design-input-subtitle mt-0">
                Used as a fallback when the auto .usdz conversion fails on older
                devices.
              </h5>
              <a
                class="mt-0 big-design-{{
                  nftForm.controls.ios_model.value ? 'alt-' : ''
                }}button"
                (click)="iosfileInput.click()"
              >
                {{
                  nftForm.controls.ios_model.value
                    ? "Replace File"
                    : "Browse Files"
                }}
              </a>
            </div>

            <div *ngIf="util.active && util.code == 'gate'" class="w-100 py-2">
              <h2 class="big-design-input-title my-0">Linked URLs</h2>
              <h5 class="big-design-input-subtitle mt-0">
                The URLs of the page this token is linked to.
              </h5>


              <mat-form-field
              class="w-100"
              appearance="outline"
              [disabled]="data.asset"
              
            >
              <mat-chip-list #chipList aria-label="Product selection">
                <mat-chip
                  *ngFor="let page of selectedPages ?? []"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(page)"
                  class="category-chip big-design-input-text"
                >
                  <div class="category-chip__text">
                    {{ pageName(page) }}
                  </div>
                  <button
                    matChipRemove
                    class="d-flex justify-content-center align-items-center btn me-1"
                    style="width: fit-content; aspect-ratio: 1/1"
                    *ngIf="removable"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  class="big-design-input-text"
                  placeholder="Products"
                  #pageInput
                  [formControl]="pageCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-list>
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <cdk-virtual-scroll-viewport
                  class="autocomplete-test-viewport"
                  [ngStyle]="{ height: '200px' }"
                  itemSize="35"
                >
                  <mat-option
                    *cdkVirtualFor="let page of filteredPages | async"
                    [value]="page.url"
                  >
                    <div
                      class="d-flex justify-content-start align-items-center w-100"
                    >
                      <!-- <img
                        id="image"
                        class="me-2 rounded big-design-input-text"
                        [src]="product.img ?? ''"
                        style="
                          object-fit: cover;
                          width: 35px;
                          aspect-ratio: 1;
                        "
                      /> -->
                      {{ page.name }}
                    </div>
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-autocomplete>
            </mat-form-field>

<!-- 
              <mat-form-field
                class="w-100"
                appearance="outline"
                floatLabel="never"
                style="font-size: small"
                [disabled]="data.asset"
              >
                <input
                  matInput
                  class="bg-transparent big-design-input-text"
                  type="text"
                  name="url"
                  placeholder="URL"
                  formControlName="tokenURL"
                />
              </mat-form-field> -->
            </div>
          </div>
        </div>
      </form>
    </div>
    <div
      class="position-md-absolute d-flex justify-content-center my-2 my-md-0 justify-content-md-end"
      style="z-index: 5; bottom: 10px; right: 10px"
    >
      <p *ngIf="err != ''" class="text-danger text-center fw-bold">
        {{ err }}
      </p>
    </div>
  </div>
  <div class="w-100 h-100 w-md-50 mt-3 mt-md-0 px-1 px-md-5">
    <div
      class="w-100 h-100 my-2 big-design-card"
      style="display: flex; flex-direction: column"
    >
      <div
        class="big-design-header justify-content-{{
          data.asset ? 'between' : 'between'
        }}"
      >
        <p class="big-design-title">
          {{
            data.asset ? "Edition " + data.asset.tokenId + "" : "Model Preview"
          }}
          <br />
          <a *ngIf="data.asset" class="big-design-body mt-4">
            <app-status [status]="data.asset.status"> </app-status>
          </a>
        </p>
        <input
          #fileInput
          type="file"
          (change)="fileChangeEvent($event, 'skybox')"
          style="display: none"
        />
        <input
          #iosfileInput
          type="file"
          (change)="fileChangeEvent($event, 'ios_model')"
          style="display: none"
        />

        <div
          class="d-inline-flex justify-content-center align-items-center"
          *ngIf="!data.asset; else assetStatus"
        >
          <a
            class="big-design-button"
            [hidden]="!nftForm.controls.file.value"
            (click)="drop?.showFileSelector()"
          >
            Replace
          </a>
        </div>
        <ng-template #assetStatus>
          <a *ngIf="data.asset.status == 0" class="big-design-button">
            Remove from Sale
          </a>
        </ng-template>
      </div>
      <div class="big-design-body w-100 h-100 mt-3 rounded" style="flex: 1">
        <ngx-dropzone
          class="w-100 h-100"
          style="border-color: #2852ea"
          (change)="dropped($event)"
          *ngIf="
            !nftForm.controls.file.value && nftForm.controls.file.value != '0'
          "
          [multiple]="false"
        >
          <ngx-dropzone-label class="big-design-title text-dark">
            Drop 3D Model Here
            <br />
            <p style="font-size: small">
              Accepted formats: {{ acceptedModels }}
            </p>
            <a role="button" class="mt-0 big-design-alt-button">Browse Files</a>
          </ngx-dropzone-label>
        </ngx-dropzone>
        <div
          class="w-100 h-100 position-relative"
          style="z-index: 1000"
          *ngIf="
            nftForm.controls.file.value && nftForm.controls.file.value != '0'
          "
        >
          <div class="position-absolute w-100 h-100">
            <app-model-viewer
              [camera]="true"
              [model]="fileDisplay"
              [animate]="true"
              [skybox]="skyBoxDisplay"
              [poster]="nftForm.controls.cover.value ?? '/assets/default.png'"
              [id]="'viewer'"
              [ar]="false"
            >
            </app-model-viewer>
          </div>
          <ngx-dropzone
            class="w-100 h-100 position-absolute bg-transparent border-0"
            style="z-index: 1000; pointer-events: none"
            (change)="dropped($event)"
            [multiple]="false"
            [disableClick]="true"
            #drop
          >
          </ngx-dropzone>
          <div
            *ngIf="!data.asset"
            class="position-absolute d-flex justify-content-end align-items-center flex-column"
            style="right: 10px; top: 10px; bottom: 10px; z-index: 1001"
          >
            <a
              class="big-design-alt-button p-1"
              matTooltip="Change Skybox"
              [matTooltipPosition]="'left'"
              (click)="fileInput.click()"
            >
              <mat-icon> wallpaper </mat-icon>
            </a>
            <a
              class="big-design-alt-button p-1 mt-2"
              matTooltip="Clear Model"
              [matTooltipPosition]="'left'"
              (click)="nftForm.controls.file.setValue(null)"
            >
              <mat-icon> close </mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
