apple-pay-button {
    --apple-pay-button-width: 140px;
    --apple-pay-button-height: 30px;
    --apple-pay-button-border-radius: 5px;
    --apple-pay-button-padding: 5px 0px;
}


  .selected{
    opacity: 0.5;
  }

.old-price {
    text-decoration: line-through;
    text-decoration-style: solid;
    color: #808080;
}

.new-price {
  text-decoration: none;
}

.low{
  color: rgb(165, 101, 42);
}

.mid{
  color: silver;
}

.high{
  color: gold;
}
/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.shake{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.anim{
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #03e9f4;
  transition: 0.5s;
}
/* .anim:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
} */

.anim .anim-border{
  position: absolute;
  display: block;
}
.anim .anim-border:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.anim .anim-border:nth-child(2){
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.anim .anim-border:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.anim span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

.rounded-panel{
  border-radius: 20px; 
  object-fit: contain; 
  overflow: hidden
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.hover-icon:hover{
  color: rgb(1, 216, 216);
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.rounded-panel-2{
  border-radius: 10px; 
  object-fit: contain; 
  overflow: hidden
}

.rounded-10{
  border-radius: 20px !important;
}

tr td {
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}


table{
  display: inline;
}

.padding{
  padding-left: 20px; 
  padding-right: 20px;
}

.rounded-10-bottom{
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.rounded-10-top{
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.single-line{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  }

.stayFixed{
  position: fixed; 
  left: 0; 
  right: 0; 
  bottom: 0px; 
  width: 100%;
  z-index: 1000;
}

.bottom{
  margin-bottom: 0px;
}