<router-outlet></router-outlet>

<div
  class="p-2 px-{{ mode == 0 ? '2' : '0' }} bg-transparent w-100"
  style="height: 90vh; overflow-y: scroll"
>
  <div
    class="w-100 h-100"
    [hidden]="
      !(storeInfo && productToBuy && collection) || !(productToBuy.tokenId > 0)
    "
  >
    <div
      class="bg-transparent d-flex justify-content-center justify-content-md-start align-items-top align-items-md-center flex-column flex-md-row h-md-100 w-100 p-2 pt-4"
    >
      <div
        class="h-md-100 big-design-card w-100 w-md-auto p-0 d-{{
          mode == 0 ? 'block' : 'none'
        }} d-md-block"
        style="aspect-ratio: 1"
        style.background-color="{{ selectedTheme()!.bg_color }}"
        *ngIf="productToBuy"
      >
        <div class="big-design-body rounded h-100 w-100">
          <app-model-viewer
            [camera]="true"
            [model]="productToBuy.assetUrl"
            [animate]="true"
            [poster]="productToBuy.img ?? '/assets/default.png'"
            [id]="'viewer'"
            [ar]="productToBuy.info!.utility | utilityInfo: false:'ar'"
            [ios_model]="productToBuy.ios_model"
            [skybox]="productToBuy.skybox"
          >
          </app-model-viewer>
        </div>
      </div>
      <div
        class="big-design-card h-md-100 w-100 text-center text-md-start shadow-none ms-md-2 position-relative p-0 animate__animated animate__fadeIn animate__faster animate__delay-0s"
        style.background-color="{{ selectedTheme()!.bg_color }}"
        [style.font-family]="storeInfo?.fontName"
      >
        <div
          class="position-absolute p-md-4 w-100 h-100 d-{{
            mode == 0 ? 'block' : 'none'
          }} d-md-block"
        >
          <div
            class="d-flex flex-column justify-content-start align-items-center w-100"
          >
            <p class="mt-0 w-100" style="font-size: 30px; line-height: 1.4em">
              {{ collection?.name }}:
              <br />
              {{ productToBuy?.name }}
            </p>
            <div
              class="w-100 d-flex justify-content-center flex-column-reverse align-items-center flex-md-row justify-content-md-start align-items-md-start py-2"
            >
              <div class="w-100 w-md-auto">
                <div
                  class="card bg-dark rounded-pill p-3 w-100 px-4"
                  role="button"
                  *ngIf="productToBuy?.status == 0"
                  (click)="buyItem()"
                >
                  <p class="w-100 my-auto text-light" style="font-size: 20px">
                    Buy Now
                  </p>
                </div>
                <div
                  class="card bg-secondary rounded-pill p-3 w-100 px-4"
                  *ngIf="productToBuy?.status == 1"
                >
                  <p class="w-100 my-auto text-light" style="font-size: 20px">
                    Not For Sale
                  </p>
                </div>
              </div>
              <div
                class="card border-0 border-md rounded-pill bg-white p-3 px-4 ms-md-2 mt-3 mt-md-auto"
                style="width: fit-content"
              >
                <p class="w-100 my-auto" style="font-size: 20px">
                  {{
                    productToBuy?.price
                      | currency: collection?.currency:"symbol":"1.0-0"
                  }}
                </p>
              </div>
            </div>

            <mat-tab-group
              mat-stretch-tabs
              #menu
              class="w-100 h-100 mt-4"
              dynamicHeight
              animationDuration="0ms"
            >
              <mat-tab class="my-0">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon text-dark"
                    >call_to_action</mat-icon
                  >
                  <span class="ms-2 text-dark big-design-body fw-bold">
                    Info
                  </span>
                </ng-template>
                <div class="w-100 h-100 p-2">
                  <div class="py-4 pb-3 w-100 big-design-card">
                    <div class="big-design-header flex-column flex-md-row">
                      <h2 class="big-design-title m-0 m-md-auto w-100">
                        {{ collection?.collectionCount }}
                        {{
                          collection?.collectionCount
                            | i18nPlural: editionMapping
                        }}
                      </h2>
                      <div
                        class="w-100 text-start text-md-end d-flex justify-content-start justify-content-md-end align-items-center animate__animated animate__fadeIn animate__faster animate__delay-0s"
                        *ngIf="
                          (productToBuy?.minted ?? false) && owner != undefined;
                          else noMint
                        "
                      >
                        Owner:
                        {{ owner | address }}
                        <mat-icon
                          class="d-inline-flex justify-content-center align-items-center"
                          style="font-size: 15px"
                          role="button"
                          matTooltip="Copy Item Owner"
                          (click)="copyWalletURL()"
                        >
                          content_copy
                        </mat-icon>
                      </div>
                      <ng-template #noMint>
                        <div
                          class="w-100 text-start text-md-end"
                          *ngIf="owner != undefined"
                        >
                          Not Minted
                        </div>
                      </ng-template>
                    </div>
                    <hr />
                    <div
                      class="big-design-body text-start"
                      style="max-height: 30vh; overflow-y: scroll"
                    >
                      {{ productToBuy?.description }}
                    </div>
                  </div>
                </div>
              </mat-tab>

              <!-- <mat-tab class="tab">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon text-dark"
                    >analytics</mat-icon
                  >
                  <span class="ms-2 text-dark big-design-body fw-bold">
                    History
                  </span>
                </ng-template>
                <div class="w-100 h-100 p-2">
                  <div class="py-4 pb-3 big-design-card">
                    <div class="big-design-header">
                      <h2 class="big-design-title">Item Activity</h2>
                    </div>
                    <div
                      class="big-design-body w-100"
                      style="max-height: 30vh; overflow: scroll"
                    >
                      <table
                        *ngIf="(nftLogs.length ?? 0) > 0"
                        mat-table
                        [dataSource]="nftLogs"
                        class="w-md-100 text-{{
                          (storeInfo?.colorStyle)!.text_code
                        }} bg-white"
                      >
                        <ng-container matColumnDef="symbol">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-{{
                              (storeInfo?.colorStyle)!.text_code
                            }}"
                            [style.font-family]="storeInfo?.fontName!"
                          >
                            Event
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            style.color="{{ selectedTheme()!.color }}"
                          >
                            <mat-icon
                              class="m-0 p-0 hover-icon"
                              style="overflow: hidden"
                              [ngbTooltip]="etipContent"
                            >
                              {{ element.icon }}
                              <ng-template #etipContent>
                                {{ element.logEvent }}
                              </ng-template>
                            </mat-icon>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="from">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-{{
                              (storeInfo?.colorStyle)!.text_code
                            }} padding"
                            [style.font-family]="storeInfo?.fontName!"
                          >
                            From
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            style.color="{{ selectedTheme()!.color }}"
                            [style.font-family]="storeInfo?.fontName!"
                          >
                            {{ element.from | address }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="to">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-{{
                              (storeInfo?.colorStyle)!.text_code
                            }} padding"
                            [style.font-family]="storeInfo?.fontName!"
                          >
                            To
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            style.color="{{ selectedTheme()!.color }}"
                            [style.font-family]="storeInfo?.fontName!"
                          >
                            {{ element.to | address }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-{{
                              (storeInfo?.colorStyle)!.text_code
                            }} padding"
                            [style.font-family]="storeInfo?.fontName!"
                          >
                            Price
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            style.color="{{ selectedTheme()!.color }}"
                          >
                            <div
                              class="d-flex justify-content-start align-items-center w-100"
                            >
                              <p
                                class="m-0 h-100 fw-bolder"
                                style="font-size: large"
                                [style.font-family]="storeInfo?.fontName!"
                              >
                                {{
                                  element.price
                                    | currency
                                      : collection?.currency
                                      : "symbol"
                                      : "1.0-0"
                                }}
                              </p>
                            </div>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-{{
                              (storeInfo?.colorStyle)!.text_code
                            }} padding"
                            [style.font-family]="storeInfo?.fontName!"
                          ></th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-secondary"
                          >
                            <div
                              class="d-flex justify-content-center align-items-center"
                              [style.font-family]="storeInfo?.fontName!"
                            >
                              <mat-icon
                                style="overflow: hidden"
                                class="p-0 text-{{
                                  (storeInfo?.colorStyle)!.text_code
                                }}"
                                (click)="viewTxPolygonScan(element)"
                                [ngbTooltip]="gtipContent"
                              >
                                launch
                                <ng-template #gtipContent>
                                  View on Polygonscan
                                </ng-template>
                              </mat-icon>
                            </div>
                          </td>
                        </ng-container>
                        <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>
                      <div class="mb-0" *ngIf="(nftLogs.length ?? 0) == 0">
                        <p
                          class="text-start mb-0"
                          style.color="{{ selectedTheme()!.color }}"
                        >
                          No History
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab> -->

              <mat-tab class="tab">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon text-dark">share</mat-icon>
                  <span class="ms-2 text-dark big-design-body fw-bold">
                    Share
                  </span>
                </ng-template>
                <div class="w-100 h-100 p-2">
                  <div class="py-4 pb-3 w-100 big-design-card">
                    <div class="big-design-header">
                      <h2 class="big-design-title">Share Link</h2>
                    </div>
                    <div
                      class="big-design-body"
                      style="max-height: 30vh; overflow-y: scroll"
                      role="button"
                    >
                      <a
                        class="d-flex justify-content-start align-items-center text-dark"
                        style="text-decoration: none"
                        role="button"
                        (click)="copyURL()"
                      >
                        <mat-icon
                          class="me-1"
                          [inline]="true"
                          matTooltip="Copy Collection URL"
                        >
                          content_copy
                        </mat-icon>
                        Copy a link to this collection.
                      </a>
                      <p
                        class="text-success text-start"
                        style="font-size: small"
                        *ngIf="copied"
                      >
                        Copied to clipboard.
                      </p>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

        <div
          class="w-100 big-design-card position-absolute vh-80 h-md-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
          style="z-index: 10000; overflow-y: scroll"
          *ngIf="mode != 0"
        >
          <div class="w-100 h-100" *ngIf="mode == 2">
            <div
              *ngIf="methods; else loadingMethods"
              class="h-100 w-100 d-flex flex-column justify-content-between align-items-center"
            >
              <div class="big-design-header">
                <h2 class="big-design-title">2. Choose Payment Method</h2>
                <a class="text-dark" role="button" (click)="closeItem()">
                  <mat-icon> arrow_back </mat-icon>
                </a>
              </div>
              <div class="big-design-body w-100 h-100 p-3 px-1 px-md-3">
                <div class="big-design-card p-0 payment-wrapper">
                  <app-payment-method
                    *ngFor="let method of methods | paymentMethodFilter"
                    [data]="method"
                    (selectMethod)="toBilling($event)"
                  >
                  </app-payment-method>
                </div>
              </div>
            </div>
            <ng-template #loadingMethods>
              <div
                class="w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <div class="big-design-spinner" style="z-index: 100">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </ng-template>
          </div>
          <div
            class="w-100 h-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
            [hidden]="mode != 3"
          >
            <div
              class="h-100 w-100 d-flex flex-column justify-content-between align-items-center"
            >
              <div class="big-design-header">
                <h2 class="big-design-title">3. Payment</h2>
                <a class="text-dark" role="button" (click)="closeItem()">
                  <mat-icon> arrow_back </mat-icon>
                </a>
              </div>
              <div class="big-design-body w-100 h-100 px-1">
                <app-payment-collection (continue)="toCheckout($event)">
                </app-payment-collection>
              </div>
            </div>
          </div>
          <div
            class="w-100 h-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
            [hidden]="mode != 1"
          >
            <div
              class="h-100 w-100 d-flex flex-column justify-content-between align-items-center"
            >
              <div class="big-design-header">
                <h2 class="big-design-title">1. Billing Details</h2>
                <a class="text-dark" role="button" (click)="closeItem()">
                  <mat-icon> arrow_back </mat-icon>
                </a>
              </div>
              <div class="big-design-body w-100 h-100 px-1">
                <app-billing-checkout (continue)="toPaymentMethod($event)">
                </app-billing-checkout>
              </div>
            </div>
          </div>
          <div
            class="w-100 h-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
            *ngIf="mode == 4"
          >
            <div
              class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
            >
              <p class="w-100 text-center">Processing Order...</p>
              <div class="big-design-spinner" style="z-index: 100">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div
            class="w-100 h-100 animate__animated animate__fadeIn animate__faster animate__delay-0s"
            *ngIf="mode == 5"
          >
            <div
              class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
            >
              <div
                class="m-0 m-md-5 px-md-2 d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  loading="lazy"
                  [useSrcset]="true"
                  [defaultImage]="'/assets/default.png'"
                  [lazyLoad]="'assets/order_success.png'"
                  style="aspect-ratio: 1; object-fit: contain; height: 75px"
                />

                <h1
                  class="w-100 text-center fw-bolder mt-3"
                  style="color: #34cc73; font-size: xx-large"
                >
                  Success
                </h1>
                <p
                  class="w-100 text-center mt-2 text-secondary"
                  style="
                    font-size: small;
                    font-weight: lighter;
                    line-height: 1.5em;
                  "
                >
                  Check your email:
                  <span class="text-dark">{{
                    billingDetails.billing_address.email
                  }}</span>
                  <br />
                  for details on your NFT order.
                </p>
                <div
                  class="card bg-dark rounded p-3 px-4 w-auto mt-2"
                  role="button"
                  (click)="viewOrderDetails()"
                >
                  <p
                    class="w-100 my-auto text-light fw-bolder"
                    style="font-size: 20px"
                  >
                    View Details
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
