<div  >
    <div class="w-100 rounded" style="background-color: #e6e6e6; position: relative;" >
        <div class="bg-light rounded-top d-flex justify-content-between align-items-center px-3" style="height: 70px;">
            <a role="button" (click)="close()" style="text-shadow: 2px 2px 4px #42424281;">
                <mat-icon >highlight_off</mat-icon>
            </a>
            <mat-icon ></mat-icon>
        </div>
        <div class="p-0 pt-0 w-100">
            <div class="container-contact1 rounded-bottom w-100 h-100 p-2 d-flex justify-content-center" >
                
                <div class="w-100 py-1 d-flex justify-content-center">
                    <div class="contact1-pic w-100" >
                        <img class="w-100" src="{{linkImg}}" style="object-fit: contain; height: 100px;"  alt="IMG">
                    </div>
                </div>
                
    
                <form *ngIf="step == 0" class="mt-4 px-3 px-md-5 px-lg-5 w-100 contact1-form" [formGroup]="socialForm" >
                    <span class="contact1-form-title mb-4 fw-bolder" style="font-size: 20px;">
                        {{name}}
                    </span>
                    <div class="wrap-input1 w-100 mb-3">
                        <input class="input1 w-100 py-3 px-3 px-lg-4 px-md-4 fw-bold" type="text" name="link" formControlName="link" placeholder="{{name}} URL">
                        <span class="shadow-input1 py-3 px-2 px-lg-4 px-md-4"></span>
                    </div>
                </form>
                <form *ngIf="step == 1" class="mt-4 px-1 px-md-2 mb-2 px-lg-2 w-100 contact1-form" [formGroup]="socialForm" >
                    <span class="contact1-form-title mb-4 fw-bolder" style="font-size: 20px;">
                        Add these to your DNS records
                    </span>
                    <span *ngIf="copied" class="contact1-form-title mb-1 fw-bolder text-success" style="font-size: 12px;">
                        DNS record copied to clipboard
                    </span>
                    <table class="w-100 h-100 table table-hover bg-light">
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>Host/Name</th>
                            <th>Value</th>
                            <!-- <th *ngIf='(emails()?.length ?? 0) > 0'>Actions</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                    
                            <td >A</td>
                            <td>@</td>
                            <td>75.2.60.5</td>
                            <!-- <td>
                              <button class="btn btn-primary"> Show details</button>
                            </td> -->
                          </tr>
                          <tr>
                    
                            <td >CNAME</td>
                            <td>www</td>
                            <td>shopmythred.netlify.app</td>
                            <!-- <td>
                              <button class="btn btn-primary"> Show details</button>
                            </td> -->
                          </tr>
                          
                        </tbody>
                    </table>
           
                </form>
            </div>
        </div>
    </div>
    <div class="container-contact1-form-btn mb-4 mt-auto w-100">
        <button class="contact1-form-btn" (click)="finish()">
            <span class="my-auto p-3 px-4 fw-bolder">
                {{btnName()}}
            </span>
        </button>
    </div>
</div>