<router-outlet></router-outlet>


<ngx-spinner
*ngIf="isBrowser()" 
bdColor = '{{selectedIndicator().bg_color}}'
size = "large"
color = '{{selectedIndicator().color}}'
type = {{selectedIndicator().name}} 
[fullScreen] = "true"
style.color = "{{selectedIndicator()!.color}}"
>
<h3 class="text-center mt-5" [style.font-family]="storeInfo()?.fontName!"> Updating Billing Information...
</h3>
</ngx-spinner>

  <!-- Header-->
  <header *ngIf="isBrowser()" [hidden]="storeInfo()?.username == undefined || storeInfo()?.username == ''" class="bg-{{storeInfo()?.colorStyle!.back_code}} py-6" style="height: fit-content;">
    <img class="w-100 h-100" [src]='storeInfo()!.themeLink?.toString()'>
  </header>
  
    <section *ngIf="isBrowser() && storeInfo()?.username != undefined && cardOptions.style!.base!.color == selectedTheme().color" class="py-5" style.background-color="{{selectedTheme()!.bg_color}}">
      <div class="container pb-5 mb-2 mb-md-4">
  
        <div *ngIf="googlePay && !useGoogle" class="col d-flex justify-content-start">
          <a (click)="useG()" role="button">
            <img style="object-fit: contain;" [style.height.px]="45"  alt='ok' [src]="'/assets/google_pay_' + storeInfo()?.colorStyle!.back_code + '.png'" />
          </a>
          <!-- <button [style.font-family]="storeInfo()?.fontName!" (click)="useG()" class="px-5 btn btn-primary d-block"  (click)="calculate()">Use Google Pay</button> -->
        </div>

        <div *ngIf="microsoftPay && !useMicrosoft" class="col d-flex justify-content-start">
          <a (click)="useM()" role="button">
            <img style="object-fit: contain;" [style.height.px]="45"  alt='ok' [src]="'/assets/microsoft_pay_' + storeInfo()?.colorStyle!.back_code + '.png'" />
          </a>
          <!-- <button [style.font-family]="storeInfo()?.fontName!" (click)="useG()" class="px-5 btn btn-primary d-block"  (click)="calculate()">Use Google Pay</button> -->
        </div>
  
        
        <div *ngIf="applePay && !useApple" class="col d-flex justify-content-start">
          <a (click)="useA()" role="button">
            <img style="object-fit: contain;" [style.height.px]="45"  alt='ok' [src]="'/assets/apple_pay_' + storeInfo()?.colorStyle!.back_code + '.png'" />
          </a>
        </div>
          <div class="row mt-3">
            <!-- List of items-->
            <!-- <div class="d-flex justify-content-left align-items-center pb-4 pb-sm-5 mt-1 ms-2 ps-1">
              <a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
            </div> -->
            
            <section class="col-lg-8">
              
              
              <!-- Item-->
              <form [formGroup]="billingForm" novalidate>
                
                  <mat-card class="shipping-card bg-{{storeInfo()?.colorStyle!.back_code}} mt-0">
                    <mat-card-header *ngIf="useGoogle != true && useApple != true">
                      <mat-card-title style.color="{{selectedTheme()!.color}}" [style.font-family]="storeInfo()?.fontName!">Billing Method</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <div *ngIf="useGoogle != true && useApple != true" class="row">
                          <div class="col">
                            <mat-form-field class="full-width">
                              <input class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput style.color="{{selectedTheme()!.color}}" formControlName="cardholder">
                              <mat-placeholder  [style.color] = 'selectedTheme()!.color'>Cardholder Name</mat-placeholder>
                              <mat-error *ngIf="billingForm.controls['cardholder'].hasError('required')">
                                  Cardholder name is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                      </div>
                      <div *ngIf="useGoogle != true && useApple != true" class="row gx-10 row-cols-1 row-cols-md-3 row-cols-xl-3 mb-4 mt-4 justify-content-between">
  
                          <div class="col d-block">
                              <ngx-stripe-card
                              [options]="cardOptions"
                              [elementsOptions]="elementsOptions">
                              </ngx-stripe-card>
                          </div>
  
                      
                          
                      </div>
                      <div class="row" *ngIf="useGoogle != true && useApple != true && useMicrosoft != true">
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput formControlName="company" >
                            <mat-placeholder  [style.color] = 'selectedTheme()!.color'>Company (Optional)</mat-placeholder>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-5">
                          <mat-card-header>
                              <mat-card-title class="text-{{storeInfo()?.colorStyle!.text_code}}" [style.font-family]="storeInfo()?.fontName!">Billing Address</mat-card-title>
                            </mat-card-header>
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput formControlName="address">
                            <mat-placeholder  [style.color] = 'selectedTheme()!.color'>Address</mat-placeholder>
                            <mat-error *ngIf="billingForm.controls['address'].hasError('required')">
                              Address is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row" *ngIf="!hasUnitNumber">
                        <div class="col">
                          <button class="text-{{storeInfo()?.colorStyle!.text_code}}" mat-button  (click)="hasUnitNumber = !hasUnitNumber">
                            + Add C/O, Apt, Suite, Unit
                          </button>
                        </div>
                      </div>
                      <div class="row" *ngIf="hasUnitNumber">
                        <div class="col">
                          <mat-form-field class="full-width">
                            <textarea class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput formControlName="address2"></textarea>
                            <mat-placeholder  [style.color] = 'selectedTheme()!.color'>Address 2</mat-placeholder>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <mat-form-field class="full-width text-{{storeInfo()?.colorStyle!.text_code}}">
                                <mat-select formControlName="country">
                                  <mat-select-trigger class="text-{{storeInfo()?.colorStyle!.text_code}}">
                                    {{billingForm.controls['country'].value}}
                                  </mat-select-trigger>
                                  <mat-option class="not-empty-select text-{{storeInfo()?.colorStyle!.text_code}} bg-{{storeInfo()?.colorStyle!.back_code}}" *ngFor="let country of countries()" [value]="country.name">
                                    {{ country.name }}
                                  </mat-option>
                                </mat-select>
                                <mat-placeholder  [style.color] = 'selectedTheme()!.color'>Country</mat-placeholder>
                                <mat-error *ngIf="billingForm.controls['country'].hasError('required')">
                                  Country is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput formControlName="city">
                            <mat-placeholder  [style.color] = 'selectedTheme()!.color'>City</mat-placeholder>
                            <mat-error *ngIf="billingForm.controls['city'].hasError('required')">
                              City is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="full-width">

                            <input class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput formControlName="state">
                            <mat-placeholder  [style.color] = 'selectedTheme()!.color'>Province/State</mat-placeholder>
                            <mat-error *ngIf="billingForm.controls['state'].hasError('required')">
                              State is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo()?.colorStyle!.text_code}}" matInput #postalCode maxlength="10" formControlName="postalCode">
                            <mat-placeholder  [style.color] = 'selectedTheme()!.color'>{{getZipFieldName(billingForm.controls['country'].value)}}</mat-placeholder>
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                      <div *ngIf="shippingAddress();" class="row">
                        <div class="col">
                          <mat-radio-group formControlName="shipping">
                            <div>
                              <mat-radio-button class="text-{{storeInfo()?.colorStyle!.text_code}}" value="shipping" (change)="radioChange($event)">Use Shipping Address </mat-radio-button>
                            </div>
                            <div>
                              <mat-radio-button class="text-{{storeInfo()?.colorStyle!.text_code}}" value="custom" (change)="radioChange($event)">Use This Address</mat-radio-button>
                            </div>
                          </mat-radio-group>
                        </div>
                      </div>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-raised-button color="primary" type="submit">Submit</button>
                    </mat-card-actions> -->
                  </mat-card>
                </form>
              
              
            </section>
            <!-- Sidebar-->
            <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
                <div class="bg-{{storeInfo()?.colorStyle!.back_code}} rounded-3 shadow-lg p-4">
                  <div class="py-2 px-xl-2">
                    <div [hidden]="stillLoadingProducts()" class="text-center mb-4 pb-3 border-bottom">
                      <h2 [style.font-family]="storeInfo()?.fontName!" class="h6 mb-3 pb-1" style.color="{{selectedTheme()!.color}}">Subtotal</h2>
                      <h3 [style.font-family]="storeInfo()?.fontName!" class="fw-normal" style.color="{{selectedTheme()!.color}}">{{formatPrice(total())}}</h3>
                    </div>
                    <p [hidden]="err == ''" [style.font-family]="storeInfo()?.fontName!" class = "text-center mt-3 mb-3" style = "line-height:1.0em; font-size: 12px; height: 15px; font-weight: normal; color: red;">
                      {{err}}
                    </p>
                    <div *ngIf="googlePay && useGoogle" class="col my-4 d-flex justify-content-center rounded w-100" style.background-color="{{buttonBack()}}">
                      <a class="w-100" (click) = "addCard()" role="button">
                        <img class="w-100" style="object-fit: contain;" [style.height.px]="45"  alt='ok' [src]="'/assets/google_pay_' + storeInfo()?.colorStyle!.back_code + '.png'" />
                      </a>
                      <!-- <button [style.font-family]="storeInfo()?.fontName!" (click)="useG()" class="px-5 btn btn-primary d-block"  (click)="calculate()">Use Google Pay</button> -->
                    </div>
              
                    <div *ngIf="microsoftPay && useMicrosoft" class="col my-4 d-flex justify-content-center rounded" style.background-color="{{buttonBack()}}">
                      <a class="w-100" (click) = "addCard()" role="button">
                        <img class="w-100" style="object-fit: cover;" [style.height.px]="45"  alt='ok' [src]="'/assets/microsoft_pay_' + storeInfo()?.colorStyle!.back_code + '.png'" />
                      </a>
                    </div>
                    
                    <div *ngIf="applePay && useApple" class="col my-4 d-flex justify-content-center rounded" style.background-color="{{buttonBack()}}">
                      <a class="w-100" (click) = "addCard()" role="button">
                        <img class="w-100" style="object-fit: contain;" [style.height.px]="45"  alt='ok' [src]="'/assets/apple_pay_' + storeInfo()?.colorStyle!.back_code + '.png'" />
                      </a>
                    </div>

                    <div class="text-center my-2"><a *ngIf="!useApple && !useGoogle && !useMicrosoft" [style.font-family]="storeInfo()?.fontName!" class="btn mt-4 d-flex flex-wrap" style="font-weight:bold; font-size:20px; justify-content: center;" (click) = "addCard()" style.background-color="{{selectedTheme()!.color}}" style.color="{{selectedTheme()!.bg_color}}"  [innerHTML]="'Review Order'"></a></div>
                    <div class="accordion" id="order-options">
                      <!-- <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button" href="#promo-code" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Apply promo code</a></h3>
                        <div class="accordion-collapse collapse show" id="promo-code" data-bs-parent="#order-options">
                          <form class="accordion-body needs-validation" novalidate="novalidate">
                            <div class="mb-3">
                              <input (keyup)="onKey($event)"class="form-control" type="text" placeholder="Promo code" required="required"/>
                              <div class="invalid-feedback">Please provide promo code.</div>
                            </div>
                            <button class="btn btn-outline-primary d-block w-100"  (click) = "calculateDiscount()">Apply promo code</button>
                          </form>
                        </div>
                      </div> -->
                      <div class="accordion-item" style.background-color="{{selectedTheme()!.bg_color}}" style.color="{{selectedTheme()!.color}}">
                        <h3 [style.font-family]="storeInfo()?.fontName!" class="accordion-header" style.color="{{selectedTheme()!.color}}" ><a style.background-color="{{selectedTheme()!.bg_color}}" style.color="{{selectedTheme()!.color}}" class="accordion-button collapsed" href="#shipping-estimates" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Shipping estimates</a></h3>
                        <div class="accordion-collapse collapse" id="shipping-estimates" data-bs-parent="#order-options">
                          <div class="accordion-body">
                            <form class="needs-validation" novalidate="novalidate">
                              <div class="mb-3">
                                <h2 [style.font-family]="storeInfo()?.fontName!" class="h5 mb-3 pb-1" style.color="{{selectedTheme()!.color}}">Shipping: {{shipping()}}</h2>
                                <select  class="form-select" style.color="{{selectedTheme()!.color}}" style.background-color="{{selectedTheme()!.bg_color}}" (change)="calculateShipping($event)" required="required">
                                  <option value="">Choose your country</option>
                                  <option value="United States">United States</option>
                                  <option value="Canada">Canada</option>
                                  <option value="United Kingdom">United Kingdom</option>
                                  <option value="Australia">Australia</option>
                                </select>
                                
                                <div class="invalid-feedback">Please choose your country!</div>
                              </div>
                              
                              <!-- <div class="mb-3">
                                <select class="form-select" required="required">
                                  <option value="">Choose your city</option>
                                  <option value="Bern">Bern</option>
                                  <option value="Brussels">Brussels</option>
                                  <option value="Canberra">Canberra</option>
                                  <option value="Helsinki">Helsinki</option>
                                  <option value="Mexico City">Mexico City</option>
                                  <option value="Ottawa">Ottawa</option>
                                  <option value="Washington D.C.">Washington D.C.</option>
                                  <option value="Wellington">Wellington</option>
                                </select>
                                <div class="invalid-feedback">Please choose your city!</div>
                              </div> -->
                              <!-- <div class="mb-3">
                                <input class="form-control" type="text" placeholder="ZIP / Postal code" required="required"/>
                                <div class="invalid-feedback">Please provide a valid zip!</div>
                              </div> -->
    
                              <button [style.font-family]="storeInfo()?.fontName!" class="btn btn-primary d-block w-100"  (click)="calculate()">Calculate shipping</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 d-flex justify-content-end mt-2 mb-0 ">
                      <img class="rounded"  style="object-fit: contain;" [style.height.px]="60"  alt='ok' src="assets/secure.png"/>
                    </div>
                  </div>
                </div>
              </aside>
          </div>
        </div>
    </section>
  
    <!-- Bootstrap core JS-->
    <script *ngIf="isBrowser();" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script *ngIf="isBrowser();" src="js/scripts.js"></script>