<div
  mat-dialog-title
  class="d-flex p-2 justify-content-between align-items-center"
  style.background-color="{{ selectedTheme()!.bg_color }}"
>
  <!-- <h2 class="me-2 text-center d-none d-md-block">
      {{
        mode == 0
          ? editingBlock == undefined
            ? "Drag/Drop to Rearrange"
            : "Edit Block"
          : "Edit Page"
      }}
    </h2> -->

  <div
    class="d-flex justify-content-end align-items-center w-100 m-3 m-md-0 mb-md-3"
  >
    <a
      role="button"
      (click)="closeDialog()"
      class="btn-danger p-2 rounded-circle ms-2 fw-bolder text-light d-inline-flex justify-content-center align-items-center"
      style="font-size: x-large; text-decoration: none"
    >
      <mat-icon>highlight_off</mat-icon>
    </a>
  </div>
</div>
<mat-dialog-content class="h-100">
  <div
    class="w-100 h-100 card shadow rounded-0 px-2"
    *ngIf="signer"
    style="overflow-y: scroll"
    style.background-color="{{ selectedTheme()!.bg_color }}"
  >
    <ngx-spinner
      bdColor="{{ selectedIndicator().bg_color }}"
      size="medium"
      color="{{ selectedIndicator().color }}"
      type="{{ selectedIndicator().name }}"
      [fullScreen]="false"
      style.color="{{ selectedIndicator()!.color }}"
      [name]="'purchase'"
    >
      <h3 [style.font-family]="storeInfo()?.fontName!" class="text-center mt-5">
        Purchasing NFT
      </h3>
    </ngx-spinner>
    <div class="m-2 text-center bg-transparent">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div
          class="h-100 text-start w-50"
          style.color="{{ selectedTheme()!.color }}"
        >
          <h2 class="h2 my-0">{{ nft.name ?? "" }}</h2>
          <div class="wrap-input1 w-100">
            {{ collection.name ?? "" }}
          </div>
        </div>
        <div>
          <a
          role="button"
          class="text-secondary text-{{
            storeInfo()?.colorStyle!.text_code
          }} d-inline-flex mx-0 align-items-center w-100 justify-content-end"
          style="font-size: 18px; text-decoration: none"
        >
          <!-- {{ "Price" }} -->
          <mat-icon
            class="m-0 p-0 me-2"
            style="overflow: hidden"
            svgIcon="{{ collection | matIcon }}"
          >
          </mat-icon>
          <b style="font-size: 34px">
            {{ nft?.price | price | commaNum }}
          </b>
        </a>
        <h3
        class="mt-1 d-none d-md-block"
          role="button"
          style="font-size: 18px; width: fit-content"
          style.color="{{ selectedTheme()!.color }}"
          [ngbTooltip]="priceConvertTooltip2"
        >
          <ng-template #priceConvertTooltip2>
            {{ "Asset price in USD" }}
          </ng-template>
          {{
            nft?.price
              | price
              | ratePipe: (collection | productCurrency)
          }}
        </h3>
        </div>

      </div>

      <video
        class="my-3 rounded-10"
        style="object-fit: cover; aspect-ratio: 1; width: 90%; overflow: hidden"
        poster="/assets/default.png"
        autoplay="true"
        loop="true"
        muted="true"
        controls="true"
        playsinline="true"
        *ngIf="nft?.format == 'video' && nft.url != undefined"
        src="{{ nft.url! | fileDownloader | async | bufferToBase64 }}"
      ></video>

      <img
        loading="lazy"
        id="image"
        class="my-3 rounded-10"
        style="object-fit: cover; aspect-ratio: 1; width: 90%; overflow: hidden"
        [useSrcset]="true"
        [defaultImage]="'/assets/default.png'"
        [lazyLoad]="nft?.linkUrl ?? '/assets/default.png'"
        alt="ok"
        *ngIf="nft?.format == 'image'"
      />

      <p *ngIf="err != ''" class="text-danger text-center fw-bold">
        {{ err }}
      </p>
      <div class="d-flex justify-content-center mb-1 mt-0">
        <a
          style="font-size: large"
          role="button"
          class="btn btn-dark rounded-pill px-3 fw-bolder"
          (click)="purchase()"
          >COMPLETE PURCHASE</a
        >
      </div>
    </div>
  </div>
  <div
    *ngIf="!signer"
    class="d-flex justify-content-center align-items-center p-3 pb-4"
    style="height: 100%"
    style.background-color="{{ selectedTheme()!.bg_color }}"
  >
    <div class="w-100 text-center" [style.font-family]="storeInfo()?.fontName!">
      <div
        class="d-flex justify-content-center align-items-center mb-4"
        style="height: 100px"
      >
        <img
          src="assets/metamask.png"
          class="h-100 mx-3"
          style="object-fit: contain; aspect-ratio: 1"
        />
        <img
          src="assets/walletconnect.png"
          class="h-100 mx-3"
          style="object-fit: contain; aspect-ratio: 1"
        />
      </div>
      <h2
        class="fw-bolder w-100 text-center"
        style="font-size: 35px; line-height: 1.2em"
        style.color="{{ selectedIndicator()!.color }}"
      >
        Cannot Connect to Wallet
      </h2>
      <p
        class="w-100 text-center text-secondary"
        style="font-size: 17.5px; line-height: 1.2em"
      >
        Please make sure a Metamask/WalletConnect compatible wallet is available
        and try again
      </p>
      <a
        class="btn btn-dark rounded-pill fw-bolder px-3 text-center mt-2"
        (click)="setProvider()"
        style="font-size: 25px"
      >
        REFRESH
      </a>
    </div>
  </div>
</mat-dialog-content>

<!-- (load)='passVars(iframe2)' -->
