<router-outlet></router-outlet>


<ngx-spinner
*ngIf="isBrowser()" 
bdColor = '{{selectedIndicator().bg_color}}'
size = "large"
color = '{{selectedIndicator().color}}'
type = {{selectedIndicator().name}} 
[fullScreen] = "true"
style.color = "{{selectedIndicator()!.color}}"
>
<h3 class="text-center mt-5" [style.font-family]="storeInfo().fontName!"> Updating Shipping Address...
</h3>
</ngx-spinner>
  <!-- Header-->

  <header *ngIf="isBrowser() && storeInfo().username != undefined" class="bg-{{storeInfo().colorStyle!.back_code}} py-6">
    <div class="cover" [style.background-image]='"url(" + (storeInfo()!.themeLink?.toString() ?? "") + ")"'>
        <div class="d-flex align-items-center justify-content-center" style="height: 200px; font-weight: bold;font-size:35px">
          <div class="px-2">
            <p [style.font-family]="storeInfo().fontName!" class = "text-center" style = "line-height:1.2em;text-shadow: 2px 2px 4px #42424281;">
              SHIPPING
             </p>
             <p [style.font-family]="storeInfo().fontName!" class = "text-center" style = "line-height:1.2em; font-size:25px; text-shadow: 2px 2px 4px #42424281;">
              SECURE CHECKOUT
              <mat-icon [inline]='true'>
                lock
              </mat-icon>
             </p>
          </div>
           </div>
      </div>
  </header>

    <section *ngIf="isBrowser() && storeInfo().username != undefined" class="py-5" style.background-color="{{selectedTheme()!.bg_color}}">
      <div class="container pb-5 mb-2 mb-md-4">
          <div class="row mt-3">
            <!-- List of items-->
            <!-- <div class="d-flex justify-content-left align-items-center pb-4 pb-sm-5 mt-1 ms-2 ps-1">
              <a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
            </div> -->
            <section class="col-lg-8">
              
              <!-- Item-->
              <form [formGroup]="addressForm" novalidate>
                  <mat-card class="shipping-card bg-{{storeInfo().colorStyle!.back_code}} mt-0">
                    <mat-card-header>
                      <mat-card-title class="text-{{storeInfo().colorStyle!.text_code}}" [style.font-family]="storeInfo().fontName!">Shipping Information</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row">
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput formControlName="firstName">
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>First name</mat-placeholder>
                            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                              First name is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput formControlName="lastName">
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Last name</mat-placeholder>
                            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                              First name is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <mat-form-field class="full-width">
                                <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput [email]="true" type="email" name="email" formControlName="email">
                                <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Email Address</mat-placeholder>
                                <mat-hint [style.color] = 'selectedTheme()!.color' align="end">Required for Shipment Tracking</mat-hint>
                                <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
                                  Email address is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="addressForm.controls['email'].hasError('email')">
                                  Email address is <strong>invalid</strong>
                                </mat-error>
                              </mat-form-field>
                          </div>
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput  formControlName="company">
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Company (Optional)</mat-placeholder>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <mat-form-field class="full-width">
                              <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput formControlName="address">
                              <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Address</mat-placeholder>
                              <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                              Address is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row" *ngIf="!hasUnitNumber">
                        <div class="col">
                          <button class="text-{{storeInfo().colorStyle!.text_code}}" mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
                            + Add C/O, Apt, Suite, Unit
                          </button>
                        </div>
                      </div>
                      <div class="row" *ngIf="hasUnitNumber">
                        <div class="col">
                          <mat-form-field class="full-width">
                            <textarea class="text-{{storeInfo().colorStyle!.text_code}}" matInput formControlName="address2"></textarea>
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Address 2</mat-placeholder>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <mat-form-field class="full-width labels">
                                <mat-select class="labels" formControlName="country">
                                  <mat-select-trigger class="text-{{storeInfo().colorStyle!.text_code}}">
                                    {{addressForm.controls['country'].value}}
                                  </mat-select-trigger>
                                  <mat-option class="not-empty-select text-{{storeInfo().colorStyle!.text_code}} bg-{{storeInfo().colorStyle!.back_code}}" *ngFor="let country of countries()" [value]="country.name">
                                    {{ country.name }}
                                  </mat-option>
                                </mat-select>
                                <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Country</mat-placeholder>
                                <mat-error *ngIf="addressForm.controls['country'].hasError('required')">
                                  Country is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput formControlName="city">
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>City</mat-placeholder>
                            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                              City is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="full-width my-component">
                            <mat-select class="labels" formControlName="state">
                              <mat-select-trigger class="text-{{storeInfo().colorStyle!.text_code}}">
                                {{addressForm.controls['state'].value}}
                              </mat-select-trigger>
                              <mat-option class="not-empty-select text-{{storeInfo().colorStyle!.text_code}} bg-{{storeInfo().colorStyle!.back_code}}" *ngFor="let state of states(addressForm.controls['country'].value)" [value]="state.abbreviation">
                                {{ state.name }}
                              </mat-option>
                            </mat-select>
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>{{getStateFieldName(addressForm.controls['country'].value)}}</mat-placeholder>
                            <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                              State is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <mat-form-field class="full-width">
                            <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput #postalCode maxlength="10" formControlName="postalCode">
                            <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>{{getZipFieldName(addressForm.controls['country'].value)}}</mat-placeholder>
                            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <mat-form-field class="full-width">
                                <input class="text-{{storeInfo().colorStyle!.text_code}}" matInput  name="phone" formControlName="phone">
                                <mat-placeholder class="placeholder" [style.color] = 'selectedTheme()!.color'>Phone Number</mat-placeholder>
                                <mat-hint [style.color] = 'selectedTheme()!.color' align="end">Required for Shipment Tracking</mat-hint>
                                <mat-error *ngIf="addressForm.controls['phone'].hasError('required')">
                                  Phone Number is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="addressForm.controls['phone'].errors?.pattern">
                                  Phone Number is <strong>invalid</strong>
                                </mat-error>
                              </mat-form-field>
                          </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col">
                          <mat-radio-group formControlName="shipping">
                            <mat-radio-button class="text-{{storeInfo().colorStyle!.text_code}}" value="free">Free Shipping</mat-radio-button>
                            <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
                            <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div> -->
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-raised-button color="primary" type="submit">Submit</button>
                    </mat-card-actions> -->
                  </mat-card>
                </form>
              
              
            </section>
            <!-- Sidebar-->
           <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
              <div class="bg-{{storeInfo().colorStyle!.back_code}} rounded-3 shadow-lg p-4">
                <div class="py-2 px-xl-2">
                  <div [hidden]="stillLoadingProducts()" class="text-center mb-4 pb-3 border-bottom">
                    <h2 [style.font-family]="storeInfo().fontName!" class="h6 mb-3 pb-1" style.color="{{selectedTheme()!.color}}">Subtotal</h2>
                    <h3 [style.font-family]="storeInfo().fontName!" class="fw-normal" style.color="{{selectedTheme()!.color}}">{{formatPrice(total())}}</h3>
                  </div>
                  <p [hidden]="err == ''" [style.font-family]="storeInfo().fontName!" class = "text-center mt-3 mb-3" style = "line-height:1.0em; font-size: 12px; height: 15px; font-weight: normal; color: red;">
                    {{err}}
                  </p>
                  <div class="text-center mt-2"><a [style.font-family]="storeInfo().fontName!" class="btn my-2 d-flex flex-wrap" style="font-weight:bold; font-size:20px; justify-content: center;" (click) = "save()" style.background-color="{{selectedTheme()!.color}}" style.color="{{selectedTheme()!.bg_color}}"  [innerHTML]="'Continue'"></a></div>
                  <div class="accordion" id="order-options">
                    <!-- <div class="accordion-item">
                      <h3 class="accordion-header"><a class="accordion-button" href="#promo-code" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Apply promo code</a></h3>
                      <div class="accordion-collapse collapse show" id="promo-code" data-bs-parent="#order-options">
                        <form class="accordion-body needs-validation" novalidate="novalidate">
                          <div class="mb-3">
                            <input (keyup)="onKey($event)"class="form-control" type="text" placeholder="Promo code" required="required"/>
                            <div class="invalid-feedback">Please provide promo code.</div>
                          </div>
                          <button class="btn btn-outline-primary d-block w-100" type="button" (click) = "calculateDiscount()">Apply promo code</button>
                        </form>
                      </div>
                    </div> -->
                    <div class="accordion-item" style.background-color="{{selectedTheme()!.bg_color}}" style.color="{{selectedTheme()!.color}}">
                      <h3 [style.font-family]="storeInfo().fontName!" class="accordion-header" style.color="{{selectedTheme()!.color}}" ><a style.background-color="{{selectedTheme()!.bg_color}}" style.color="{{selectedTheme()!.color}}" class="accordion-button collapsed" href="#shipping-estimates" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Shipping estimates</a></h3>
                      <div class="accordion-collapse collapse" id="shipping-estimates" data-bs-parent="#order-options">
                        <div class="accordion-body">
                          <form class="needs-validation" novalidate="novalidate">
                            <div class="mb-3">
                              <h2 [style.font-family]="storeInfo().fontName!" class="h5 mb-3 pb-1" style.color="{{selectedTheme()!.color}}">Shipping: {{shipping()}}</h2>
                              <select  class="form-select" style.color="{{selectedTheme()!.color}}" style.background-color="{{selectedTheme()!.bg_color}}" (change)="calculateShipping($event)" required="required">
                                <option value="">Choose your country</option>
                                <option value="United States">United States</option>
                                <option value="Canada">Canada</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Australia">Australia</option>
                              </select>
                              
                              <div class="invalid-feedback">Please choose your country!</div>
                            </div>
                            
                            <!-- <div class="mb-3">
                              <select class="form-select" required="required">
                                <option value="">Choose your city</option>
                                <option value="Bern">Bern</option>
                                <option value="Brussels">Brussels</option>
                                <option value="Canberra">Canberra</option>
                                <option value="Helsinki">Helsinki</option>
                                <option value="Mexico City">Mexico City</option>
                                <option value="Ottawa">Ottawa</option>
                                <option value="Washington D.C.">Washington D.C.</option>
                                <option value="Wellington">Wellington</option>
                              </select>
                              <div class="invalid-feedback">Please choose your city!</div>
                            </div> -->
                            <!-- <div class="mb-3">
                              <input class="form-control" type="text" placeholder="ZIP / Postal code" required="required"/>
                              <div class="invalid-feedback">Please provide a valid zip!</div>
                            </div> -->
  
                            <button [style.font-family]="storeInfo().fontName!" class="btn btn-primary d-block w-100" type="button" (click)="calculate()">Calculate shipping</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-100 d-flex justify-content-end mt-2 mb-0 ">
                    <img class="rounded"  style="object-fit: contain;" [style.height.px]="60"  alt='ok' src="assets/secure.png"/>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
    </section>
  