<!-- Navigation-->
<router-outlet></router-outlet>

<ngx-spinner
  *ngIf="isBrowser() && (page?.loader ?? true)"
  bdColor="{{ selectedIndicator().bg_color }}"
  size="large"
  color="{{ selectedIndicator().color }}"
  type="{{ selectedIndicator().name }}"
  [fullScreen]="true"
  style.color="{{ selectedIndicator()!.color }}"
>
  <h3 class="text-center mt-5" [style.font-family]="storeInfo?.fontName!">
    {{ storeInfo?.fullName }}
  </h3>
</ngx-spinner>

<!-- Header-->

<!-- Section-->
<section
  class="py-5 pt-0 w-100"
  [class.fixed-top]="page?.fullscreen ?? false"
  style="overflow-y: scroll; min-height: 60vh;"
  style.background-color="{{ selectedTheme()!.bg_color }}"
  (window:resize)="resize()"
  #header
>
  <div class="w-100 h-100">
    <div class="w-100" *ngFor="let row of homeRows ?? []; index as i">
      <div
        *ngIf="(row.text ?? '').trim() != ''"
        class="d-flex align-items-center justify-content-center pb-1 mb-5"
        style="height: 50px; font-weight: bold; font-size: 30px"
        style.color="{{ selectedTheme()!.color }}"
      >
        <p
          class="text-center text-{{ (storeInfo?.colorStyle)!.text_code }}"
          style="line-height: 1.2em"
          [style.font-family]="storeInfo?.fontName!"
        >
          {{ row.text }}
        </p>
      </div>
      <!-- data-aos="fade-right" data-aos-duration="200" -->

      <!-- href="{{ '/products/' + product.tokenID | storeChecker }}" -->
      <div class="w-100" *ngIf="row.type == 0 && !shouldHide()">
        <div
          class="row mx-2 gx-3 gx-lg-3 row-cols-1 row-cols-md-{{
            row.grid_row ?? 1
          }} justify-content-center mt-3"
        >
          <div
            class="col mb-3"
            *ngFor="
              let product of row.products ?? []
            "
          >
            <div
              class="bg-{{
                (storeInfo?.colorStyle)!.back_code
              }} shadow rounded border border-secondary"
              [class.border-secondary]="
                (storeInfo?.colorStyle)!.text_code == 'light'
              "
              style="overflow: hidden"
              *ngIf="items![product]"
            >
              <div class="pb-0 w-100">
                <a
                  role="button"
                  class="w-100"
                  (click)="routeToProduct(items![product].nft)"
                >
                  <img
                    loading="lazy"
                    id="image"
                    class="h-100 w-100 {{ (storeInfo?.colorStyle)!.back_code }}"
                    [useSrcset]="true"
                    [defaultImage]="'/assets/default.png'"
                    [lazyLoad]="items![product].nft?.img ?? '/assets/default.png'"
                    alt="ok"
                    style="
                      object-fit: cover;
                      aspect-ratio: 1;
                      margin-bottom: 0.35em;
                    "
                  />
                </a>
                <div
                  class="card-body text-start w-100 d-flex justify-content-between align-items-center"
                >
                  <p
                    class="fw-bolder w-100 my-auto"
                    style="
                      text-decoration: none;
                      text-overflow: ellipsis;
                      word-wrap: break-word;
                      word-break: break-all;
                      overflow-x: hidden;
                      font-size: medium;
                    "
                    style.color="{{ selectedTheme()!.color }}"
                    [style.font-family]="storeInfo?.fontName!"
                    role="button"
                    (click)="routeToProduct(items![product].nft)"
                  >
                    {{ items![product].nft.name }}
                  </p>
                  <a
                    class="btn  mt-auto d-flex justify-content-center text-center"
                    style="font-weight: bold"
                    role="button"
                    (click)="routeToProduct(items![product].nft)"
                  >
                    <!-- <mat-icon
                      class="m-0 p-0 me-1"
                      style="overflow: hidden; height: 25px"
                      svgIcon="{{
                        items![product].collection.customToken | matIcon
                      }}"
                      [ngbTooltip]="qtipContent"
                    >
                      <ng-template #qtipContent>
                        {{
                          collectionCurrency(items![product].nft.docID)
                        }}
                      </ng-template>
                    </mat-icon> -->
                    <!-- {{ items![product].nft?.price | price }} -->
                    <!-- {{
                      items![product].nft?.price
                        | price
                        | ratePipe
                    }} -->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row gx-0 row-cols-1 row-cols-md-{{
          row.grid_row ?? 1
        }} justify-content-center w-100 mx-0"
        *ngIf="row.type == 1"
      >
        <div class="col mb-1" *ngFor="let img of row.imgs ?? []; index as i">
          <div
            class="d-block align-items-center text-center text-sm-start w-100"
          >
            <a
              class="ms-0 me-0"
              role="button"
              (click)="imgLinkPressed((row.imgLinks ?? [])[i])"
            >
              <img
                loading="lazy"
                class="h-auto w-100 {{ (storeInfo?.colorStyle)!.back_code }}"
                [useSrcset]="true"
                [defaultImage]="'/assets/default.png'"
                [lazyLoad]="img"
                alt="ok"
              />
            </a>
          </div>
        </div>
      </div>



      <div
        class="row gx-0 row-cols-1 row-cols-md-{{
          row.grid_row ?? 1
        }} justify-content-center w-100 mx-0"
        *ngIf="row.type == 4"
      >
        <div class="col mb-1" *ngFor="let vid of row.vids ?? []; index as i">
          <div
            class="d-block align-items-center text-center text-sm-start w-100"
          >
            <a class="ms-0 me-0" role="button">
              <iframe
                [src]="vid | videoPipe | safeUrl"
                width="100%"
                style="aspect-ratio: 16/9"
              ></iframe>
            </a>
          </div>
        </div>
      </div>

      <div
        class="w-100 m-0"
        *ngIf="row.type == 7"
        style="height: 100vh"
        id="c{{ i }}"
      >
        <iframe
          width="100%"
          style="height: 100vh"
          id="frame{{ i }}"
          (load)="resizeIframe(i)"
          [srcdoc]="row.htmlTemplate ?? '' | storePipe | safeHtml"
        >
        </iframe>
      </div>

      <div class="w-100 mx-0" *ngIf="row.type == 2">
        <div
          class="px-3 my-0"
          [style.font-family]="storeInfo?.fontName!"
          style.color="{{ selectedTheme()!.color }}"
          [innerHTML]="row.html ?? '' | safeTextRows"
        ></div>
      </div>
    </div>
    <div
      class="mb-0 bg-{{ (storeInfo?.colorStyle)!.back_code }}"
      *ngIf="page?.fullscreen ?? false"
    >
      <h3 class="h-100 w-100 text-center text-muted">Powered By Thred</h3>
    </div>
  </div>
</section>

<!-- Footer-->
<!-- Bootstrap core JS-->

<script
  *ngIf="isBrowser()"
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
></script>

<!-- Core theme JS-->
<script *ngIf="isBrowser()" src="js/scripts.js"></script>
