<!-- Navigation-->
<router-outlet></router-outlet>

<!-- Header-->

<!-- Section-->
<section
  class="py-5 pt-0 w-100 bg-transparent"
  [class.fixed-top]="page?.fullscreen ?? false"
  style="overflow-y: scroll; min-height: 60vh"
  (window:resize)="resize()"
  #header
>
  <div class="w-100 h-100">
    <div
      class="w-100"
      [style.background-color]="row.backgroundColor"
      *ngFor="let row of homeRows ?? []; index as i"
    >
      <div
        *ngIf="(row.text ?? '').trim() != ''"
        class="d-flex align-items-center justify-content-center pb-1 mb-5"
        style="height: 50px; font-weight: bold; font-size: 30px"
        style.color="{{ (storeInfo | storeTheme)!.color }}"
      >
        <p
          class="text-center text-dark"
          style="line-height: 1.2em"
          [style.font-family]="storeInfo?.fontName!"
        >
          {{ row.text }}
        </p>
      </div>
      <!-- data-aos="fade-right" data-aos-duration="200" -->

      <!-- href="{{ '/products/' + product.tokenID | storeChecker }}" -->
      <div class="w-100" *ngIf="row.type == 0 && !shouldHide()">
        <app-product-section
          [items]="items"
          [row]="row"
          [storeInfo]="storeInfo"
          [selectedTheme]="storeInfo | storeTheme"
          (nftPressed)="routeToProduct($event)"
        >
        </app-product-section>
      </div>

      <div
        class="row gx-0 row-cols-1 row-cols-md-{{
          row.grid_row ?? 1
        }} justify-content-center w-100 mx-0"
        *ngIf="row.type == 1"
      >
        <div class="col mb-1" *ngFor="let img of row.imgs ?? []; index as i">
          <div
            class="d-block align-items-center text-center text-sm-start w-100"
          >
            <a
              class="ms-0 me-0"
              role="button"
              (click)="imgLinkPressed((row.imgLinks ?? [])[i])"
            >
              <img
                loading="lazy"
                class="h-auto w-100 white"
                [useSrcset]="true"
                [defaultImage]="'/assets/default.png'"
                [lazyLoad]="img"
              />
            </a>
          </div>
        </div>
      </div>

      <div
        class="row gx-0 row-cols-1 row-cols-md-{{
          row.grid_row ?? 1
        }} justify-content-center w-100 mx-0"
        *ngIf="row.type == 4"
      >
        <div class="col mb-1" *ngFor="let vid of row.vids ?? []; index as i">
          <div
            class="d-block align-items-center text-center text-sm-start w-100"
          >
            <a class="ms-0 me-0" role="button">
              <iframe
                [src]="vid | videoPipe | safeUrl"
                width="100%"
                style="aspect-ratio: 16/9"
              ></iframe>
            </a>
          </div>
        </div>
      </div>

      <!-- <div
        class="w-100 m-0"
        *ngIf="row.type == 7"
        style="height: 100vh"
        id="c{{ i }}"
      >
        <iframe
          width="100%"
          style="height: 100vh"
          id="frame{{ i }}"
          (load)="resizeIframe(i)"
          [srcdoc]="row.htmlTemplate ?? '' | storePipe | safeHtml"
        >
        </iframe>
      </div> -->

      <div class="w-100 mx-0 h-100" *ngIf="row.type == 2">
        <div
          class="px-3 my-0"
          [style.font-family]="storeInfo?.fontName!"
          style.color="{{ (storeInfo | storeTheme)!.color }}"
          [innerHTML]="row.html ?? '' | safeTextRows"
        ></div>
      </div>
    </div>
  </div>
</section>
