.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.cover{
    color: rgb(255, 255, 255);
    position: relative;
    /* height: 500px; */
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.low{
    color: rgb(165, 101, 42);
}

.mid{
    color: silver;
}

.high{
    color: gold;
}

.old-price {
    text-decoration: line-through;
    text-decoration-style: solid;
    color: #808080;
  }
  
  .new-price {
    text-decoration: none;
  }

.middle{
    color: rgb(255, 255, 255);
    position: relative;
    /* height: 500px; */
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}