<ngx-spinner
    bdColor = '{{selectedIndicator().bg_color}}'
    size = "medium"
    color = '{{selectedIndicator().color}}'
    type = {{selectedIndicator().name}} 
    [fullScreen] = "false"
    style.color = "{{selectedIndicator()!.color}}"
    [name]="'invSpinner'"
    [disableAnimation] = "true"
    >
    <!-- <h3 class="text-center mt-5" [style.font-family]="storeInfo().fontName!" class="mt-5">UPLOADING PRODUCT...</h3> -->
    </ngx-spinner>
<div *ngIf="mode == 'add'" class="my-4">
    <div class="d-flex align-items-center justify-content-center  my-3" style="font-size: 28px;">
        <label style="color: #6c757d;"  class = "mb-1 me-1 text-center fw-bold">Remaining: </label>
        <mat-hint  align="start"><a class="fw-bolder text-center text-dark" role="button" style="text-decoration: none;" > {{inventory!.amount ?? 0}}</a></mat-hint>
    </div>
    <div class="rounded mx-auto" style="width: 35%; aspect-ratio: 1 / 1" >
        <a role="button" style="text-shadow: 2px 2px 4px #42424281;">
            <img [src]='getTypeImages(inventory!.name)' class="rounded img-responsive h-100 w-100 p-1" style="object-fit:contain; background-color: #cdf4fc;">
        </a>
    </div>
    <div class="d-block align-items-center justify-content-center mt-4 mb-5" style="font-size: 15px;">
        <button (click)="buyMore(inventory!)" class="btn btn-dark d-flex my-2 mx-auto d-flex align-items-center justify-content-center" style="width: 35%;">Add 100 Units for {{formatPrice((matchTemplate(inventory!).bulkPrice), true)}}</button>
        <button *ngIf="!inventory!.autoReload" (click)="setUpAutoReload(inventory!)" class="btn btn-dark d-flex align-items-center justify-content-center mx-auto my-2 fw-bolder" style="width: 35%;">Set up Auto-Reload</button>
        <button *ngIf="inventory!.autoReload" (click)="removeAutoReload(inventory!)" class="btn btn-success d-flex align-items-center justify-content-center mx-auto my-2 fw-bolder" style="width: 35%;">Auto-Reload<mat-icon class="ms-1">check_circle</mat-icon></button>
    </div>
</div>
<div *ngIf="mode == 'new'" class="my-4">
    <div class="d-flex align-items-center justify-content-center my-3" style="font-size: 28px;">
        <h2 class="text-center fw-bolder m-2" style="font-size: x-large;" >{{template!.templateDisplayName}}</h2>

        <!-- <label style="color: #6c757d;" [style.font-family]="storeInfo().fontName!" class = "mb-1 me-1 text-center">Remaining: </label>
        <mat-hint [style.font-family]="storeInfo().fontName!"  align="start"><a class="fw-bolder text-center" role="button" style="text-decoration: none;" > {{inventory!.amount ?? 0}}</a></mat-hint> -->
    </div>
    <div class="rounded mx-auto" style="width: 35%; aspect-ratio: 1 / 1" >
        <a role="button" style="text-shadow: 2px 2px 4px #42424281;">
            <img [src]='getTypeImages(template!.templateDisplayName)' class="rounded img-responsive h-100 w-100 p-1" style="object-fit:contain; background-color: #cdf4fc;">
        </a>
    </div>
    <div class="d-block align-items-center justify-content-center mt-4 mb-5" style="font-size: 15px;">
        <button (click)="buyNew(template!)" class="btn btn-dark d-flex my-2 align-items-center justify-content-between mx-auto fw-bolder" style="width: 35%;">Buy {{template!.bulkUnit}} Units for {{formatPrice((template!.bulkPrice / 100) * template!.bulkUnit, true)}}<mat-icon class="ms-1">check_circle</mat-icon></button>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div style="width: fit-content;">
            <h2 class="text-start fw-bolder m-2" style="font-size: x-large;" >Benefits of pre-purchasing {{template!.templateDisplayName.toLowerCase()}}:</h2>
            <p class="text-start  m-2">• <b>{{calculateMarginPercent(template!)}}% margins</b> on every sale, giving you full control on pricing.  <br><p *ngIf="(template!.supportedSides.length ?? 0) > 1" style="color: #6c757d;">(-{{formatPrice((template?.extraCost ?? 0) / 100, true)}} per. <b>additional</b> side)</p></p>
            <p class="text-start  m-2"  >• <b>{{calculateMarginDifference(template!)}}x your current margins</b> when pricing at {{formatPrice((template?.bulkSuggestPrice ?? 0) / 100)}}. <br><p style="color: #6c757d;">(Profit: <b>{{formatPrice(calculateMargin(true, template!))}} per. {{template!.templateDisplayName.slice(0,-1).toLowerCase()}}</b>)</p></p>
            <p class="text-start  m-2"  >• When you pre-purchase your inventory, you have <b>full ownership</b>. <br><p style="color: #6c757d;">(You own your {{template!.bulkUnit}} {{template!.templateDisplayName.toLowerCase()}})</p></p>
            <p class="text-start  m-2"  >• Thred will fulfill your orders/manage your inventory with <b>no added cost</b>. <br><p style="color: #6c757d;">(Sit back, and make money  🎨💰)</p></p>

        </div>
    </div>
</div>